openapi: 3.0.0
info:
  title: DataGOL APIs
  version: 1.0.0
  description: ''
servers:
  - url: https://be.datagol.ai
  - url: https://be.datagol.ai
  - url: https://kg.datagol.ai
  - url: https://ai.datagol.ai
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        This API uses OAuth 2.0 with the authorization code grant flow.
tags:
  - name: Links & Joins
    description: |
      ## 🔗 Links & Joins

      LINK and LOOKUP are special workbook column types that enable relational data modeling across tables.

      | Column Type | Purpose |
      |---|---|
      | `LINK` | Defines a relationship between two tables |
      | `LOOKUP` | Projects columns from an associated table via a link |

      Both are configured through `ColumnDTO.colOptions`. A table can have multiple link columns, and each link can have multiple lookup columns.

      ---

      ## 📐 UI Data Types

      - **LINK** — Special column used to represent inter-table relations
      - **LOOKUP** — Special column used to project associated table fields via a link

      ---

      ## 🔗 LINK Semantics

      A LINK column stores metadata for:
      - `tableId` — Current table
      - `associatedTableId` — Associated (linked) table
      - `relationType` — Type of relationship
      - `linkColumnId` — Link column identifier

      **Supported relation patterns:**

      | Pattern | Description |
      |---|---|
      | `ONE_TO_ONE` | Each record in the source maps to one record in the destination |
      | `ONE_TO_MANY` | One source record maps to many destination records |
      | `MANY_TO_MANY` | Many source records map to many destination records |

      ---

      ## 🔍 LOOKUP Semantics

      - A LOOKUP column is tightly coupled with a specific LINK column
      - References a link using `linkColumnId`
      - Represents a selected column from the associated table
      - Multiple lookup columns can be defined for the same link

      ---

      ## 🗂️ Metadata in `ColumnDTO.colOptions`

      Use `colOptions` to persist link/lookup metadata.

      | Field | Description |
      |---|---|
      | `columnId` | Current column ID |
      | `tableId` | Current table ID |
      | `associatedTableId` | Associated table ID |
      | `linkColumnId` | Link column ID — used by LOOKUP; references the LINK column's `columnId` |
      | `relationType` | Relation semantics for LINK |

      ---

      ## 🔄 Manual Linking Record Flow

      To create manual record-level links:

      1. Fetch associated table schema/data
      2. User selects associated record(s) to link
      3. Send linking payload with:
          - `sourceRecordId` — PK of the current table row
          - `destinationRecordId` — PK of the associated table row
          - `linkColumnId` — LINK column identifier
      4. Backend resolves link metadata from `linkColumnId` (relation type, associated table, direction/constraints)
      5. Backend applies relation rules and stores the link relation

      ---

      ## 📋 Record Linking Contract

      | Field | Description |
      |---|---|
      | `sourceRecordId` | PK of the current table row |
      | `destinationRecordId` | PK of the associated table row |
      | `linkColumnId` | LINK column identifier |
      | `tableId` | Current table ID |

      > Backend derives all remaining relation metadata from the link configuration.

      ---

      ## ⚠️ Important Notes

      > - LINK and LOOKUP are **column-level constructs** first; record linking is a data-level operation built on top
      > - LOOKUP behavior depends on LINK existence and metadata integrity
      > - With multiple links to the same associated table, each LOOKUP must bind to the correct `linkColumnId`
      > - Always treat the associated row ID as the associated table PK for linking UI selection

paths:
  /idp/api/v1/user/token:
    post:
      summary: Generate Authentication Token
      responses:
        '200':
          description: Authentication token generated successfully
      tags:
        - Getting Started
      description: "## 1️⃣ Overview\n\n**Purpose:**  \nGenerates an authentication token\
        \ for a user in the DataGOL Platform.\n\nThis endpoint validates the provided\
        \ user credentials and returns a JWT token that can be used to authenticate\
        \ subsequent API requests.\n\n---\n\n## 2️⃣ Endpoint\n\n``` bash\nPOST /idp/api/v1/user/token\n\
        \n ```\n\nBase URL:\n\n```\nhttps://be.datagol.ai\n\n ```\n\n---\n\n## 3️⃣ Request Headers\n\n\
        | Header | Required |\n| --- | --- |\n| Content-Type: application/json | ✅ Yes |\n\
        \n---\n\n## 4️⃣ Request Body Schema\n\n``` json\n{\n  \"email\": \"string\",\n\
        \  \"password\": \"string\"\n}\n\n ```\n\n---\n\n## 5️⃣ Field Descriptions\n\n\
        ### Token Generation Fields\n\n| Field | Type | Description |\n| --- | --- | --- |\n\
        | email | string | The registered email address (e.g., sample_email@datagol.com). |\n\
        | password | string | The user's account password. |\n\n---\n\n## 6️⃣ Example Request\n\n\
        ``` bash\ncurl -X POST https://be.datagol.ai/idp/api/v1/user/token \\\n-H \"\
        Content-Type: application/json\" \\\n-d '{\n  \"email\": \"sample_email@datagol.com\"\
        ,\n  \"password\": \"UserPassword123\"\n}'\n\n ```\n\n---\n\n## 7️⃣ Example Response\n\n\
        ``` json\n{\n  \"token\": \"eyXXXXXX\"\n\
        }\n\n ```\n\n---\n\n## 8️⃣ Behavior Summary\n\nValidates the provided user credentials\
        \ and generates a JWT authentication token.\n\nThe returned token should be\
        \ used in subsequent API requests for authentication, typically passed in request\
        \ headers."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
            example:
              email: sample_email@datagol.com
              password: password123
  /idp/api/v1/user/login:
    post:
      summary: Login to DataGOL
      responses:
        '200':
          description: Login to DataGOL
      tags:
        - Getting Started
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nAuthenticates a user\
        \ into the DataGOL Platform.\n\nOn success, it returns the user's profile,\
        \ including their administrative roles and assigned permissions within the\
        \ workspace.\n\n---\n\n## 2\uFE0F\u20E3 Endpoint\n\n``` bash\nPOST /idp/api/v1/user/login\n\
        \n ```\n\nBase URL:\n\n```\nhttps://be.datagol.ai\n\n ```\n\n---\n\n## 3\uFE0F\
        \u20E3 Request Headers\n\n| Header | Required |\n| --- | --- |\n| Content-Type:\
        \ application/json | \u2705 Yes |\n\n---\n\n## 4\uFE0F\u20E3 Request Body\
        \ Schema\n\n``` json\n{\n  \"email\": \"string\",\n  \"password\": \"string\"\
        \n}\n\n ```\n\n---\n\n## 5\uFE0F\u20E3 Field Descriptions\n\n### Login Fields\n\
        \n| Field | Type | Description |\n| --- | --- | --- |\n| email | string |\
        \ The registered email address (e.g., [sample_email@datagol.com](https://mailto:sample_email@datagol.com)).\
        \ |\n| password | string | The user's account password. |\n\n---\n\n## 6\uFE0F\
        \u20E3 Example Request\n\n``` bash\ncurl -X POST https://be.datagol.ai/idp/api/v1/user/login\
        \ \\\n-H \"Content-Type: application/json\" \\\n-d '{\n  \"email\": \"sample_email@datagol.com\"\
        ,\n  \"password\": \"UserPassword123\"\n}'\n\n ```\n\n---\n\n## 7\uFE0F\u20E3\
        \ Behavior Summary\n\nAuthenticates a user into the DataGOL Platform and returns\
        \ the user profile with administrative roles and workspace permissions."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
            example:
              email: sample_email@datagol.com
              password: password123
  /idp/api/v1/company/serviceAccount:
    post:
      summary: Create Service Account
      responses:
        '200':
          description: Create Service Account
      tags:
        - Getting Started
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nCreates a new service\
        \ account within a specific company.\n\nA unique system-generated email (e.g.,\
        \ `@datagol.iam.serviceaccount.com`) is assigned to the account upon creation.\n\
        \n---\n\n## 2\uFE0F\u20E3 Endpoint\n\n``` bash\nPOST /idp/api/v1/company/serviceAccount\n\
        \n ```\n\nBase URL:\n\n```\nhttps://be.datagol.ai\n\n ```\n\n---\n\n## 3\uFE0F\
        \u20E3 Authentication\n\nRequires Bearer Token  \nUser must have `ACCOUNT_ADMIN`\
        \ or similar administrative privileges.\n\n---\n\n## 4\uFE0F\u20E3 Request\
        \ Headers\n\n| Header | Required |\n| --- | --- |\n| Authorization: Bearer\
        \ | \u2705 Yes |\n| Content-Type: application/json | \u2705 Yes |\n\n---\n\
        \n## 5\uFE0F\u20E3 Request Body Schema\n\n``` json\n{\n  \"name\": \"string\"\
        ,\n  \"description\": \"string\"\n}\n\n ```\n\n---\n\n## 6\uFE0F\u20E3 Field\
        \ Descriptions\n\n### Service Account Fields\n\n| Field | Type | Required\
        \ | Description |\n| --- | --- | --- | --- |\n| name | string | \u2705 Yes\
        \ | The unique identifier or display name for the service account with no\
        \ spaces or special characters. |\n| description | string | \u274C No | A\
        \ brief explanation of the account's purpose (can be an empty string). |\n\
        \n---\n\n## 7\uFE0F\u20E3 Example Request\n\n``` bash\ncurl -X POST https://be.datagol.ai/idp/api/v1/company/serviceAccount\
        \ \\\n-H \"Authorization: Bearer <token>\" \\\n-H \"Content-Type: application/json\"\
        \ \\\n-d '{\n  \"name\": \"ci_cd_service_account\",\n  \"description\": \"\
        Service account for CI/CD integrations\"\n}'\n\n ```\n\n---\n\n## 8\uFE0F\u20E3\
        \ Behavior Summary\n\nCreates a new service account within the company and\
        \ assigns a unique system-generated email address to it."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
            example:
              name: sample_service_token
              description: ''
  /idp/api/v1/company/serviceAccount/{serviceTokenId}/token/reset:
    get:
      summary: Get Service Token
      parameters:
        - name: neverExpires
          in: query
          schema:
            type: boolean
          example: 'true'
      responses:
        '200':
          description: get service token
      tags:
        - Getting Started
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nResets and regenerates\
        \ the access token for an existing service account.\n\nThe newly generated\
        \ token can optionally be configured to never expire.\n\n---\n\n## 2\uFE0F\
        \u20E3 Endpoint\n\n``` bash\nPOST /idp/api/v1/company/serviceAccount/{serviceAccountId}/token/reset?neverExpires=true\n\
        \n ```\n\n---\n\n## 3\uFE0F\u20E3 Path Parameters\n\n| Parameter | Type |\
        \ Required | Description |\n| --- | --- | --- | --- |\n| serviceAccountId\
        \ | UUID | \u2705 Yes | Identifier of the service account whose token will\
        \ be reset |\n\n---\n\n## 4\uFE0F\u20E3 Authentication\n\nRequires Bearer\
        \ Token  \nUser must have `ACCOUNT_ADMIN` or similar administrative privileges.\n\
        \n---\n\n## 5\uFE0F\u20E3 Request Headers\n\n| Header | Required |\n| ---\
        \ | --- |\n| Authorization: Bearer | \u2705 Yes |\n\n---\n\n## 6\uFE0F\u20E3\
        \ Example Request\n\n``` bash\ncurl -X POST \"https://be.datagol.ai/idp/api/v1/company/serviceAccount/{serviceAccountId}/token/reset?neverExpires=true\"\
        \ \\\n-H \"Authorization: Bearer <token>\"\n\n ```\n\n---\n\n## 7\uFE0F\u20E3\
        \ Behavior Summary\n\nResets the existing service account token and generates\
        \ a new one.  \nIf `neverExpires=true` is provided, the newly generated token\
        \ will not expire."
    parameters:
      - name: serviceTokenId
        in: path
        required: true
        schema:
          type: string
        example: '{{serviceTokenId}}'
  /noCo/api/v2/workspaces:
    post:
      summary: Create Workspace
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: create Workspace
      tags:
        - Workspaces
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nCreates a new workspace\
        \ in the DataGOL Platform.\n\nWorkspaces help organize users, resources, and\
        \ configurations within the platform.\n\n---\n\n## 2\uFE0F\u20E3 Endpoint\n\
        \n``` bash\nPOST /noCo/api/v2/workspaces\n\n ```\n\n---\n\n## 3\uFE0F\u20E3\
        \ Authentication\n\nRequires authentication using:\n\n``` id=\"l8v3z7\"\n\
        Authorization: Bearer <token>\n\n ```\n\n---\n\n## 4\uFE0F\u20E3 Request Headers\n\
        \n| Header | Required |\n| --- | --- |\n| Authorization | \u2705 Yes |\n| Content-Type:\
        \ application/json | \u2705 Yes |\n\n---\n\n## 5\uFE0F\u20E3 Request Body\
        \ Schema\n\n``` json\n{\n  \"name\": \"string\",\n  \"description\": \"string\"\
        \n}\n\n ```\n\n---\n\n## 6\uFE0F\u20E3 Field Descriptions\n\n### Workspace\
        \ Fields\n\n| Field | Type | Required | Description |\n| --- | --- | --- |\
        \ --- |\n| name | string | \u2705 Yes | The display name of the workspace\
        \ |\n| description | string | \u274C No | A brief description of the workspace\
        \ (can be an empty string) |\n\n---\n\n## 7\uFE0F\u20E3 Example Request\n\n\
        ``` bash\ncurl -X POST https://be.datagol.ai/noCo/api/v2/workspaces \\\n-H\
        \ \"Authorization: Bearer <token>\" \\\n-H \"Content-Type: application/json\" \\\n\
        -d '{\n  \"name\": \"Sales Workspace\",\n  \"description\": \"Workspace for\
        \ sales team data\"\n}'\n\n ```\n\n---\n\n## 8\uFE0F\u20E3 Behavior Summary\n\
        \nCreates a new workspace in the DataGOL Platform to organize users, resources,\
        \ and configurations."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                description:
                  type: string
            example:
              name: sample demo workspace
              description: ''
    get:
      summary: Get All Workspaces
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Get All Workspaces
      tags:
        - Workspaces
      description: "## 1️⃣ Overview\n\n**Purpose:**  \nRetrieves the list of all workspaces accessible to the authenticated user or service account.\n\n---\n\n## 2️⃣ Endpoint\n\n``` bash\nGET /noCo/api/v2/workspaces\n\n```\n\n---\n\n## 3️⃣ Authentication\n\nRequires Bearer-style authentication using:\n\n```\nAuthorization: Bearer <token>\n\n```\n\n---\n\n## 4️⃣ Request Headers\n\n| Header | Required |\n| --- | --- |\n| Authorization | ✅ Yes |\n\n---\n\n## 5️⃣ Example Request\n\n``` bash\ncurl -X GET https://be.datagol.ai/noCo/api/v2/workspaces \\\n-H \"Authorization: Bearer <token>\"\n\n```\n\n---\n\n## 6️⃣ Behavior Summary\n\nThis endpoint returns all workspaces that are accessible to the authenticated user or service account.\n\nIt supports workspace-level access control and filters results based on user permissions."
  /noCo/api/v2/workspaces/{workspaceId}/bulkUsers:
    post:
      summary: Add Service Email to Workspace
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Add Service Email to Workspace
      tags:
        - Workspaces
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nAllows adding multiple\
        \ users to a specific workspace in a single request.\n\nEach user is assigned\
        \ a role within the workspace.\n\n---\n\n## 2\uFE0F\u20E3 Endpoint\n\n```\
        \ bash\nPOST /noCo/api/v2/workspaces/{workspaceId}/bulkUsers\n\n ```\n\n---\n\
        \n## 3\uFE0F\u20E3 Path Parameters\n\n| Parameter | Type | Required | Description\
        \ |\n| --- | --- | --- | --- |\n| workspaceId | UUID | \u2705 Yes | Identifier\
        \ of the workspace |\n\n---\n\n## 4\uFE0F\u20E3 Authentication\n\nRequires\
        \ authentication using:\n\n``` id=\"k6rj3w\"\nAuthorization: Bearer <token>\n\n ```\n\
        \n---\n\n## 5\uFE0F\u20E3 Request Headers\n\n| Header | Required |\n| ---\
        \ | --- |\n| Authorization | \u2705 Yes |\n| Content-Type: application/json\
        \ | \u2705 Yes |\n\n---\n\n## 6\uFE0F\u20E3 Request Body Schema\n\n``` json\n\
        {\n  \"workSpaceUsers\": [\n    {\n      \"email\": \"string\",\n      \"\
        role\": \"string\"\n    }\n  ],\n  \"message\": \"string\"\n}\n\n ```\n\n\
        ---\n\n## 7\uFE0F\u20E3 Field Descriptions\n\n### Workspace Users\n\n| Parameter\
        \ | Type | Required | Description |\n| --- | --- | --- | --- |\n| workSpaceUsers\
        \ | array | \u2705 Yes | List of users to be added to the workspace |\n| workSpaceUsers.email\
        \ | string | \u2705 Yes | Email ID of the user |\n| workSpaceUsers.role |\
        \ string | \u2705 Yes | Role assigned in the workspace (CREATOR, EDITOR, VIEWER)\
        \ |\n| message | string | \u274C No | Optional message sent along with the\
        \ invite |\n\n---\n\n## 8\uFE0F\u20E3 Example Request\n\n``` bash\ncurl -X\
        \ POST https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/bulkUsers\
        \ \\\n-H \"Authorization: Bearer <token>\" \\\n-H \"Content-Type: application/json\"\
        \ \\\n-d '{\n  \"workSpaceUsers\": [\n    {\n      \"email\": \"user1@datagol.com\"\
        ,\n      \"role\": \"EDITOR\"\n    },\n    {\n      \"email\": \"user2@datagol.com\"\
        ,\n      \"role\": \"VIEWER\"\n    }\n  ],\n  \"message\": \"Workspace access\
        \ invitation\"\n}'\n\n ```\n\n---\n\n## 9\uFE0F\u20E3 Behavior Summary\n\n\
        Enables bulk addition of users to a workspace and assigns roles to each user.\n\
        \nSupports workspace invitation messaging."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                workSpaceUsers:
                  type: array
                  items:
                    type: object
                    properties:
                      email:
                        type: string
                        format: email
                      role:
                        type: string
                message:
                  type: string
            example:
              workSpaceUsers:
                - email: datagol-bd4ffdd8@inncretech.iam.serviceaccount.com
                  role: CREATOR
              message: ''
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
  /noCo/api/v2/workspaces/{workspaceId}/extraction/schema/generate:
    post:
      summary: Generate Schema for Advanced Extraction
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Generate Schema for Advanced Extraction
      tags:
        - AI Extraction
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nGenerates a schema\
        \ based on provided file content or file identifier.\n\nThe schema generation\
        \ is driven by an instruction prompt.\n\n---\n\n## 2\uFE0F\u20E3 Endpoint\n\
        \n``` bash\nPOST /noCo/api/v2/workspaces/{workspaceId}/extraction/schema/generate\n\
        \n ```\n\n---\n\n## 3\uFE0F\u20E3 Path Parameters\n\n| Parameter | Type |\
        \ Required | Description |\n| --- | --- | --- | --- |\n| workspaceId | UUID\
        \ | \u2705 Yes | Identifier of the workspace |\n\n---\n\n## 4\uFE0F\u20E3\
        \ Authentication\n\nRequires authentication using:\n\n``` id=\"c3yq8n\"\n\
        Authorization: Bearer <token>\n\n ```\n\n---\n\n## 5\uFE0F\u20E3 Request Headers\n\
        \n| Header | Required |\n| --- | --- |\n| Authorization | \u2705 Yes |\n| Content-Type:\
        \ application/json | \u2705 Yes |\n\n---\n\n## 6\uFE0F\u20E3 Request Body\
        \ Schema\n\n``` json\n{\n  \"prompt\": \"string\",\n  \"content\": \"string\"\
        ,\n  \"fileId\": \"string\"\n}\n\n ```\n\n---\n\n## 7\uFE0F\u20E3 Field Descriptions\n\
        \n### Schema Generation Fields\n\n| Field | Type | Required | Description\
        \ |\n| --- | --- | --- | --- |\n| prompt | string | \u2705 Yes | Instruction\
        \ for schema generation |\n| content | string | \u274C Optional | File content\
        \ (if not using fileId) |\n| fileId | string | \u274C Optional | File ID (if\
        \ not using content) |\n\n---\n\n## 8\uFE0F\u20E3 Example Request\n\n``` bash\n\
        curl -X POST https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/extraction/schema/generate\
        \ \\\n-H \"Authorization: Bearer <token>\" \\\n-H \"Content-Type: application/json\"\
        \ \\\n-d '{\n  \"prompt\": \"Extract schema from invoice file\",\n  \"content\"\
        : \"file raw text content here\"\n}'\n\n ```\n\n---\n\n## 9\uFE0F\u20E3 Behavior\
        \ Summary\n\nGenerates a schema using either file content or file ID based\
        \ on the provided prompt instruction."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                content:
                  type: string
            example:
              prompt: extract detailed transcript
              content: "[00:00:02] Sarah Miller: Yeah, great to connect.[00:00:04]\
                \ Mark Thompson: Likewise. So just for context \u2014 Alex and I started\
                \ working together recently. We\u2019re very early, mostly speaking\
                \ with potential users and understanding their pain points.[00:00:18]\
                \ Sarah Miller: Quick intro from my side \u2014 I\u2019ve spent the\
                \ last 10 years in startups. Started in fintech, then built a SaaS\
                \ company focused on workflow tools. Exited last year and now exploring\
                \ the next venture.[00:00:32] Alex Rivera: I\u2019m Alex, engineering\
                \ background. Around 15 years building developer tools and infrastructure\
                \ products. This is my second startup.[00:00:44] John Doe: Nice to\
                \ meet you both. I run a small fund investing in early-stage AI and\
                \ infrastructure companies. Also previously built and bootstrapped\
                \ a company for nearly a decade, so I understand the founder journey\
                \ well.[00:01:00] Sarah Miller: Amazing. So our thesis is simple \u2014\
                \ AI isn\u2019t just speeding up software development, it\u2019s changing\
                \ how software should be built entirely. Instead of static apps, we\u2019\
                re exploring the idea of \u201Csoftware you can summon\u201D \u2014\
                \ lightweight, adaptive tools that exist only when needed. [00:01:20]\
                \ John Doe: Interesting. Who\u2019s the target user?[00:01:23] Alex\
                \ Rivera: Product managers, designers, and technical founders who\
                \ are building tools themselves but feel underserved by existing infrastructure.\
                \ We want to rethink the layer beneath the coding agents.[00:01:38]\
                \ John Doe: Makes sense. The key will be articulating why you, why\
                \ now, and what gives you the right to win.[00:01:46] Sarah Miller:\
                \ Exactly. That\u2019s what we\u2019re refining \u2014 and conversations\
                \ like this really help."
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
  /noCo/api/v2/workspaces/{workspaceId}/extraction/advanced/test:
    post:
      summary: Test API for Advanced Extraction
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Test API for Advanced Extraction
      tags:
        - AI Extraction
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nRuns an advanced\
        \ extraction test using inline content or a file identifier.\n\n---\n\n##\
        \ 2\uFE0F\u20E3 Endpoint\n\n``` bash\nPOST /noCo/api/v2/workspaces/{workspaceId}/extraction/advanced/test\n\
        \n ```\n\n---\n\n## 3\uFE0F\u20E3 Path Parameters\n\n| Parameter | Type |\
        \ Required | Description |\n| --- | --- | --- | --- |\n| workspaceId | UUID\
        \ | \u2705 Yes | Identifier of the workspace |\n\n---\n\n## 4\uFE0F\u20E3\
        \ Authentication\n\nRequires authentication using:\n\n``` bash\nAuthorization:\
        \ Bearer <token>\n\n ```\n\n---\n\n## 5\uFE0F\u20E3 Request Headers\n\n| Header |\
        \ Required |\n| --- | --- |\n| Authorization | \u2705 Yes |\n| Content-Type:\
        \ application/json | \u2705 Yes |\n\n---\n\n## 6\uFE0F\u20E3 Request Body\
        \ Schema\n\n``` json\n{\n  \"content\": \"string\",\n  \"advancedSchema\"\
        : {},\n  \"elementId\": \"string\"\n}\n\n ```\n\n---\n\n## 7\uFE0F\u20E3 Field\
        \ Descriptions\n\n### Extraction Test Fields\n\n| Field | Type | Required\
        \ | Description |\n| --- | --- | --- | --- |\n| content | string | \u2705\
        \ Yes | Inline content to test extraction |\n| advancedSchema | object | \u2705\
        \ Yes | JSON schema for advanced extraction |\n| elementId | string | \u274C\
        \ No | File ID for testing instead of content |\n\n---\n\n## 8\uFE0F\u20E3\
        \ Example Request\n\n``` bash\ncurl -X POST https://{base_url}/noCo/api/v2/workspaces/{workspaceId}/extraction/advanced/test\
        \ \\\n-H \"Authorization: Bearer <token>\" \\\n-H \"Content-Type: application/json\"\
        \ \\\n-d '{\n  \"content\": \"Sample invoice text\",\n  \"advancedSchema\"\
        : {\n    \"fields\": []\n  }\n}'\n\n ```\n\n---\n\n## 9\uFE0F\u20E3 Behavior\
        \ Summary\n\nPerforms an advanced extraction test using either inline content\
        \ or a file reference."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                advancedSchema:
                  type: object
                  description: User-defined schema for advanced extraction
                  properties:
                    type:
                      type: string
                    properties:
                      type: object
                      additionalProperties: true
                  additionalProperties: true
            example:
              content: "[00:00:02] Sarah: Hello. [00:00:04] Mark: Hi."
              advancedSchema:
                fields:
                  - name: speaker
                    type: string
                  - name: text
                    type: string
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
  /noCo/api/v2/workspaces/{workspaceId}/extraction/test:
    post:
      summary: Test API for Standard extraction
      tags:
        - AI Extraction
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nRuns a standard extraction\
              \ test using inline content.\n\n---\n\n## 2\uFE0F\u20E3 Endpoint\n\n``` bash\n\
              POST /noCo/api/v2/workspaces/{workspaceId}/extraction/test\n\n ```\n\n---\n\
              \n## 3\uFE0F\u20E3 Path Parameters\n\n| Parameter | Type | Required | Description\
              \ |\n| --- | --- | --- | --- |\n| workspaceId | UUID | \u2705 Yes | Identifier\
              \ of the workspace |\n\n---\n\n## 4\uFE0F\u20E3 Authentication\n\nRequires\
              \ authentication using:\n\n``` bash\nAuthorization: Bearer <token>\n\n ```\n\n---\n\
              \n## 5\uFE0F\u20E3 Request Headers\n\n| Header | Required |\n| --- | --- |\n\
              | Authorization | \u2705 Yes |\n| Content-Type: application/json | \u2705 Yes\
              \ |\n\n---\n\n## 6\uFE0F\u20E3 Request Body Schema\n\n``` json\n{\n  \"content\"\
              : \"Transcript text here\",\n  \"columnConfiguration\": [\n    { \"name\"\
              : \"Speaker Name\", \"description\": \"Extract speaker name\" }\n  ]\n}\n\n\
              \ ```\n\n---\n\n## 7\uFE0F\u20E3 Field Descriptions\n\n### Extraction Test\
              \ Fields\n\n| Field | Type | Required | Description |\n| --- | --- | --- |\
              \ --- |\n| content | string | \u2705 Yes | Inline content to test extraction\
              \ |\n| columnConfiguration | array | \u2705 Yes | Column definitions |\n\n\
              ---\n\n## 8\uFE0F\u20E3 Example Request\n\n``` bash\ncurl -X POST https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/extraction/test\
              \ \\\n-H \"Authorization: Bearer <token>\" \\\n-H \"Content-Type: application/json\"\
              \ \\\n-d '{\n  \"content\": \"Sample document text\",\n  \"columnConfiguration\"\
              : [\n    {\n      \"name\": \"invoiceNumber\",\n      \"type\": \"SINGLE_LINE_TEXT\"\
              \n    }\n  ]\n}'\n\n ```\n\n---\n\n## 9\uFE0F\u20E3 Behavior Summary\n\nRuns\
              \ a standard extraction test on inline content or optional file references."
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
          example: '{{workspaceId}}'
      security:
        - bearerAuth: [ ]

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                  description: Inline content to test extraction
                columnConfiguration:
                  type: array
                  description: Column definitions for extraction
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      description:
                        type: string
                    required:
                      - name
                      - description
              required:
                - content
                - columnConfiguration
            example:
              content: "[00:00:02] Sarah: Hello. [00:00:04] Mark: Hi."
              columnConfiguration:
                - name: speaker
                  description: Extract speaker name
                - name: text
                  description: Extract spoken text

      responses:
        '200':
          description: Test API for Standard extraction
  /noCo/api/v2/workspaces/{workspaceId}/extraction:
    post:
      summary: Create Extraction
      tags:
        - AI Extraction
      description: |
        Creates an extraction configuration inside a workspace.

        Supports both STANDARD and ADVANCED extraction modes.

      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
          example: "{{workspaceId}}"

      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - extractionMode
                - elementType
                - outputConfiguration
                - primaryKeyColumnId
              properties:
                title:
                  type: string
                  description: Extraction configuration title

                extractionMode:
                  type: string
                  description: STANDARD or ADVANCED

                elementType:
                  type: string
                  description: FILE, FOLDER, or COLUMN

                elementId:
                  type: string
                  description: FILE ID, FOLDER ID, or COLUMN ID

                inputTableId:
                  type: string

                storeExtractedData:
                  type: boolean

                scheduleType:
                  type: string

                schedule:
                  type: object
                  properties:
                    cronExpression:
                      type: string

                outputConfiguration:
                  type: object
                  properties:
                    createNewWorkbook:
                      type: boolean
                    title:
                      type: string

                primaryKeyColumnId:
                  type: string

                columnConfiguration:
                  type: array
                  items:
                    type: object
                    required:
                      - name
                      - description
                    properties:
                      name:
                        type: string
                      description:
                        type: string
                      uiMetadata:
                        type: object
                        properties:
                          title:
                            type: string
                      uiDataType:
                        type: string
                advancedSchema:
                  type: object
                  description: User-defined schema for advanced extraction
                  additionalProperties: true

            example:
              title: config test
              extractionMode: ADVANCED
              elementType: COLUMN
              elementId: 40743480-286a-4531-b3f3-7d0b68018c9d
              storeExtractedData: true
              scheduleType: MANUAL
              schedule:
                cronExpression: ""
              outputConfiguration:
                createNewWorkbook: true
                title: sample transcripts output
              inputTableId: 7963e2b4-dddc-4dd4-8c44-8c70c47da692
              primaryKeyColumnId:
                - ee42ef18-0d8a-461e-bae1-4370a8c13fec
              columnConfiguration:
                - name: title
                  description: Transcript title
                  uiMetadata:
                    title: Title
                  uiDataType: SINGLE_LINE_TEXT
                - name: segments
                  description: Transcript segments
                  uiMetadata:
                    title: Segments
                  uiDataType: JSON
              advancedSchema:
                properties:
                  title:
                    type: string
                  segments:
                    type: array

      responses:
        "200":
          description: Extraction created successfully
  /noCo/api/v2/workspaces/{workspaceId}/extraction/{extraction_id}:
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: "{{workspaceId}}"
      - name: extraction_id
        in: path
        required: true
        schema:
          type: string
        example: "{{extractionId}}"

    put:
      summary: Update Extraction
      tags:
        - AI Extraction
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nUpdates an existing extraction configuration.\n\nSupports:\n\n- STANDARD or ADVANCED extraction modes\n    \n- Column, file, or folder-based extraction\n    \n- Schema-driven advanced extraction\n    \n\n---\n\n## 2\uFE0F\u20E3 Endpoint\n\n``` bash\nPUT /noCo/api/v2/workspaces/{workspaceId}/extraction/{extractionId}\n\n ```\n\n---\n\n## 3\uFE0F\u20E3 Path Parameters\n\n| Parameter | Type | Required | Description |\n| --- | --- | --- | --- |\n| workspaceId | UUID | \u2705 Yes | Workspace identifier |\n| extractionId | string | \u2705 Yes | Extraction configuration identifier |\n\n---\n\n## 4\uFE0F\u20E3 Authentication\n\nRequires authentication using:\n\n``` bash\nAuthorization: Bearer <token>\n\n ```\n\n---\n\n## 5\uFE0F\u20E3 Request Headers\n\n| Header | Required |\n| --- | --- |\n| Authorization | \u2705 Yes |\n| Content-Type: application/json | \u2705 Yes |\n\n---\n\n## 6\uFE0F\u20E3 Request Body Schema\n\n``` json\n{\n  \"title\": \"string\",\n  \"extractionMode\": \"string\",\n  \"elementType\": \"string\",\n  \"elementId\": \"string\",\n  \"inputTableId\": \"string\",\n  \"outputConfiguration\": {},\n  \"columnConfiguration\": [],\n  \"primaryKeyColumnId\": [],\n  \"storeExtractedData\": true,\n  \"scheduleType\": \"string\",\n  \"schedule\": {},\n  \"advancedSchema\": {}\n}\n\n ```\n\n---\n\n## 9\uFE0F\u20E3 Behavior Summary\n\nUpdates an extraction configuration within a workspace."
      security:
        - bearerAuth: [ ]

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                title:
                  type: string
                extractionMode:
                  type: string
                elementType:
                  type: string
                elementId:
                  type: string
                inputTableId:
                  type: string
                storeExtractedData:
                  type: boolean
                scheduleType:
                  type: string
                schedule:
                  type: object
                  properties:
                    cronExpression:
                      type: string
                outputConfiguration:
                  type: object
                  properties:
                    createNewWorkbook:
                      type: boolean
                    title:
                      type: string
                    tableId:
                      type: string
                primaryKeyColumnId:
                  type: string
                columnConfiguration:
                  type: array
                  items:
                    type: object
                    required:
                      - name
                      - description
                    properties:
                      name:
                        type: string
                      description:
                        type: string
                      uiMetadata:
                        type: object
                        properties:
                          title:
                            type: string
                      id:
                        type: string
                      uiDataType:
                        type: string
                advancedSchema:
                  type: object
                  description: User-defined schema for advanced extraction
                  additionalProperties: true

            example:
              id: 6422272
              title: extracted transcripts config
              extractionMode: ADVANCED
              elementType: COLUMN
              elementId: 767e6bc2-b4db-4c35-9733-ff4a638772b1
              storeExtractedData: true
              scheduleType: MANUAL
              schedule:
                cronExpression: ""
              outputConfiguration:
                createNewWorkbook: false
                title: extracted transcripts
                tableId: 5722991e-c826-460b-902f-ccf241f4bc80
              inputTableId: 5a408388-4c83-4007-8921-f5b7c72509f2
              primaryKeyColumnId:
                - acd7f6ee-3c93-4f13-a854-d476aa8f8cbd
              columnConfiguration:
                - name: title
                  description: Transcript title
                  uiMetadata:
                    title: Title
                  id: d86ed28b-8642-430e-8070-3512419aee3e
                  uiDataType: SINGLE_LINE_TEXT
                - name: segments
                  description: Transcript segments
                  uiMetadata:
                    title: Segments
                  id: d6882086-f833-4519-a6b4-0f1c7c620ff9
                  uiDataType: JSON
              advancedSchema:
                properties:
                  title:
                    type: string
                  segments:
                    type: array

      responses:
        "200":
          description: Updated Extraction
  /noCo/api/v2/workspaces/{workspace_id}/extraction/{element_type}/{element_id}:
    get:
      summary: Get Extractions
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Get Extractions by Element
      tags:
        - AI Extraction
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nRetrieves all active\
        \ extraction configurations associated with a specific element.\n\nSupports\
        \ filtering by:\n\n- COLUMN\n    \n- FILE\n    \n- FOLDER\n    \n\n---\n\n\
        ## 2\uFE0F\u20E3 Endpoint\n\n``` bash\nGET /noCo/api/v2/workspaces/{workspaceId}/extraction/{elementType}/{elementId}\n\
        \n ```\n\n---\n\n## 3\uFE0F\u20E3 Path Parameters\n\n| Parameter | Type |\
        \ Required | Description |\n| --- | --- | --- | --- |\n| workspaceId | UUID\
        \ | \u2705 Yes | Workspace identifier |\n| elementType | string | \u2705 Yes\
        \ | COLUMN / FILE / FOLDER |\n| elementId | string | \u2705 Yes | File, folder,\
        \ or column ID |\n\n---\n\n## 4\uFE0F\u20E3 Authentication\n\nRequires authentication\
        \ using:\n\n``` bash\nAuthorization: Bearer <token>\n\n ```\n\n---\n\n## 5\uFE0F\u20E3\
        \ Request Headers\n\n| Header | Required |\n| --- | --- |\n| Authorization\
        \ | \u2705 Yes |\n\n---\n\n## 6\uFE0F\u20E3 Example Request\n\n``` bash\n\
        curl -X GET \"https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/extraction/{elementType}/{elementId}\"\
        \ \\\n-H \"Authorization: Bearer <token>\"\n\n ```\n\n---\n\n## 7\uFE0F\u20E3 Behavior\
        \ Summary\n\nReturns all active extraction configurations linked to the specified\
        \ element within the workspace."
    parameters:
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
        example: '{{workspace_id}}'
      - name: element_type
        in: path
        required: true
        schema:
          type: string
        example: '{{element_type}}'
      - name: element_id
        in: path
        required: true
        schema:
          type: string
        example: '{{element_id}}'
  /noCo/api/v2/workspaces/{workspace_id}/extraction/{extraction_id}/{element_type}/{element_id}/run:
    post:
      summary: Trigger Extraction
      parameters:
        - name: extractOnlyNew
          in: query
          schema:
            type: boolean
          example: 'true'
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Trigger Extraction
      tags:
        - AI Extraction
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nTriggers an extraction\
        \ run for a specified extraction configuration and element.\n\nSupports extraction\
        \ modes for:\n\n- New records only\n    \n- Selected rows\n    \n- Filter-based\
        \ extraction\n    \n- Full dataset extraction\n    \n\n---\n\n## 2\uFE0F\u20E3\
        \ Endpoint\n\n``` bash\nPOST /noCo/api/v2/workspaces/{workspaceId}/extraction/{extractionId}/{elementType}/{elementId}/run?extractOnlyNew=true\n\
        \n ```\n\n---\n\n## 3\uFE0F\u20E3 Path Parameters\n\n| Parameter | Type |\
        \ Required | Description |\n| --- | --- | --- | --- |\n| workspaceId | UUID\
        \ | \u2705 Yes | Workspace identifier |\n| extractionId | string | \u2705\
        \ Yes | Extraction configuration ID |\n| elementType | string | \u2705 Yes\
        \ | COLUMN / FILE / FOLDER |\n| elementId | string | \u2705 Yes | Element\
        \ identifier |\n\n---\n\n## 4\uFE0F\u20E3 Query Parameters\n\n| Parameter\
        \ | Type | Required | Description |\n| --- | --- | --- | --- |\n| extractOnlyNew\
        \ | boolean | \u274C No | Default false |\n\nBehavior:\n\n- `true` \u2192\
        \ Only new records are extracted\n    \n- `false` \u2192 Selected records\
        \ are upserted (update existing + insert new)\n    \n\n---\n\n## 5\uFE0F\u20E3\
        \ Authentication\n\nRequires authentication using:\n\n``` bash\nAuthorization:\
        \ Bearer <token>\n\n ```\n\n---\n\n## 6\uFE0F\u20E3 Request Headers\n\n| Header |\
        \ Required |\n| --- | --- |\n| Authorization | \u2705 Yes |\n| Content-Type:\
        \ application/json | Optional |\n\n---\n\n## 7\uFE0F\u20E3 Request Body Schema\
        \ (Optional)\n\n``` json\n{\n  \"rows\": [],\n  \"whereClause\": \"string\"\
        ,\n  \"selectAll\": true\n}\n\n ```\n\n---\n\n## 8\uFE0F\u20E3 Field Descriptions\n\
        \n### Extraction Execution Controls\n\n| Field | Type | Required | Description\
        \ |\n| --- | --- | --- | --- |\n| rows | array | \u274C No | Specific rows\
        \ to extract |\n| whereClause | string | \u274C No | Filter condition |\n\
        | selectAll | boolean | \u274C No | Select all rows flag |\n\n---\n\n## 9\uFE0F\
        \u20E3 Example Request\n\n### Trigger extraction for selected rows\n\n```\
        \ bash\ncurl -X POST \"https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/extraction/{extractionId}/{elementType}/{elementId}/run?extractOnlyNew=true\"\
        \ \\\n-H \"Authorization: Bearer <token>\" \\\n-H \"Content-Type: application/json\"\
        \ \\\n-d '{\n  \"selectAll\": false,\n  \"rows\": [\n    {\n      \"id\":\
        \ \"row1\",\n      \"name\": \"Sample Data\"\n    }\n  ]\n}'\n\n ```\n\n---\n\
        \n## \U0001F51F Behavior Summary\n\n```\nTriggers an extraction execution\
        \ job for the specified configuration.\nSupports:\n\u2022 Incremental Extraction\
        \ \u2014 When extractOnlyNew=true, only new records are processed.\n\u2022\
        \ Upsert Extraction \u2014 When extractOnlyNew=false, existing records are\
        \ updated and new records are inserted.\n\u2022 Selective Extraction \u2014\
        \ Allows extraction of specific rows using the rows field.\n\u2022 Filtered\
        \ Extraction \u2014 Supports conditional extraction using whereClause.\n\u2022\
        \ Full Extraction \u2014 When selectAll=true, extracts all matching records\
        \ (rows field should be omitted).\n\n ```\n\n---\n\n## \U0001F4CC Additional\
        \ Description\n\nWhen `selectAll` is true, the system extracts all matching\
        \ records.  \nIf `selectAll` is false, the client must provide the complete\
        \ row data in the `rows` field.\n\nThe request supports two major extraction\
        \ strategies:\n\n- **Incremental Extraction:** Controlled by `extractOnlyNew=true`\n\
        \    \n- **Upsert Extraction:** When `extractOnlyNew=false`, existing records\
        \ are updated and new records are inserted."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rows:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      cellValues:
                        type: object
                        properties:
                          workspace_id:
                            type: string
                          noco_e0e0ea6e:
                            type: integer
                          web_url:
                            type: string
                            format: uri
                          meeting_id:
                            type: string
                          call_recording_id:
                            type: string
                          id:
                            type: string
                          raw_transcript:
                            type: string
                      cellValuesByColumnId:
                        type: object
                whereClause:
                  type: string
                selectAll:
                  type: boolean
            example:
              rows:
                - id: 0
                  cellValues:
                    workspace_id: 35bb2bfb-5b7b-451c-9be4-6de7b5ed307e
                    noco_e0e0ea6e: 0
                    web_url: https://app.datagol.ai/
                    meeting_id: 24124
                    call_recording_id: 21512512
                    id: '{"meeting_id":"325325","workspace_id":"214215","call_recording_id":"21515124"}'
                    raw_transcript: 'Iris: Hello. Alex: Hi. Iris: We’re exploring software you can summon'
                  cellValuesByColumnId: {}
              whereClause: 1 = 1
              selectAll: false
    parameters:
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
        example: '{{workspace_id}}'
      - name: extraction_id
        in: path
        required: true
        schema:
          type: string
        example: '{{extraction_id}}'
      - name: element_type
        in: path
        required: true
        schema:
          type: string
        example: '{{element_type}}'
      - name: element_id
        in: path
        required: true
        schema:
          type: string
        example: '{{element_id}}'
  /noCo/api/v1/requestLog/status/{requestId}:
    get:
      summary: Poll Status
      tags:
        - AI Extraction
      security:
        - bearerAuth: [ ]
      description: "## 1️⃣ Overview\n\n**Purpose:**  \nCheck the status of an asynchronous extraction request.\n\nUsed to monitor extraction job progress triggered from the extraction execution endpoint.\n\n---\n\n## 2️⃣ Endpoint\n\n``` bash\nGET /noCo/api/v1/requestLog/status/{requestId}\n\n```\n\n---\n\n## 3️⃣ Path Parameters\n\n| Parameter | Type | Required | Description |\n| --- | --- | --- | --- |\n| requestId | string | ✅ Yes | Request ID returned from Trigger Extraction endpoint |\n\n---\n\n## 4️⃣ Authentication\n\nRequires authentication using:\n\n``` bash\nAuthorization: Bearer <token>\n\n```\n\n---\n\n## 5️⃣ Request Headers\n\n| Header | Required |\n| --- | --- |\n| Authorization | ✅ Yes |\n\n---\n\n## 6️⃣ Example Request\n\n``` bash\ncurl -X GET https://be.datagol.ai/noCo/api/v1/requestLog/status/{requestId} \\\n-H \"Authorization: Bearer <token>\"\n\n```\n\n---\n\n## 7️⃣ Behavior Summary\n\nRetrieves the processing status of an asynchronous extraction request.\nThis endpoint is used for polling extraction job execution progress."
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Poll Status

  /noCo/api/v2/workspaces/{workspaceId}/extraction/{extractionId}:
    delete:
      summary: Delete Extraction
      tags:
        - AI Extraction
      security:
        - bearerAuth: [ ]
      description: |
        ### 1️⃣ Overview

        **Purpose:**  
        Performs a soft-delete on a specific extraction configuration. Instead of removing the record from the database entirely, the system flags the extraction as inactive (`active=false`), preserving historical logs while removing it from the active workspace view.

        ### 2️⃣ Endpoint

        ```http
        DELETE /noCo/api/v2/workspaces/{workspaceId}/extraction/{extractionId}
        ```
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
        - name: extractionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Resource deleted successfully
  /noCo/api/v2/workspaces/{workspaceId}/tables:
    post:
      summary: Create Workbook
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Create Workbook
      tags:
        - WorkBook
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**\n\
        \nCreates a new Workbook inside a specified workspace.\n\nThis endpoint creates:\n\
        \n- A new table (workbook container)\n    \n- Basic metadata (title and optional description)\n\
        \    \n- Table type configuration (e.g., DYNAMIC)\n    \n\n---\n\n## 2\uFE0F\u20E3 Endpoint\n\n```\nPOST /noCo/api/v2/workspaces/{workspaceId}/tables\n\
        \n ```\n\n---\n\n## 3\uFE0F\u20E3 Path Parameters\n\n| Parameter | Type |\
        \ Required | Description |\n| --- | --- | --- | --- |\n| workspaceId | UUID\
        \ | \u2705 Yes | Identifier of the workspace where the workbook will be created\
        \ |\n\n---\n\n## 4\uFE0F\u20E3 Authentication\n\nRequires **Bearer JWT Token**\n\
        \n```\nAuthorization: Bearer <token>\n\n ```\n\n---\n\n## 5\uFE0F\u20E3\
        \ Required Permissions\n\nUser must have:\n\n- `CREATOR` or EDITOR permission\
        \n\n---\n\n## 6\uFE0F\u20E3 Request Headers\n\n| Header | Required |\n| --- |\
        \ --- |\n| Authorization | \u2705 Yes |\n| Content-Type: application/json\
        \ | \u2705 Yes |\n\n---\n\n## 7\uFE0F\u20E3 Request Body Schema\n\n```\n{\
        \  \"title\": \"string\",  \"description\": \"string\",  \"tableType\": \"DYNAMIC | STATIC\"}\n\n ```\n\n---\n\n\
        ## 8\uFE0F\u20E3 Field Descriptions\n\n| Field | Type | Required | Description |\n\
        | --- | --- | --- | --- |\n| title | string | \u2705 Yes | Display name of the workbook |\n\
        | description | string | \u274C | Workbook description |\n| tableType | enum | \u274C\
        \ | Type of table (e.g., DYNAMIC, STATIC) |\n\n---\n\n## 9\uFE0F\u20E3 Example Request\n\n```\ncurl -X POST \\https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/tables\
        \ \\-H \"Authorization: Bearer <token>\" \\-H \"Content-Type: application/json\"\
        \ \\-d &#x27;{  \"title\": \"Workbook 1\",  \"description\": \"\",  \"tableType\": \"DYNAMIC\"}&#x27;\n\n ```\n\n---\n\n\
        ## \U0001F504 Behavior\n\nWhen this endpoint is called:\n\n1. Validate workspace access\n\
        \    \n2. Create workbook metadata\n    \n3. Initialize table configuration\n    \n4. Persist configuration\n\
        \    \n5. Return created workbook object\n    \n\n---\n\n## \U0001F539 Table\
        \ Type Behavior\n\n| Type | Description |\n| --- | --- |\n| DYNAMIC | Supports\
        \ computed fields, AI columns, formulas |\n| STATIC | Manual data entry only\
        \ |\n\n---\n\n## \u2705 Successful Response Example\n\n```\n{  \"id\": \"generated-table-uuid\",  \"title\": \"Workbook 1\",  \"tableType\": \"DYNAMIC\",  \"createdAt\": \"2026-02-26T13:00:00Z\"}\n\n ```\n\n---\n\n# \U0001F4CC Behavior Summary\n\nThis endpoint:\n\n> Creates a new Workbook (table) with basic metadata inside a workspace; \n  \n\nIt supports:\n\n- Workbook creation with minimal configuration\n    \n- Optional description\n    \n- Table type selection\n"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                description:
                  type: string
                title:
                  type: string
            example:
              description: ''
              tableType: DYNAMIC
              title: Workbook 1
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
    get:
      summary: Get All Workbooks in workspace
      parameters:
        - name: isIncludeColumns
          in: query
          schema:
            type: boolean
          example: 'true'
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Get tables in workspace
      tags:
        - WorkBook
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nRetrieve a list of all Workbooks associated with a specific workspace.\n\nUsed to populate workspace dashboards or fetch workbook structure metadata for synchronization tasks.\n\n---\n\n## 2\uFE0F\u20E3 Endpoint\n\n``` bash\nGET /noCo/api/v2/workspaces/{workspaceId}/tables\n```\n\n---\n\n## 3\uFE0F\u20E3 Path Parameters\n\n| Parameter | Type | Required | Description |\n| --- | --- | --- | --- |\n| workspaceId | UUID | \u2705 Yes | Identifier of the workspace to query |\n\n---\n\n## 4\uFE0F\u20E3 Query Parameters\n\n| Parameter | Type | Required | Description |\n| --- | --- | --- | --- |\n| isIncludeColumns | boolean | \u274C No | If `true`, the response includes column metadata for each workbook |\n\n---\n\n## 5\uFE0F\u20E3 Authentication\n\nRequires authentication using:\n\n``` bash\nAuthorization: Bearer <token>\n```\n\n---\n\n## 6\uFE0F\u20E3 Request Headers\n\n| Header | Required |\n| --- | --- |\n| Authorization | \u2705 Yes |\n| Accept | \u274C No |\n\n---\n\n## 7\uFE0F\u20E3 Example Request\n\n``` bash\ncurl -X GET https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/tables?isIncludeColumns=true \\\n-H \"Authorization: Bearer <token>\"\n```\n\n---\n\n## 8\uFE0F\u20E3 Response Fields\n\n| Field | Type | Description |\n| --- | --- | --- |\n| id | string | Unique identifier for the workbook |\n| title | string | Display name of the workbook |\n| columns | array | Column metadata (returned only when `isIncludeColumns=true`) |\n| tableType | enum | Type of workbook (`DYNAMIC`, `STATIC`) |\n\n---\n\n## 9\uFE0F\u20E3 Behavior Summary\n\n```\nRetrieves all workbooks within the specified workspace.\n\nIf isIncludeColumns=true, column definitions such as name, type, and UI metadata are included in the response.\n\nResults are typically returned in the order of workbook position configured in the workspace.\n```"
  /noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}:
    get:
      summary: Get Workbook Schema
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Table Schema Generated
      tags:
        - WorkBook
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nRetrieves metadata\
        \ and detailed information about a specific workbook within a workspace.\n\
        \n---\n\n## 2\uFE0F\u20E3 Endpoint\n\n``` bash\nGET /noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}\n\
        \n ```\n\n---\n\n## 3\uFE0F\u20E3 Path Parameters\n\n| Parameter | Type |\
        \ Required | Description |\n| --- | --- | --- | --- |\n| workspaceId | UUID\
        \ | \u2705 Yes | Workspace identifier |\n| workbookId | UUID | \u2705 Yes\
        \ | Workbook (table) identifier |\n\n---\n\n## 4\uFE0F\u20E3 Authentication\n\
        \nRequires authentication using:\n\n``` bash\nAuthorization: Bearer <token>\n\n ```\n\
        \n---\n\n## 5\uFE0F\u20E3 Request Headers\n\n| Header | Required |\n| ---\
        \ | --- |\n| Authorization | \u2705 Yes |\n\n---\n\n## 6\uFE0F\u20E3 Example\
        \ Request\n\n``` bash\ncurl -X GET https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}\
        \ \\\n-H \"Authorization: Bearer <token>\"\n\n ```\n\n---\n\n## 7\uFE0F\u20E3 Behavior\
        \ Summary\n\n```\nRetrieves workbook metadata and configuration details.\n\
        Returns workbook properties including:\n\u2022 Workbook title and description\n\
        \u2022 Table type and structure\n\u2022 Column definitions\n\u2022 UI metadata\n\
        \u2022 Workspace association information\n\n ```"
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
      - name: workbookId
        in: path
        required: true
        schema:
          type: string
        example: '{{workbookId}}'
  /noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/cursor:
    post:
      summary: Get Workbook Data
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Get Table Data
      tags:
        - WorkBook
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nRetrieves records\
        \ from a workbook within a workspace using **cursor-based pagination**.\n\n\
        Supports:\n\n- Filtering queries\n    \n- Sorting rules\n    \n- Pagination\
        \ traversal\n    \n\n---\n\n## 2\uFE0F\u20E3 Endpoint\n\n``` bash\nPOST /noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/cursor\n\
        \n ```\n\n---\n\n## 3\uFE0F\u20E3 Path Parameters\n\n| Parameter | Type |\
        \ Required | Description |\n| --- | --- | --- | --- |\n| workspaceId | UUID\
        \ | \u2705 Yes | Workspace identifier |\n| workbookId | UUID | \u2705 Yes\
        \ | Workbook identifier |\n\n---\n\n## 4\uFE0F\u20E3 Authentication\n\nRequires\
        \ authentication using:\n\n``` bash\nAuthorization: Bearer <token>\n\n ```\n\n---\n\
        \n## 5\uFE0F\u20E3 Request Headers\n\n| Header | Required |\n| --- | --- |\n\
        | Authorization | \u2705 Yes |\n| Content-Type: application/json | \u2705 Yes\
        \ |\n\n---\n\n## 6\uFE0F\u20E3 Request Body Schema\n\n``` json\n{\n  \"requestPageDetails\"\
        : {\n    \"pageNumber\": 1,\n    \"pageSize\": 500\n  },\n  \"sortOptions\"\
        : [],\n  \"whereClause\": \"string\"\n}\n\n ```\n\n---\n\n## 7\uFE0F\u20E3\
        \ Field Descriptions\n\n### Pagination Configuration\n\n| Field | Type | Required\
        \ | Description |\n| --- | --- | --- | --- |\n| requestPageDetails | object\
        \ | \u2705 Yes | Pagination configuration |\n| requestPageDetails.pageNumber\
        \ | number | \u2705 Yes | Page number to retrieve (increment to fetch next\
        \ page) |\n| requestPageDetails.pageSize | number | \u2705 Yes | Number of\
        \ records per page |\n| sortOptions | array | \u274C No | Sorting rules for\
        \ query results |\n| whereClause | string | \u274C No | SQL-like conditional\
        \ filter expression |\n\n---\n\n## 8\uFE0F\u20E3 Example Request\n\n``` bash\n\
        curl -X POST https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/cursor\
        \ \\\n-H \"Authorization: Bearer <token>\" \\\n-H \"Content-Type: application/json\"\
        \ \\\n-d '{\n  \"requestPageDetails\": {\n    \"pageNumber\": 1,\n    \"pageSize\"\
        : 500\n  },\n  \"sortOptions\": [\n    {\n      \"columnName\": \"first_name\"\
        ,\n      \"direction\": \"DESC\"\n    },{\n      \"columnName\": \"last_updated\"\
        ,\n      \"direction\": \"ASC\"\n    } \n  ],\n  \"whereClause\": \"(`first_name`\
        \ like '%d%' and `years_of_experience` > 4 and `start_date` between '2004-01-01'\
        \ and '2009-12-31' and `is_active` = true)\"\n}'\n\n ```\n\n---\n\n## 9\uFE0F\
        \u20E3 Behavior Summary\n\n```\nRetrieves workbook records using cursor-based\
        \ pagination.\nSupports:\n\u2022 Dynamic filtering using whereClause\n\u2022\
        \ Multi-field sorting using sortOptions\n\u2022 Efficient pagination traversal\
        \ using pageNumber and pageSize\n\u2022 Large dataset handling without loading\
        \ entire workbook data\n\n ```"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                requestPageDetails:
                  type: object
                  properties:
                    pageNumber:
                      type: integer
                    pageSize:
                      type: integer
                sortOptions:
                  type: array
                  items:
                    type: object
                    properties:
                      columnName:
                        type: string
                      direction:
                        type: string
                whereClause:
                  type: string
            example:
              requestPageDetails:
                pageNumber: 1
                pageSize: 500
              sortOptions:
                - columnName: first_name
                  direction: DESC
                - columnName: last_updated
                  direction: ASC
              whereClause: "(`first_name` like '%d%' and `years_of_experience` > 4 and `start_date` between '2004-01-01' and '2009-12-31' and `is_active` = true)"
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
      - name: workbookId
        in: path
        required: true
        schema:
          type: string
        example: '{{workbookId}}'
  /noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/rows:
    post:
      summary: Add Row
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Add Row with Data
      tags:
        - WorkBook
      description: "## 1️⃣ Overview\n\n**Purpose:**  \nAdds a new row to
        a workbook within a workspace.\n\n---\n\n## 2️⃣ Endpoint\n\n```
        bash\nPOST /noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/rows\n\n
  `````````\n\n---\n\n## 3️⃣ Path Parameters\n\n| Parameter | Type |
        Required | Description |\n| --- | --- | --- | --- |\n| workspaceId | UUID
        | ✅ Yes | Workspace identifier |\n| workbookId | UUID | ✅ Yes
        | Workbook identifier |\n\n---\n\n## 4️⃣ Authentication\n\nRequires
        authentication using:\n\n``` bash\nAuthorization: Bearer <token>\n\n ```\n\n---\n\n
        ## 5️⃣ Request Headers\n\n| Header | Required |\n| --- | --- |\n
        | Authorization | ✅ Yes |\n\n---\n\n## 6️⃣ Request Body Schema\n\n```
        json\n{\n  \"cellValues\": {}\n}\n\n ```\n\n---\n\n## 7️⃣
        Field Descriptions\n\n### Row Data\n\n| Field | Type | Required | Description
        |\n| --- | --- | --- | --- |\n| cellValues | object | ✅ Yes | Key-value
        mapping of workbook column internal names to their values |\n\n---\n\n##
        8️⃣ Example Request\n\n``` bash\ncurl -X POST https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/rows
        \\\n-H \"Authorization: Bearer <token>\" \\\n-H \"Content-Type: application/json\"
        \\\n-d '{\n  \"cellValues\": {\n    \"first_name\": \"John\",\n    \"years_of_experience\":
        5,\n    \"is_active\": true,\n    \"start_date\": \"2024-02-18T05:00:00+00:00\"\n
        \ }\n}'\n\n ```\n\n---\n\n## 9️⃣ Behavior Summary\n\n``` id=\"beh1b\"\nInserts
        a new record into the workbook.\nSupports:\n• Dynamic column-value mapping
        using cellValues object  \n• Internal column names must be used as keys  \n•
        Data validation is performed before insertion  \n• Date values must follow
        YYYY-MM-DD format  \n\n ```"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - cellValues
              properties:
                cellValues:
                  type: object
            example:
              cellValues:
                first_name: 'John'
                years_of_experience: 5
                is_active: true
                start_date: '2024-02-18T05:00:00+00:00'
    put:
      summary: Update Row In Workbook
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Update Row In Workbook
      tags:
        - WorkBook
      description: "# 1️⃣ Overview\n\n**Purpose:**\n\nUpdates an existing row in a
        specified table within a workspace.\n\nThis endpoint allows:\n\n- Updating
        one or more column values in a row\n    \n- Triggering AI column regeneration
        (if dependent fields change)\n    \n- Recomputing formulas (if applicable)\n
        \   \n\n---\n\n## 2️⃣ Endpoint\n\n```\nPUT /noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/rows\n\n
  ````````\n\n---\n\n## 3️⃣ Path Parameters\n\n| Parameter | Type | Required |
        Description |\n| --- | --- | --- | --- |\n| workspaceId | UUID | ✅ Yes |
        Identifier of the workspace |\n| workbookId | UUID | ✅ Yes | Identifier
        of the table |\n\n---\n\n## 4️⃣ Authentication\n\nRequires Authorization\n\n```\nAuthorization:
        Bearer <token>\n\n ```\n\n---\n\n## 5️⃣ Required Permissions\n\nUser must
        have:\n\n- Row edit permission\n    \n- Table edit access\n    \n- Workspace
        access\n    \n\nIf row updates affect:\n\n- AI columns → AI execution permission
        required\n    \n- Formula columns → system recalculates automatically\n    \n\n---\n\n##
        6️⃣ Request Headers\n\n| Header | Required |\n| --- | --- |\n| Authorization
        | ✅ Yes |\n| Content-Type: application/json | ✅ Yes |\n\n## 7️⃣ Request
        Body Schema\n\n```\n{  \"id\": \"number | string\",  \"cellValues\": {    \"columnName\":
        \"value\"  }\n\n ```\n\n---\n\n## 8️⃣ Field Descriptions\n\n| Field | Type
        | Required | Description |\n| --- | --- | --- | --- |\n| id | Row identifier
        | ✅ Yes | Unique row ID |\n| cellValues | Object | ❌ | Key-value map using
        column names |\n\n---\n\n## 9️⃣ Example Request\n\n```\ncurl -X PUT \\https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/rows
        \\-H \"Authorization: Bearer <token>\" \\-H \"Content-Type: application/json\"
        \\-d '{  \"id\": 1,  \"cellValues\": {    \"name\": \"dega\"  }\n\n ```\n\n---\n\n##
        AI Column Interaction\n\nIf the table contains AI-enabled columns:\n\n- Updating
        dependent fields may:\n    \n    - Automatically regenerate AI values\n        \n
        \   - Trigger asynchronous processing\n        \n- If AI column is manual-override
        enabled:\n    \n    - System may preserve manual values\n        \n\n---\n\n##
        ✅ Validation Rules\n\n- Row ID must exist\n    \n- Cannot update system-generated
        columns\n    \n- Cannot update formula-only columns\n    \n- Data must match
        column type\n    \n- Required columns cannot be null\n    \n\n---\n\n"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - cellValues
              properties:
                id:
                  type: integer
                cellValues:
                  type: object
            example:
              id: 1
              cellValues:
                name: 'dega'
    delete:
      summary: Delete Rows
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Delete Rows
      tags:
        - WorkBook
      description: "## 1️⃣ Overview\n\n**Purpose:**  \nDeletes one or more rows from
        a workbook within a workspace.\n\n---\n\n## 2️⃣ Endpoint\n\n``` bash\nDELETE
        /noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/rows\n\n ```\n\n---\n\n##
        3️⃣ Path Parameters\n\n| Parameter | Type | Required | Description |\n| ---
        | --- | --- | --- |\n| workspaceId | UUID | ✅ Yes | Workspace identifier |\n|
        workbookId | UUID | ✅ Yes | Workbook identifier |\n\n---\n\n## 4️⃣ Authentication\n\nRequires
        authentication using:\n\n``` bash\nAuthorization: Bearer <token>\n\n ```\n\n---\n\n##
        5️⃣ Request Headers\n\n| Header | Required |\n| --- | --- |\n| Authorization
        | ✅ Yes |\n| Content-Type: application/json | ✅ Yes |\n\n---\n\n## 6️⃣ Request
        Body Schema\n\n``` json\n{\n  \"rowIds\": []\n}\n\n ```\n\n---\n\n## 7️⃣ Field
        Descriptions\n\n### Row Deletion Payload\n\n| Field | Type | Required | Description
        |\n| --- | --- | --- | --- |\n| rowIds | array | ✅ Yes | List of row identifiers
        to delete |\n\n---\n\n## 8️⃣ Example Request\n\n``` bash\ncurl -X DELETE 'https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/rows'
        \\\n-H 'Authorization: Bearer <token>' \\\n-H 'Content-Type: application/json'
        \\\n--data-raw '{\"rowIds\":[40]}'\n\n ```\n\n---\n\n## 9️⃣ Behavior Summary\n\n```\nDeletes
        one or more workbook rows.\nSupports bulk deletion using rowIds array.\nValidation
        Rules:\n• Workbook must exist within workspace.\n• User must have write/delete
        permission.\n• Provided rowIds must be valid.\n\n ```"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rowIds:
                  type: array
                  items:
                    type: integer
            example:
              rowIds:
                - 40
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
      - name: workbookId
        in: path
        required: true
        schema:
          type: string
        example: '{{workbookId}}'

  /noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/rows/bulk:
    post:
      summary: Add Rows (Bulk)
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Add Multiple Rows with Data
      tags:
        - WorkBook
      description: "## 1️⃣ Overview\n\n**Purpose:**  \nAdds multiple new rows to
        a workbook within a workspace in a single request.\n\n---\n\n## 2️⃣ Endpoint\n\n```
        bash\nPOST /noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/rows/bulk\n\n
  ```````\n\n---\n\n## 3️⃣ Path Parameters\n\n| Parameter | Type | Required |
        Description |\n| --- | --- | --- | --- |\n| workspaceId | UUID | ✅ Yes |
        Workspace identifier |\n| workbookId | UUID | ✅ Yes | Workbook identifier
        |\n\n---\n\n## 4️⃣ Authentication\n\nRequires authentication using:\n\n```
        bash\nAuthorization: Bearer <token>\n\n ```\n\n---\n\n## 5️⃣ Request Headers\n\n|
        Header | Required |\n| --- | --- |\n| Authorization | ✅ Yes |\n\n---\n\n##
        6️⃣ Request Body Schema\n\n``` json\n[\n  {\n    \"cellValues\": {}\n  }\n]\n\n
  ``````\n\n---\n\n## 7️⃣ Field Descriptions\n\n### Bulk Row Data\n\n| Field | Type
        | Required | Description |\n| --- | --- | --- | --- |\n| cellValues | object
        | ✅ Yes | Key-value mapping of workbook column internal names to their values
        |\n\n---\n\n## 8️⃣ Example Request\n\n``` bash\ncurl -X POST https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/rows/bulk
        \\\n-H \"Authorization: Bearer <token>\" \\\n-H \"Content-Type: application/json\"
        \\\n--data-raw '[{\"cellValues\":{\"first_name\":\"John\",\"years_of_experience\":5,\"is_active\":true,\"start_date\":\"2024-02-18T05:00:00+00:00\"}},{\"cellValues\":{\"first_name\":\"Jane\",\"years_of_experience\":3,\"is_active\":false,\"start_date\":\"2023-06-01T05:00:00+00:00\"}}]'\n\n
  `````\n\n---\n\n## 9️⃣ Behavior Summary\n\n``` id=\"beh1b\"\nInserts multiple
        new records into the workbook in a single request.\nSupports:\n• Top-level array
        of row objects — not wrapped in a parent object  \n• Internal column names must
        be used as keys  \n• Data validation is performed on all rows before insertion
        \ \n• Date values must follow YYYY-MM-DD format  \n• All rows are inserted atomically.\n\n
  ````"
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required:
                  - cellValues
                properties:
                  cellValues:
                    type: object
            example:
              - cellValues:
                  first_name: 'John'
                  years_of_experience: 5
                  is_active: true
                  start_date: '2024-02-18T05:00:00+00:00'
              - cellValues:
                  first_name: 'Jane'
                  years_of_experience: 3
                  is_active: false
                  start_date: '2023-06-01T05:00:00+00:00'
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
      - name: workbookId
        in: path
        required: true
        schema:
          type: string
        example: '{{workbookId}}'

  /noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/rows/{rowId}:
    get:
      summary: Get Row Data By ID
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Get Row Data By ID
      tags:
        - WorkBook
      description: "## 1️⃣ Overview\n\n**Purpose:**\n\nRetrieves a single row's complete
        data from a specified table within a workspace using its unique row ID.\n\nThis
        endpoint returns:\n\n- All column values for the row\n    \n- AI-generated values
        (if applicable)\n    \n- Formula-calculated values\n    \n- System fields (if
        configured to return them)\n    \n\n---\n\n## 2️⃣ Endpoint\n\n```\nGET /noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/rows/{rowId}\n\n
  ```\n\n---\n\n## 3️⃣ Path Parameters\n\n| Parameter | Type | Required | Description
        |\n| --- | --- | --- | --- |\n| workspaceId | UUID | ✅ Yes | Identifier of
        the workspace |\n| workbookId | UUID | ✅ Yes | Identifier of the table |\n|
        rowId | string / number | ✅ Yes | Unique identifier of the row |\n\n---\n\n##
        4️⃣ Authentication\n\nRequires **Bearer JWT Token**\n\n```\nAuthorization: Bearer
        <token>\n\n ```\n\n---\n\n## 5️⃣ Required Permissions\n\nUser must have:\n\n-
        Workspace access\n    \n- Table view permission\n    \n- Row read permission\n
        \   \n\nIf table contains:\n\n- AI columns → permission to view generated content
        required\n    \n- Restricted columns → values may be masked or omitted\n    \n\n---\n\n##
        6️⃣ Request Headers\n\n| Header | Required |\n| --- | --- |\n| Authorization
        | ✅ Yes |\n| Content-Type: application/json | Optional |\n\n---\n\n## 7️⃣ Request
        Example\n\n```\ncurl -X GET https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/rows/{rowId}
        \\\n-H \"Authorization: Bearer <token>\"\n\n ```\n\n---\n\n## 8️⃣ Successful
        Response\n\n### Example Response\n\n```\n{  \"id\": 1,  \"values\": {    \"name\":
        \"dega\",    \"status\": \"Active\",    \"ai_summary\": \"Generated summary
        text\",    \"created_at\": \"2026-02-20T10:00:00Z\"  },  \"createdAt\": \"2026-02-20T10:00:00Z\",
        \ \"updatedAt\": \"2026-02-26T12:45:00Z\"}\n\n ```\n\n---\n\n## 9️⃣ Response
        Fields\n\n| Field | Description |\n| --- | --- |\n| id | Row identifier |\n|
        values | Key-value map of column names and values |\n| createdAt | Row creation
        timestamp |\n| updatedAt | Last modification timestamp |\n\n---\n\n# 🔄 Behavior\n\nWhen
        this endpoint is called:\n\n1. Validate workspace access\n    \n2. Validate
        table existence\n    \n3. Validate row existence\n    \n4. Validate user read
        permissions\n    \n5. Retrieve row data\n    \n6. Include:\n    \n    - Standard
        column values\n        \n    - AI-generated values\n        \n    - Formula
        results\n        \n7. Return structured JSON response\n    \n\n---\n\n# 🤖 AI
        Column Handling\n\nIf the table contains AI-enabled columns:\n\n- Returns last
        generated value\n    \n- Does not trigger regeneration\n    \n- If generation
        is asynchronous and pending:\n    \n    - May return null\n        \n    - Or
        may return processing status (implementation-dependent)\n        \n\n---\n\n#
        📊 Formula Column Handling\n\nIf a column is a formula:\n\n- Returned value
        is the computed result\n    \n- Manual override is not applicable\n    \n\n---\n\n#
        📌 Behavior Summary\n\nThis endpoint retrieves complete data for a specific
        row by ID within a workspace table. It supports standard column retrieval, AI-generated
        values, formula-computed values, and permission-based visibility."
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
      - name: workbookId
        in: path
        required: true
        schema:
          type: string
        example: '{{workbookId}}'
      - name: rowId
        in: path
        required: true
        schema:
          type: string
        example: '{{rowId}}'
  /noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/column:
    post:
      summary: Generate AI Column
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Generate AI Column
      tags:
        - WorkBook
      description: "# Create AI Generated Column\n\n## 1\uFE0F\u20E3 Overview\n\n\
        **Purpose:**\n\nCreates a new column in a specified workspace table. The column\
        \ can optionally be AI-generated using a configured language model.\n\nWhen\
        \ `aiSettings.enabled = true`, the column becomes a computed AI column that\
        \ auto-generates values based on a prompt and row data.\n\n---\n\n## 2\uFE0F\
        \u20E3 Endpoint\n\n```\nPOST /noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/column\n\
        \n ```\n\n### Path Parameters\n\n| Parameter | Type | Required | Description\
        \ |\n| --- | --- | --- | --- |\n| workspaceId | UUID | \u2705 Yes | ID of\
        \ the workspace |\n| tableId | UUID | \u2705 Yes | ID of the target table\
        \ |\n\n---\n\n## 3\uFE0F\u20E3 Authentication\n\nRequires **Bearer Token (JWT)**.\n\
        \n```\nAuthorization: Bearer <access_token>\n\n ```\n\n### Required Permissions\n\
        \nUser must have:\n\n- `CREATE_DATASOURCE` or equivalent column creation permission\n\
        \    \n- Table edit access\n    \n\n---\n\n## 4\uFE0F\u20E3 Request Headers\n\
        \n| Header | Value |\n| --- | --- |\n| Content-Type | application/json |\n\
        | Authorization | Bearer token |\n\n---\n\n## 5\uFE0F\u20E3 Request Body Schema\n\
        \n```\n{  \"name\": \"string\",  \"uiDataType\": \"SINGLE_LINE_TEXT | NUMBER\
        \ | ...\",  \"description\": \"string\",  \"required\": false,  \"uiMetadata\"\
        : {    \"title\": \"string\"  },  \"settings\": {    \"aiSettings\": {   \
        \   \"enabled\": true,      \"prompt\": \"string\",      \"model\": \"string\"\
        ,      \"webAccess\": false    }  }}\n\n ```\n\n---\n\n## 6\uFE0F\u20E3 Field\
        \ Descriptions\n\n### Core Column Fields\n\n| Field | Type | Required | Description\
        \ |\n| --- | --- | --- | --- |\n| name | string | \u2705 | Internal column\
        \ name |\n| uiDataType | enum | \u2705 | Data type of the column |\n| description\
        \ | string | \u274C | Column description |\n| required | boolean | \u274C\
        \ | Whether the column is mandatory |\n| uiMetadata.title | string | \u274C\
        \ | Display name in UI |\n\n---\n\n### \U0001F916 AI Settings (Optional)\n\
        \n| Field | Type | Required | Description |\n| --- | --- | --- | --- |\n|\
        \ enabled | boolean | \u2705 (if aiSettings present) | Enables AI computation\
        \ |\n| prompt | string | \u2705 | Prompt used to generate values |\n| model\
        \ | string | \u2705 | LLM model to use |\n| webAccess | boolean | \u274C |\
        \ Allows external web search (if supported) |\n\n---\n\n## 7\uFE0F\u20E3 Behavior\n\
        \n### If `aiSettings.enabled = false`\n\n- Column behaves as a standard manual\
        \ input column.\n    \n\n### If `aiSettings.enabled = true`\n\n- Column becomes\
        \ computed.\n    \n- Value is generated automatically using:\n    \n    -\
        \ Row context\n        \n    - Prompt\n        \n    - Selected model\n  \
        \      \n- Users may not manually edit values (depending on system rules).\n\
        \    \n- Generation may trigger:\n    \n    - On row creation\n        \n\
        \    - On row update\n        \n    - On manual regeneration\n        \n\n\
        ---\n\n## 8\uFE0F\u20E3 Example \u2013 Create AI Column\n\n```\ncurl -X POST\
        \ \\https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/tables/{tableId}/column\
        \ \\-H \"Authorization: Bearer <token>\" \\-H \"Content-Type: application/json\"\
        \ \\-d &#x27;{  \"name\": \"col\",  \"uiDataType\": \"SINGLE_LINE_TEXT\",\
        \  \"required\": false,  \"settings\": {    \"aiSettings\": {      \"enabled\"\
        : true,      \"prompt\": \"Extract first name from full name\",      \"model\"\
        : \"gpt-4o-mini\",      \"webAccess\": false    }  }}&#x27;\n\n ```\n\n---\n\
        \n## 9\uFE0F\u20E3 Example Use Case\n\nIf table has:\n\n| full_name |\n| ---\
        \ |\n| John Smith |\n| Alice Brown |\n\nAI column prompt:\n\n```\nExtract\
        \ first name from full name\n\n ```\n\nGenerated column:\n\n| full_name |\
        \ first_name |\n| --- | --- |\n| John Smith | John |\n| Alice Brown | Alice\
        \ |\n\n---\n\n## \U0001F51F Response (Example)\n\n```\n{  \"id\": \"column-uuid\"\
        ,  \"name\": \"col\",  \"uiDataType\": \"SINGLE_LINE_TEXT\",  \"aiEnabled\"\
        : true,  \"createdAt\": \"timestamp\"}\n\n ```"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                uiDataType:
                  type: string
                description:
                  type: string
                uiMetadata:
                  type: object
                  properties:
                    title:
                      type: string
                settings:
                  type: object
                  properties:
                    aiSettings:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                        prompt:
                          type: string
                        model:
                          type: string
                        webAccess:
                          type: boolean
                name:
                  type: string
            example:
              uiDataType: SINGLE_LINE_TEXT
              description: ''
              uiMetadata:
                title: col
              settings:
                aiSettings:
                  enabled: true
                  prompt: Extract from name and create a col
                  model: gpt-4o-mini
                  webAccess: false
              name: col
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
      - name: workbookId
        in: path
        required: true
        schema:
          type: string
        example: '{{workbookId}}'
  /noCo/api/v2/workspaces/{workspaceId}/tables/{workbook_Id}/column:
    post:
      summary: Create Column
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Create Column
      tags:
        - WorkBook
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nCreates a new column inside a workbook.\n\nSupports multiple column types such as:
      \n\n- Text column\n\n- Number column\n\n- Date column\n\n- Other supported UI data types\n\n---\n\n##
       2\uFE0F\u20E3 Endpoint\n\n``` bash\nPOST /noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/column\n\n
       ```\n\n---\n\n## 3\uFE0F\u20E3 Path Parameters\n\n| Parameter | Type | Required | Description |\n| --- | --- | --- | --- |\n|
        workspaceId | UUID | \u2705 Yes | Workspace identifier |\n| workbookId | UUID | \u2705 Yes | Workbook identifier |\n\n---\n\n##
         4\uFE0F\u20E3 Authentication\n\nRequires authentication using:\n\n``` bash\nAuthorization: Bearer <token>\n\n```\n\n---\n\n##
          5\uFE0F\u20E3 Request Headers\n\n| Header | Required |\n| --- | --- |\n| Authorization | \u2705 Yes |\n| Content-Type:
           application/json | \u2705 Yes |\n\n---\n\n## 6\uFE0F\u20E3 Request Body Schema\n\n``` json
           \n{\n  \"uiDataType\": \"string\",\n  \"uiMetadata\": {},\n  \"name\": \"string\"\n}\n\n```\n\n---\n\n##
            7\uFE0F\u20E3 Field Descriptions\n\n### Column Configuration\n\n| Field | Type | Required | Description |\n| --- | --- | --- | --- |\n| uiDataType | string | \u2705 Yes | Column type (e.g., SINGLE_LINE_TEXT, NUMBER, DATE etc.) |\n| uiMetadata | object | \u2705 Yes | Metadata for UI display (e.g., `{ \"title\": \"My Column\" }`) |\n| name | string | \u2705 Yes | Internal column name (snake_case recommended) |\n\n---\n\n## 8\uFE0F\u20E3 Example Request\n\n``` bash\ncurl --location 'https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/column' \\\n--header 'Authorization: Bearer <token>' \\\n--header 'Content-Type: application/json' \\\n--data '{\n  \"uiDataType\": \"SINGLE_LINE_TEXT\",\n  \"uiMetadata\": {\n    \"title\": \"sample text\"\n  },\n  \"description\": \"some description\" \"name\": \"sample_text\"\n}'\n\n```\n\n---\n\n## 9\uFE0F\u20E3 Behavior Summary\n\n``` id=\"behcol2\"\nCreates a new workbook column.\nSupports:\n\u2022 Multiple UI data types (TEXT, NUMBER, DATE, etc.)  \n\u2022 UI metadata configuration for rendering  \n\u2022 Snake_case internal column naming  \n\u2022 Server-side validation before creation\n\n```"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - uiDataType
                - name
                - uiMetadata
              properties:
                uiDataType:
                  type: string
                description:
                  type: string
                uiMetadata:
                  type: object
                  properties:
                    title:
                      type: string
                name:
                  type: string
            example:
              uiDataType: SINGLE_LINE_TEXT
              uiMetadata:
                title: sample text
              name: sample_text
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
      - name: workbook_Id
        in: path
        required: true
        schema:
          type: string
        example: '{{workbook_Id}}'
  /noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/columns/{columnId}:
    put:
      summary: Update Column
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Column Updated successfully
      tags:
        - WorkBook
      description: "## 1️⃣ Overview\n\n**Purpose:**  \nUpdates an existing column's
        metadata and configuration within a specified table in a workspace.\n\nThis
        endpoint supports:\n\n- Updating column display name\n\n- Changing UI data
        type\n\n- Updating UI metadata (title, precision, etc.)\n\n- Modifying column
        options\n\n---\n\n## 2️⃣ Endpoint\n\n```\nPUT /noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/columns/{columnId}\n\n
  `````\n\n---\n\n## 3️⃣ Path Parameters\n\n| Parameter | Type | Required | Description
        |\n| --- | --- | --- | --- |\n| workspaceId | UUID | ✅ Yes | Workspace identifier
        |\n| workbookId | UUID | ✅ Yes | Table identifier |\n| columnId | UUID | ✅
        Yes | Column identifier |\n\n---\n\n## 4️⃣ Authentication\n\nRequires **Bearer
        JWT Token**\n\n```\nAuthorization: Bearer <token>\n\n ```\n\n---\n\n## 5️⃣
        Request Headers\n\n| Header | Required |\n| --- | --- |\n| Authorization |
        ✅ Yes |\n| Content-Type: application/json | ✅ Yes |\n\n---\n\n## 6️⃣ Request
        Body Schema\n\n``` json\n{\n  \"id\": \"uuid\",\n  \"name\": \"string\",\n
        \ \"uiDataType\": \"string\",\n  \"colOptions\": {},\n  \"uiMetadata\": {\n
        \   \"title\": \"string\",\n    \"precision\": null\n  }\n}\n\n ```\n\n---\n\n##
        7️⃣ Field Descriptions\n\n### Column Configuration\n\n| Field | Type | Required
        | Description |\n| --- | --- | --- | --- |\n| id | UUID | ✅ Yes | Unique identifier
        of the column to update |\n| name | string | ✅ Yes | Internal column name |\n|
        uiDataType | string | ✅ Yes | Column type (e.g., SINGLE_LINE_TEXT, NUMBER,
        DATE) |\n| uiMetadata | object | ✅ Yes | Metadata for UI display |\n| uiMetadata.title
        | string | ✅ Yes | Display name shown in the UI |\n|\n---\n\n## 8️⃣ Example Request\n\n```
        bash\ncurl -X PUT https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/columns/{columnId}
        \\\n-H \"Authorization: Bearer <token>\" \\\n-H \"Content-Type: application/json\"
        \\\n-d '{\n  \"id\": \"6d9ae325-6fcd-4bd6-a732-b59e424fc095\",\n  \"name\":
        \"question\",\n  \"uiDataType\": \"SINGLE_LINE_TEXT\",\n  \"colOptions\": {},\n
        \ \"uiMetadata\": {\n    \"title\": \"Question\",\n    \"precision\": null\n
        \ }\n}'\n\n ```\n\n---\n\n## 9️⃣ Behavior Summary\n\n``` id=\"behcol3\"\nUpdates
        an existing column's metadata and configuration.\nSupports:\n• Updating internal
        column name  \n• Changing UI data type  \n• Updating display title via uiMetadata
        \ \n• Setting precision for numeric columns  \n• Passing additional column options
        via colOptions  \n• Server-side validation before update  \n\n ```"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - name
                - uiDataType
                - uiMetadata
              properties:
                id:
                  type: string
                name:
                  type: string
                uiDataType:
                  type: string
                colOptions:
                  type: object
                uiMetadata:
                  type: object
                  properties:
                    title:
                      type: string
                    precision:
                      nullable: true
                      type: number
            example:
              id: 6d9ae325-6fcd-4bd6-a732-b59e424fc095
              name: question
              uiDataType: SINGLE_LINE_TEXT
              colOptions: { }
              uiMetadata:
                title: Question
                precision: null
    delete:
      summary: Delete Column
      security:
        - bearerAuth: [ ]
      responses:
        '200':
          description: Column Deleted Successfully
      tags:
        - WorkBook
      description: "## 1️⃣ Overview\n\n**Purpose:**  \nDeletes an existing column from
        a specified table within a workspace.\n\n---\n\n## 2️⃣ Endpoint\n\n``` bash\nDELETE
        /noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/columns/{columnId}\n\n
  ````\n\n---\n\n## 3️⃣ Path Parameters\n\n| Parameter | Type | Required | Description
        |\n| --- | --- | --- | --- |\n| workspaceId | UUID | ✅ Yes | Workspace identifier
        |\n| workbookId | UUID | ✅ Yes | Table identifier |\n| columnId | UUID | ✅
        Yes | Identifier of the column to delete |\n\n---\n\n## 4️⃣ Authentication\n\nRequires
        **Bearer JWT Token**\n\n```\nAuthorization: Bearer <token>\n\n ```\n\n---\n\n##
        5️⃣ Request Headers\n\n| Header | Required |\n| --- | --- |\n| Authorization
        | ✅ Yes |\n| Content-Type: application/json | ✅ Yes |\n\n---\n\n## 6️⃣ Request
        Body\n\nNo request body required. The column to delete is identified entirely
        by the `columnId` path parameter.\n\n---\n\n## 7️⃣ Example Request\n\n``` bash\ncurl
        -X DELETE 'https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/tables/{workbookId}/columns/{columnId}'
        \\\n-H 'Authorization: Bearer <token>' \\\n-H 'Content-Type: application/json'\n\n
  ```\n\n---\n\n## 8️⃣ Behavior Summary\n\n``` id=\"behcol4\"\nDeletes a column
        from the specified workbook table.\nValidation Rules:\n• workspaceId, workbookId,
        and columnId must all be valid  \n• User must have delete permission on the
        column  \n• System-generated or formula columns may not be deletable  \n• Deletion
        is permanent — column data cannot be recovered  \n\n ```"
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
      - name: workbookId
        in: path
        required: true
        schema:
          type: string
        example: '{{workbookId}}'
      - name: columnId
        in: path
        required: true
        schema:
          type: string
        example: '{{columnId}}'
  /noCo/api/v2/workspaces/{workspaceId}/tables/{tableId}/column:
    post:
      summary: Create Link Column (Manual-Link)
      tags:
        - Links & Joins
      security:
        - bearerAuth: [ ]
      description: "## 1️⃣ Overview\n\n**Purpose:**\nCreates a new LINK type column in a table, establishing a bidirectional relationship between a parent table and a child/associated table.\n\nThis endpoint supports:\n- Creating HAS_MANY, ONE_TO_ONE, and MANY_TO_MANY relation types\n- Automatically creating a reciprocal link column in the associated table\n\n> ⚠️ **Note:** Links are bidirectional. When a link is created from the parent with relation type `HAS_MANY`, a corresponding column with relation type `BELONGS_TO` is automatically created in the child table.\n\n---\n\n## 2️⃣ Endpoint\n\n```\nPOST /noCo/api/v2/workspaces/{workspaceId}/tables/{tableId}/column\n```\n\n---\n\n## 3️⃣ Path Parameters\n\n| Parameter | Type | Required | Description |\n| --- | --- | --- | --- |\n| workspaceId | UUID | ✅ Yes | Workspace identifier |\n| tableId | UUID | ✅ Yes | Source (parent) table identifier |\n\n---\n\n## 4️⃣ Authentication\n\nRequires **Bearer JWT Token**\n\n```\nAuthorization: Bearer <token>\n```\n\n---\n\n## 5️⃣ Request Headers\n\n| Header | Required |\n| --- | --- |\n| Authorization | ✅ Yes |\n| Content-Type: application/json | ✅ Yes |\n\n---\n\n## 6️⃣ Request Body Schema\n\n```json\n{\n  \"uiDataType\": \"LINK\",\n  \"colOptions\": {\n    \"relationType\": \"HAS_MANY\",\n    \"associateTableId\": \"uuid\"\n  },\n  \"uiMetadata\": {\n    \"title\": \"string\"\n  },\n  \"settings\": {},\n  \"name\": \"string\"\n}\n```\n\n---\n\n## 7️⃣ Field Descriptions\n\n| Field | Type | Required | Description |\n| --- | --- | --- | --- |\n| uiDataType | string | ✅ Yes | Must be `LINK` |\n| colOptions.relationType | string | ✅ Yes | Relation type: `HAS_MANY`, `ONE_TO_ONE`, or `MANY_TO_MANY` |\n| colOptions.associateTableId | UUID | ✅ Yes | The child or linked table ID |\n| uiMetadata.title | string | ✅ Yes | Display name shown in the UI |\n|  name | string | ✅ Yes | Internal column name — must be unique within the table |\n\n---\n\n## 8️⃣ Example Request\n\n```bash\ncurl -X POST https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/tables/{tableId}/column \\\n-H \"Autho
[...]
