openapi: 3.0.0
info:
  title: DataGOL APIs
  version: 1.0.0
  description: ''
servers:
  - url: https://be.datagol.ai
  - url: https://be.datagol.ai
  - url: https://kg.datagol.ai
  - url: https://ai.datagol.ai
paths:
  /idp/api/v1/user/login:
    post:
      summary: Login to DataGOL
      responses:
        '200':
          description: Login to DataGOL
      tags:
        - Getting Started
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nAuthenticates a user\
        \ into the DataGOL Platform.\n\nOn success, it returns the user's profile,\
        \ including their administrative roles and assigned permissions within the\
        \ workspace.\n\n---\n\n## 2\uFE0F\u20E3 Endpoint\n\n``` bash\nPOST /idp/api/v1/user/login\n\
        \n ```\n\nBase URL:\n\n```\nhttps://be.datagol.ai\n\n ```\n\n---\n\n## 3\uFE0F\
        \u20E3 Request Headers\n\n| Header | Required |\n| --- | --- |\n| Content-Type:\
        \ application/json | \u2705 Yes |\n\n---\n\n## 4\uFE0F\u20E3 Request Body\
        \ Schema\n\n``` json\n{\n  \"email\": \"string\",\n  \"password\": \"string\"\
        \n}\n\n ```\n\n---\n\n## 5\uFE0F\u20E3 Field Descriptions\n\n### Login Fields\n\
        \n| Field | Type | Description |\n| --- | --- | --- |\n| email | string |\
        \ The registered email address (e.g., [sample_email@datagol.com](https://mailto:sample_email@datagol.com)).\
        \ |\n| password | string | The user's account password. |\n\n---\n\n## 6\uFE0F\
        \u20E3 Example Request\n\n``` bash\ncurl -X POST https://be.datagol.ai/idp/api/v1/user/login\
        \ \\\n-H \"Content-Type: application/json\" \\\n-d '{\n  \"email\": \"sample_email@datagol.com\"\
        ,\n  \"password\": \"UserPassword123\"\n}'\n\n ```\n\n---\n\n## 7\uFE0F\u20E3\
        \ Behavior Summary\n\nAuthenticates a user into the DataGOL Platform and returns\
        \ the user profile with administrative roles and workspace permissions."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
            example:
              email: sample_email@datagol.com
              password: password123
  /idp/api/v1/company/serviceAccount:
    post:
      summary: Create Service Account
      responses:
        '200':
          description: Create Service Account
      tags:
        - Getting Started
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nCreates a new service\
        \ account within a specific company.\n\nA unique system-generated email (e.g.,\
        \ `@datagol.iam.serviceaccount.com`) is assigned to the account upon creation.\n\
        \n---\n\n## 2\uFE0F\u20E3 Endpoint\n\n``` bash\nPOST /idp/api/v1/company/serviceAccount\n\
        \n ```\n\nBase URL:\n\n```\nhttps://be.datagol.ai\n\n ```\n\n---\n\n## 3\uFE0F\
        \u20E3 Authentication\n\nRequires Bearer Token  \nUser must have `ACCOUNT_ADMIN`\
        \ or similar administrative privileges.\n\n---\n\n## 4\uFE0F\u20E3 Request\
        \ Headers\n\n| Header | Required |\n| --- | --- |\n| Authorization: Bearer\
        \ | \u2705 Yes |\n| Content-Type: application/json | \u2705 Yes |\n\n---\n\
        \n## 5\uFE0F\u20E3 Request Body Schema\n\n``` json\n{\n  \"name\": \"string\"\
        ,\n  \"description\": \"string\"\n}\n\n ```\n\n---\n\n## 6\uFE0F\u20E3 Field\
        \ Descriptions\n\n### Service Account Fields\n\n| Field | Type | Required\
        \ | Description |\n| --- | --- | --- | --- |\n| name | string | \u2705 Yes\
        \ | The unique identifier or display name for the service account with no\
        \ spaces or special characters. |\n| description | string | \u274C No | A\
        \ brief explanation of the account's purpose (can be an empty string). |\n\
        \n---\n\n## 7\uFE0F\u20E3 Example Request\n\n``` bash\ncurl -X POST https://be.datagol.ai/idp/api/v1/company/serviceAccount\
        \ \\\n-H \"Authorization: Bearer <token>\" \\\n-H \"Content-Type: application/json\"\
        \ \\\n-d '{\n  \"name\": \"ci_cd_service_account\",\n  \"description\": \"\
        Service account for CI/CD integrations\"\n}'\n\n ```\n\n---\n\n## 8\uFE0F\u20E3\
        \ Behavior Summary\n\nCreates a new service account within the company and\
        \ assigns a unique system-generated email address to it."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
            example:
              name: sample_service_token
              description: ''
  /idp/api/v1/company/serviceAccount/{serviceTokenId}/token/reset:
    get:
      summary: Get Service Token
      parameters:
        - name: neverExpires
          in: query
          schema:
            type: boolean
          example: 'true'
      responses:
        '200':
          description: get service token
      tags:
        - Getting Started
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nResets and regenerates\
        \ the access token for an existing service account.\n\nThe newly generated\
        \ token can optionally be configured to never expire.\n\n---\n\n## 2\uFE0F\
        \u20E3 Endpoint\n\n``` bash\nPOST /idp/api/v1/company/serviceAccount/{serviceAccountId}/token/reset?neverExpires=true\n\
        \n ```\n\n---\n\n## 3\uFE0F\u20E3 Path Parameters\n\n| Parameter | Type |\
        \ Required | Description |\n| --- | --- | --- | --- |\n| serviceAccountId\
        \ | UUID | \u2705 Yes | Identifier of the service account whose token will\
        \ be reset |\n\n---\n\n## 4\uFE0F\u20E3 Authentication\n\nRequires Bearer\
        \ Token  \nUser must have `ACCOUNT_ADMIN` or similar administrative privileges.\n\
        \n---\n\n## 5\uFE0F\u20E3 Request Headers\n\n| Header | Required |\n| ---\
        \ | --- |\n| Authorization: Bearer | \u2705 Yes |\n\n---\n\n## 6\uFE0F\u20E3\
        \ Example Request\n\n``` bash\ncurl -X POST \"https://be.datagol.ai/idp/api/v1/company/serviceAccount/{serviceAccountId}/token/reset?neverExpires=true\"\
        \ \\\n-H \"Authorization: Bearer <token>\"\n\n ```\n\n---\n\n## 7\uFE0F\u20E3\
        \ Behavior Summary\n\nResets the existing service account token and generates\
        \ a new one.  \nIf `neverExpires=true` is provided, the newly generated token\
        \ will not expire."
    parameters:
      - name: serviceTokenId
        in: path
        required: true
        schema:
          type: string
        example: '{{serviceTokenId}}'
  /noCo/api/v2/workspaces:
    post:
      summary: Create Workspace
      parameters:
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: 7b6c69bd3431489e9bc79405e08fc37bb26813dcaf8ba5067808173b49282866
      responses:
        '200':
          description: create Workspace
      tags:
        - Workspaces
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nCreates a new workspace\
        \ in the DataGOL Platform.\n\nWorkspaces help organize users, resources, and\
        \ configurations within the platform.\n\n---\n\n## 2\uFE0F\u20E3 Endpoint\n\
        \n``` bash\nPOST /noCo/api/v2/workspaces\n\n ```\n\n---\n\n## 3\uFE0F\u20E3\
        \ Authentication\n\nRequires authentication using:\n\n``` id=\"l8v3z7\"\n\
        x-auth-token: <token>\n\n ```\n\n---\n\n## 4\uFE0F\u20E3 Request Headers\n\
        \n| Header | Required |\n| --- | --- |\n| x-auth-token | \u2705 Yes |\n| Content-Type:\
        \ application/json | \u2705 Yes |\n\n---\n\n## 5\uFE0F\u20E3 Request Body\
        \ Schema\n\n``` json\n{\n  \"name\": \"string\",\n  \"description\": \"string\"\
        \n}\n\n ```\n\n---\n\n## 6\uFE0F\u20E3 Field Descriptions\n\n### Workspace\
        \ Fields\n\n| Field | Type | Required | Description |\n| --- | --- | --- |\
        \ --- |\n| name | string | \u2705 Yes | The display name of the workspace\
        \ |\n| description | string | \u274C No | A brief description of the workspace\
        \ (can be an empty string) |\n\n---\n\n## 7\uFE0F\u20E3 Example Request\n\n\
        ``` bash\ncurl -X POST https://be.datagol.ai/noCo/api/v2/workspaces \\\n-H\
        \ \"x-auth-token: <token>\" \\\n-H \"Content-Type: application/json\" \\\n\
        -d '{\n  \"name\": \"Sales Workspace\",\n  \"description\": \"Workspace for\
        \ sales team data\"\n}'\n\n ```\n\n---\n\n## 8\uFE0F\u20E3 Behavior Summary\n\
        \nCreates a new workspace in the DataGOL Platform to organize users, resources,\
        \ and configurations."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
            example:
              name: sample demo workspace
              description: ''
    get:
      summary: Get All Workspaces
      parameters:
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: 7b6c69bd3431489e9bc79405e08fc37bb26813dcaf8ba5067808173b49282866
      responses:
        '200':
          description: Get All Workspaces
      tags:
        - Workspaces
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nRetrieves the list\
        \ of all workspaces accessible to the authenticated user or service account.\n\
        \n---\n\n## 2\uFE0F\u20E3 Endpoint\n\n``` bash\nGET /noCo/api/v2/workspaces\n\
        \n ```\n\n---\n\n## 3\uFE0F\u20E3 Authentication\n\nRequires Bearer-style\
        \ authentication using:\n\n```\nx-auth-token: <token>\n\n ```\n\n---\n\n##\
        \ 4\uFE0F\u20E3 Request Headers\n\n| Header | Required |\n| --- | --- |\n\
        | x-auth-token | \u2705 Yes |\n\n---\n\n## 5\uFE0F\u20E3 Request Body Schema\n\
        \n---\n\n## 6\uFE0F\u20E3 Example Request\n\n``` bash\ncurl -X GET https://be.datagol.ai/noCo/api/v2/workspaces\
        \ \\\n-H \"x-auth-token: <token>\"\n\n ```\n\n---\n\n## 7\uFE0F\u20E3 Behavior\
        \ Summary\n\nThis endpoint returns all workspaces that are accessible to the\
        \ authenticated user or service account.\n\nIt supports workspace-level access\
        \ control and filters results based on user permissions."
  /noCo/api/v2/workspaces/{workspaceId}/bulkUsers:
    post:
      summary: Add Service Email to Workspace
      parameters:
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: cb1848f820cf4e5cb81b0cee75f5eab53c39e38d541b990da8aa3f32d116b32b
      responses:
        '200':
          description: Add Service Email to Workspace
      tags:
        - Workspaces
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nAllows adding multiple\
        \ users to a specific workspace in a single request.\n\nEach user is assigned\
        \ a role within the workspace.\n\n---\n\n## 2\uFE0F\u20E3 Endpoint\n\n```\
        \ bash\nPOST /noCo/api/v2/workspaces/{workspaceId}/bulkUsers\n\n ```\n\n---\n\
        \n## 3\uFE0F\u20E3 Path Parameters\n\n| Parameter | Type | Required | Description\
        \ |\n| --- | --- | --- | --- |\n| workspaceId | UUID | \u2705 Yes | Identifier\
        \ of the workspace |\n\n---\n\n## 4\uFE0F\u20E3 Authentication\n\nRequires\
        \ authentication using:\n\n``` id=\"k6rj3w\"\nx-auth-token: <token>\n\n ```\n\
        \n---\n\n## 5\uFE0F\u20E3 Request Headers\n\n| Header | Required |\n| ---\
        \ | --- |\n| x-auth-token | \u2705 Yes |\n| Content-Type: application/json\
        \ | \u2705 Yes |\n\n---\n\n## 6\uFE0F\u20E3 Request Body Schema\n\n``` json\n\
        {\n  \"workSpaceUsers\": [\n    {\n      \"email\": \"string\",\n      \"\
        role\": \"string\"\n    }\n  ],\n  \"message\": \"string\"\n}\n\n ```\n\n\
        ---\n\n## 7\uFE0F\u20E3 Field Descriptions\n\n### Workspace Users\n\n| Parameter\
        \ | Type | Required | Description |\n| --- | --- | --- | --- |\n| workSpaceUsers\
        \ | array | \u2705 Yes | List of users to be added to the workspace |\n| workSpaceUsers.email\
        \ | string | \u2705 Yes | Email ID of the user |\n| workSpaceUsers.role |\
        \ string | \u2705 Yes | Role assigned in the workspace (CREATOR, EDITOR, VIEWER)\
        \ |\n| message | string | \u274C No | Optional message sent along with the\
        \ invite |\n\n---\n\n## 8\uFE0F\u20E3 Example Request\n\n``` bash\ncurl -X\
        \ POST https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/bulkUsers\
        \ \\\n-H \"x-auth-token: <token>\" \\\n-H \"Content-Type: application/json\"\
        \ \\\n-d '{\n  \"workSpaceUsers\": [\n    {\n      \"email\": \"user1@datagol.com\"\
        ,\n      \"role\": \"EDITOR\"\n    },\n    {\n      \"email\": \"user2@datagol.com\"\
        ,\n      \"role\": \"VIEWER\"\n    }\n  ],\n  \"message\": \"Workspace access\
        \ invitation\"\n}'\n\n ```\n\n---\n\n## 9\uFE0F\u20E3 Behavior Summary\n\n\
        Enables bulk addition of users to a workspace and assigns roles to each user.\n\
        \nSupports workspace invitation messaging."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                workSpaceUsers:
                  type: array
                  items:
                    type: object
                    properties:
                      email:
                        type: string
                        format: email
                      role:
                        type: string
                message:
                  type: string
            example:
              workSpaceUsers:
                - email: datagol-bd4ffdd8@inncretech.iam.serviceaccount.com
                  role: CREATOR
              message: ''
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
  /noCo/api/v2/workspaces/{workspaceId}/extraction/schema/generate:
    post:
      summary: Generate Schema for Advanced Extraction
      parameters:
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: c2cccdf27ebaaefeffeedee0ca4cceb9333b4f31e676e4531cc208b9725bc330
      responses:
        '200':
          description: Generate Schema for Advanced Extraction
      tags:
        - AI Extraction
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nGenerates a schema\
        \ based on provided file content or file identifier.\n\nThe schema generation\
        \ is driven by an instruction prompt.\n\n---\n\n## 2\uFE0F\u20E3 Endpoint\n\
        \n``` bash\nPOST /noCo/api/v2/workspaces/{workspaceId}/extraction/schema/generate\n\
        \n ```\n\n---\n\n## 3\uFE0F\u20E3 Path Parameters\n\n| Parameter | Type |\
        \ Required | Description |\n| --- | --- | --- | --- |\n| workspaceId | UUID\
        \ | \u2705 Yes | Identifier of the workspace |\n\n---\n\n## 4\uFE0F\u20E3\
        \ Authentication\n\nRequires authentication using:\n\n``` id=\"c3yq8n\"\n\
        x-auth-token: <token>\n\n ```\n\n---\n\n## 5\uFE0F\u20E3 Request Headers\n\
        \n| Header | Required |\n| --- | --- |\n| x-auth-token | \u2705 Yes |\n| Content-Type:\
        \ application/json | \u2705 Yes |\n\n---\n\n## 6\uFE0F\u20E3 Request Body\
        \ Schema\n\n``` json\n{\n  \"prompt\": \"string\",\n  \"content\": \"string\"\
        ,\n  \"fileId\": \"string\"\n}\n\n ```\n\n---\n\n## 7\uFE0F\u20E3 Field Descriptions\n\
        \n### Schema Generation Fields\n\n| Field | Type | Required | Description\
        \ |\n| --- | --- | --- | --- |\n| prompt | string | \u2705 Yes | Instruction\
        \ for schema generation |\n| content | string | \u274C Optional | File content\
        \ (if not using fileId) |\n| fileId | string | \u274C Optional | File ID (if\
        \ not using content) |\n\n---\n\n## 8\uFE0F\u20E3 Example Request\n\n``` bash\n\
        curl -X POST https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/extraction/schema/generate\
        \ \\\n-H \"x-auth-token: <token>\" \\\n-H \"Content-Type: application/json\"\
        \ \\\n-d '{\n  \"prompt\": \"Extract schema from invoice file\",\n  \"content\"\
        : \"file raw text content here\"\n}'\n\n ```\n\n---\n\n## 9\uFE0F\u20E3 Behavior\
        \ Summary\n\nGenerates a schema using either file content or file ID based\
        \ on the provided prompt instruction."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                content:
                  type: string
            example:
              prompt: extract detailed transcript
              content: "[00:00:02] Sarah Miller: Yeah, great to connect.[00:00:04]\
                \ Mark Thompson: Likewise. So just for context \u2014 Alex and I started\
                \ working together recently. We\u2019re very early, mostly speaking\
                \ with potential users and understanding their pain points.[00:00:18]\
                \ Sarah Miller: Quick intro from my side \u2014 I\u2019ve spent the\
                \ last 10 years in startups. Started in fintech, then built a SaaS\
                \ company focused on workflow tools. Exited last year and now exploring\
                \ the next venture.[00:00:32] Alex Rivera: I\u2019m Alex, engineering\
                \ background. Around 15 years building developer tools and infrastructure\
                \ products. This is my second startup.[00:00:44] John Doe: Nice to\
                \ meet you both. I run a small fund investing in early-stage AI and\
                \ infrastructure companies. Also previously built and bootstrapped\
                \ a company for nearly a decade, so I understand the founder journey\
                \ well.[00:01:00] Sarah Miller: Amazing. So our thesis is simple \u2014\
                \ AI isn\u2019t just speeding up software development, it\u2019s changing\
                \ how software should be built entirely. Instead of static apps, we\u2019\
                re exploring the idea of \u201Csoftware you can summon\u201D \u2014\
                \ lightweight, adaptive tools that exist only when needed. [00:01:20]\
                \ John Doe: Interesting. Who\u2019s the target user?[00:01:23] Alex\
                \ Rivera: Product managers, designers, and technical founders who\
                \ are building tools themselves but feel underserved by existing infrastructure.\
                \ We want to rethink the layer beneath the coding agents.[00:01:38]\
                \ John Doe: Makes sense. The key will be articulating why you, why\
                \ now, and what gives you the right to win.[00:01:46] Sarah Miller:\
                \ Exactly. That\u2019s what we\u2019re refining \u2014 and conversations\
                \ like this really help."
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
  /noCo/api/v2/workspaces/{workspaceId}/extraction/advanced/test:
    post:
      summary: Test API for Advanced Extraction
      parameters:
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: c2cccdf27ebaaefeffeedee0ca4cceb9333b4f31e676e4531cc208b9725bc330
      responses:
        '200':
          description: Test API for Advanced Extraction
      tags:
        - AI Extraction
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nRuns an advanced\
        \ extraction test using inline content or a file identifier.\n\n---\n\n##\
        \ 2\uFE0F\u20E3 Endpoint\n\n``` bash\nPOST /noCo/api/v2/workspaces/{workspaceId}/extraction/advanced/test\n\
        \n ```\n\n---\n\n## 3\uFE0F\u20E3 Path Parameters\n\n| Parameter | Type |\
        \ Required | Description |\n| --- | --- | --- | --- |\n| workspaceId | UUID\
        \ | \u2705 Yes | Identifier of the workspace |\n\n---\n\n## 4\uFE0F\u20E3\
        \ Authentication\n\nRequires authentication using:\n\n``` bash\nx-auth-token:\
        \ <token>\n\n ```\n\n---\n\n## 5\uFE0F\u20E3 Request Headers\n\n| Header |\
        \ Required |\n| --- | --- |\n| x-auth-token | \u2705 Yes |\n| Content-Type:\
        \ application/json | \u2705 Yes |\n\n---\n\n## 6\uFE0F\u20E3 Request Body\
        \ Schema\n\n``` json\n{\n  \"content\": \"string\",\n  \"advancedSchema\"\
        : {},\n  \"elementId\": \"string\"\n}\n\n ```\n\n---\n\n## 7\uFE0F\u20E3 Field\
        \ Descriptions\n\n### Extraction Test Fields\n\n| Field | Type | Required\
        \ | Description |\n| --- | --- | --- | --- |\n| content | string | \u2705\
        \ Yes | Inline content to test extraction |\n| advancedSchema | object | \u2705\
        \ Yes | JSON schema for advanced extraction |\n| elementId | string | \u274C\
        \ No | File ID for testing instead of content |\n\n---\n\n## 8\uFE0F\u20E3\
        \ Example Request\n\n``` bash\ncurl -X POST https://{base_url}/noCo/api/v2/workspaces/{workspaceId}/extraction/advanced/test\
        \ \\\n-H \"x-auth-token: <token>\" \\\n-H \"Content-Type: application/json\"\
        \ \\\n-d '{\n  \"content\": \"Sample invoice text\",\n  \"advancedSchema\"\
        : {\n    \"fields\": []\n  }\n}'\n\n ```\n\n---\n\n## 9\uFE0F\u20E3 Behavior\
        \ Summary\n\nPerforms an advanced extraction test using either inline content\
        \ or a file reference."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                advancedSchema:
                  type: object
                  properties:
                    type:
                      type: string
                    additionalProperties:
                      type: boolean
                    properties:
                      type: object
                      properties:
                        title:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        duration_seconds:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        language_code:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        speaker_count:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        segments:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                properties:
                                  type: object
                                  properties:
                                    speaker:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    start_time:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    end_time:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    text:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    confidence:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    words:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                        items:
                                          type: object
                                          properties:
                                            type:
                                              type: string
                                            properties:
                                              type: object
                                              properties:
                                                word:
                                                  type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                    description:
                                                      type: string
                                                start_time:
                                                  type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                    description:
                                                      type: string
                                                end_time:
                                                  type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                    description:
                                                      type: string
                                                confidence:
                                                  type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                    description:
                                                      type: string
                                            required:
                                              type: array
                                              items:
                                                type: string
                                required:
                                  type: array
                                  items:
                                    type: string
                    required:
                      type: array
                      items:
                        type: string
            example:
              content: "[00:00:02] Sarah Miller: Yeah, great to connect.\n\n[00:00:04]\
                \ Mark Thompson: Likewise. So just for context \u2014 Alex and I started\
                \ working together recently. We\u2019re very early, mostly speaking\
                \ with potential users and understanding their pain points.\n\n[00:00:18]\
                \ Sarah Miller: Quick intro from my side \u2014 I\u2019ve spent the\
                \ last 10 years in startups. Started in fintech, then built a SaaS\
                \ company focused on workflow tools. Exited last year and now exploring\
                \ the next venture.\n\n[00:00:32] Alex Rivera: I\u2019m Alex, engineering\
                \ background. Around 15 years building developer tools and infrastructure\
                \ products. This is my second startup.\n\n[00:00:44] John Doe: Nice\
                \ to meet you both. I run a small fund investing in early-stage AI\
                \ and infrastructure companies. Also previously built and bootstrapped\
                \ a company for nearly a decade, so I understand the founder journey\
                \ well.\n\n[00:01:00] Sarah Miller: Amazing. So our thesis is simple\
                \ \u2014 AI isn\u2019t just speeding up software development, it\u2019\
                s changing how software should be built entirely. Instead of static\
                \ apps, we\u2019re exploring the idea of \u201Csoftware you can summon\u201D\
                \ \u2014 lightweight, adaptive tools that exist only when needed.\n\
                \n[00:01:20] John Doe: Interesting. Who\u2019s the target user?\n\n\
                [00:01:23] Alex Rivera: Product managers, designers, and technical\
                \ founders who are building tools themselves but feel underserved\
                \ by existing infrastructure. We want to rethink the layer beneath\
                \ the coding agents.\n\n[00:01:38] John Doe: Makes sense. The key\
                \ will be articulating why you, why now, and what gives you the right\
                \ to win.\n\n[00:01:46] Sarah Miller: Exactly. That\u2019s what we\u2019\
                re refining \u2014 and conversations like this really help."
              advancedSchema:
                type: object
                additionalProperties: false
                properties:
                  title:
                    type: string
                    description: Optional title or identifier for the transcript (e.g.,
                      meeting name, interview subject).
                  duration_seconds:
                    type: number
                    description: Total duration of the transcribed audio/video in
                      seconds.
                  language_code:
                    type: string
                    description: BCP-47 language code of the transcript (e.g., 'en-US',
                      'es-ES').
                  speaker_count:
                    type: number
                    description: The total number of unique speakers identified in
                      the transcript.
                  segments:
                    type: array
                    description: An array of spoken segments or utterances, each representing
                      a continuous speech turn by a single speaker.
                    items:
                      type: object
                      properties:
                        speaker:
                          type: string
                          description: Identifier for the speaker of this segment
                            (e.g., 'Speaker 1', 'John Doe').
                        start_time:
                          type: number
                          description: The start time of the segment in seconds from
                            the beginning of the audio/video.
                        end_time:
                          type: number
                          description: The end time of the segment in seconds from
                            the beginning of the audio/video.
                        text:
                          type: string
                          description: The full transcribed text of this segment.
                        confidence:
                          type: number
                          description: Confidence score for the accuracy of this segment's
                            transcription (0.0 to 1.0).
                        words:
                          type: array
                          description: An array of individual words within this segment,
                            with their specific timings and confidence scores.
                          items:
                            type: object
                            properties:
                              word:
                                type: string
                                description: The transcribed word.
                              start_time:
                                type: number
                                description: The start time of the word in seconds
                                  relative to the beginning of the audio/video.
                              end_time:
                                type: number
                                description: The end time of the word in seconds relative
                                  to the beginning of the audio/video.
                              confidence:
                                type: number
                                description: Confidence score for the accuracy of
                                  this word's transcription (0.0 to 1.0).
                            required:
                              - word
                              - start_time
                              - end_time
                      required:
                        - speaker
                        - start_time
                        - end_time
                        - text
                required:
                  - segments
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
  /noCo/api/v2/workspaces/{workspaceId}/extraction/test:
    post:
      summary: Test API for Standard extraction
      parameters:
        - name: authorization
          in: header
          schema:
            type: string
          example: Bearer eyJhbGciOiJIUzUxMiJ9.eyJtZmFfc3RhdHVzIjoiTk9UX1JFUVVJUkVEIiwic3ViIjoidmlzaGFsQHByaW5jZXRvbmxhYnMuaW8iLCJwZXJtaXNzaW9ucyI6WyJWSUVXX0RBVEFTT1VSQ0UiLCJWSUVXX1VTRVJTIiwiQ1JFQVRFX0NPUElMT1QiLCJFRElUX0NPUElMT1QiLCJERUxFVEVfQ09QSUxPVCIsIlZJRVdfQ09QSUxPVCIsIkVESVRfTEFLRUhPVVNFIiwiVklFV19DT05ORUNUT1JTIiwiQ1JFQVRFX1BJUEVMSU5FIiwiQ1JFQVRFX0RBVEFTT1VSQ0UiLCJFRElUX1VTRVJTIiwiRURJVF9QSVBFTElORSIsIlZJRVdfQUxFUlRTIiwiRURJVF9DT05ORUNUT1JTIiwiREVMRVRFX0NPTk5FQ1RPUlMiLCJWSUVXX1BJUEVMSU5FIiwiREVMRVRFX1VTRVJTIiwiVklFV19KT0JTIiwiQ1JFQVRFX0NPTk5FQ1RPUlMiLCJDUkVBVEVfVVNFUlMiLCJFRElUX0RBVEFTT1VSQ0UiLCJERUxFVEVfREFUQVNPVVJDRSIsIlZJRVdfTEFLRUhPVVNFIiwiQ1JFQVRFX0xBS0VIT1VTRSIsIkRFTEVURV9MQUtFSE9VU0UiLCJERUxFVEVfUElQRUxJTkUiLCJBU1NJR05fUk9MRVMiXSwicm9sZXMiOlsiQUNDT1VOVF9BRE1JTiIsIkxBS0VIT1VTRV9BRE1JTiIsIlVTRVIiLCJDT05ORUNUT1JfQURNSU4iLCJDT1BJTE9USFVCX0FETUlOIl0sImV4cCI6MTc3MDc2Mzk4MiwiaWF0IjoxNzcwNDAzOTgyfQ.TEx0sMzSj9a8x0D-OPOlaX64gfEH4CHn9tZ-zTVQcKA28dAUe3yk2iIDvlgD1UKaa_TAA6lYt82vYeODNN3fgw
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: c2cccdf27ebaaefeffeedee0ca4cceb9333b4f31e676e4531cc208b9725bc330
      responses:
        '200':
          description: Test API for Standard extraction
      tags:
        - AI Extraction
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nRuns a standard extraction\
        \ test using inline content.\n\n---\n\n## 2\uFE0F\u20E3 Endpoint\n\n``` bash\n\
        POST /noCo/api/v2/workspaces/{workspaceId}/extraction/test\n\n ```\n\n---\n\
        \n## 3\uFE0F\u20E3 Path Parameters\n\n| Parameter | Type | Required | Description\
        \ |\n| --- | --- | --- | --- |\n| workspaceId | UUID | \u2705 Yes | Identifier\
        \ of the workspace |\n\n---\n\n## 4\uFE0F\u20E3 Authentication\n\nRequires\
        \ authentication using:\n\n``` bash\nx-auth-token: <token>\n\n ```\n\n---\n\
        \n## 5\uFE0F\u20E3 Request Headers\n\n| Header | Required |\n| --- | --- |\n\
        | x-auth-token | \u2705 Yes |\n| Content-Type: application/json | \u2705 Yes\
        \ |\n\n---\n\n## 6\uFE0F\u20E3 Request Body Schema\n\n``` json\n{\n  \"content\"\
        : \"Transcript text here\",\n  \"columnConfiguration\": [\n    { \"name\"\
        : \"Speaker Name\", \"description\": \"Extract speaker name\" }\n  ]\n}\n\n\
        \ ```\n\n---\n\n## 7\uFE0F\u20E3 Field Descriptions\n\n### Extraction Test\
        \ Fields\n\n| Field | Type | Required | Description |\n| --- | --- | --- |\
        \ --- |\n| content | string | \u2705 Yes | Inline content to test extraction\
        \ |\n| columnConfiguration | array | \u2705 Yes | Column definitions |\n\n\
        ---\n\n## 8\uFE0F\u20E3 Example Request\n\n``` bash\ncurl -X POST https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/extraction/test\
        \ \\\n-H \"x-auth-token: <token>\" \\\n-H \"Content-Type: application/json\"\
        \ \\\n-d '{\n  \"content\": \"Sample document text\",\n  \"columnConfiguration\"\
        : [\n    {\n      \"name\": \"invoiceNumber\",\n      \"type\": \"SINGLE_LINE_TEXT\"\
        \n    }\n  ]\n}'\n\n ```\n\n---\n\n## 9\uFE0F\u20E3 Behavior Summary\n\nRuns\
        \ a standard extraction test on inline content or optional file references."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                advancedSchema:
                  type: object
                  properties:
                    type:
                      type: string
                    additionalProperties:
                      type: boolean
                    properties:
                      type: object
                      properties:
                        title:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        duration_seconds:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        language_code:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        speaker_count:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        segments:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                properties:
                                  type: object
                                  properties:
                                    speaker:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    start_time:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    end_time:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    text:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    confidence:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    words:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                        items:
                                          type: object
                                          properties:
                                            type:
                                              type: string
                                            properties:
                                              type: object
                                              properties:
                                                word:
                                                  type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                    description:
                                                      type: string
                                                start_time:
                                                  type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                    description:
                                                      type: string
                                                end_time:
                                                  type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                    description:
                                                      type: string
                                                confidence:
                                                  type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                    description:
                                                      type: string
                                            required:
                                              type: array
                                              items:
                                                type: string
                                required:
                                  type: array
                                  items:
                                    type: string
                    required:
                      type: array
                      items:
                        type: string
            example:
              content: '[00:00:02] Iris ten Teije: Yeah,

                [00:00:02] Alexander Sainty: good.

                [00:00:04] Iris ten Teije: Busy, lots of so, just as a bit of background.
                So, Noam and I just started working together this month, so very fresh
                in this new venture. So, at the moment, our focus has mostly been
                on just talking to lots of potential users, doing user interviews.
                Good thing is, within the vibe coding space, people are really enthusiastic,
                so it''s been pretty easy to get people to jump on calls. But yeah,
                that means that we''ve had... a lot of conversations. Do you want
                us to get a couple of quick intro, Alexander Sainty?

                [00:00:38] Alexander Sainty: Sure, however you want to run the call.

                [00:00:40] Iris ten Teije: Sure, yeah, just as a bit of background,
                personally on myself, been in startups for the past 10 years, started
                my career in fintech, was the first employee at a digital bank that
                was based out of Hong Kong, helped the founders grow that company,
                scale it, and ultimately we sold that company. And then I started
                a startup here in London, originally within the FinSec and investment
                space. So what we built was an investment app focused on collectibles.
                So letting retail investors buy fractional shares and collectibles.
                I raised some money for that, but didn''t quite go according to plan.
                So we pivoted. And then the last company was a SaaS company, customer
                support platform, focused on community driven companies, so companies
                of large online communities. We had a lot of clients in the crypto
                space, some in gaming, some in AI. Sold that a couple of months ago,
                took some time off, and now sort of going again. And as I mentioned
                to you on LinkedIn, we''re still very early. So mostly reached out
                to you just because I wanted to share a bit of what we''re working
                on and kind of going through our thoughts and more to get your feedback.
                Not really raising yet, but I thought you''re a good person to speak
                to also because I saw you summarizing quite a lot of content about
                Lovable. probably been thinking quite a bit about this 5 coding space
                so I wanted to ask you some questions, share some thoughts. But yeah,
                I''ll let Noam do a quick intro as well. Yeah, so hi, I''m Noam. My
                background is in engineering and so I''ve been doing that for almost
                the past 20 years. I was a founding engineer in a dev tool company
                called Jfrog, pretty big right now in the Bay Area. And I was also
                a very early engineer in the VanMoof bike company out of Amsterdam
                and another health tech company called I''m Gael and this is my second
                venture. So I''ve started my first one in 2022 around digital product
                design using generative AI, so essentially attacking Figma. And this
                is my new venture together with Iris.

                [00:02:46] Alexander Sainty: Awesome. Yeah, so I''m Alexander Sainty.
                Wear a couple of hats. Most recently I''ve raised what''s called a
                solo GP fund. so i have six million under management um investing
                across uh europe and north america primarily but um not geographically
                constrained i''m a generalist uh invest in everything and anything
                um tending to lean towards um hard tech and deep tech now um uh partly
                because of our friends at lovable um and um and then been angel investing
                before the fund uh since My first investment was an AI company, so
                I''ve been in the space for a while. And then I started a company
                which I just shut down, but I ran it for nine years, which was sort
                of a consultancy and our whole purpose was making connections. So
                we basically acted as an intermediary between startups and corporates
                and helped them get to sort of end decision makers. so that they could
                sell their products. And just launched a new company, which I won''t
                bore you with. But yeah, very exciting. So I think I can confidently
                say that I have incredible empathy for the founder, having bootstrapped
                the business for nine years. Yeah, anyway, that''s me. But yeah, from
                Lovable''s perspective, I was the first investor. can''t say how or
                why, massively lucky, don''t know anything about anything and that''s
                kind of my starting point with all investing. So I''m not sure whether
                I''m going to be particularly helpful other than I bring a sense of
                childlike wonder to most calls. But well done guys, I mean it sounds
                like you both had, you know, respectively very interesting and life-affirming
                and probably extremely

                [00:05:00] Iris ten Teije: uh educative experiences thank you uh i''m
                actually i angel investors one and so if there''s any time i''d love
                to hear about like the new thing you''re you''re doing oh thanks um
                i i 10 out of 10 would not recommend investing but

                [00:05:16] Alexander Sainty: um no basically i i just to keep it very
                short um fundraising is is fucking stupid and is a huge waste of time.
                The incumbent financial advisories, Lazars, GP Bullhound, Hulahan,
                Loki, all these kind of guys have built businesses over a century
                predicated on this concept of buying network. But the network isn''t
                at all interested in what the intermediaries are selling. And so they''ve
                kind of spun a lie. And the people who are the sort of victims are
                the kind of founders who need it most, who typically are the worst
                at fundraising. my view is that fundraising advisory should fulfill
                a role which is basically to take over the fundraiser um and so what
                we do is we''ve built a system that uh allows us to basically virtually
                clone the founder um so for the duration of the fundraise everything
                that is online is us uh so all questions that are asked we''re answering
                all materials that are requested we''re creating all scheduling organization
                optimization funneling network building uh investor introduction triaging
                That''s all us. Oh, material creation, that''s us as well. The founder
                just does the meetings. So, you know, we just ran a series B, did
                71 messages, got 71


                [00:06:33] Alexander Sainty: responses, 58 into the data room in two
                weeks. And that''s our ability, basically. And I''ve spent 10 years
                fundraising for companies. It''s a very logical place to go. But it''s
                AI-enabled services, I''d like to be.

                [00:06:47] Iris ten Teije: Sweet. Sounds good.

                [00:06:49] Alexander Sainty: Yeah. Cool. Go, guys.

                [00:06:51] Iris ten Teije: Yeah. So, yeah, so let''s take you through
                what we''ve been working on. So I''m not sure you like your affinity,
                if you''re like a more product guy, more vision guy, but I can take
                you through either of those, like through our journey.

                [00:07:04] Alexander Sainty: I''m a people guy. But I''m curious.
                I''m a people guy. Okay.

                [00:07:12] Iris ten Teije: So we''re great people. Sure. So maybe
                I''ll start out like with a big idea. that we''re following. It''s
                no secret, you know, that there''s an inflection point right now with
                AI. Now I''m not giving any news here. We''re focusing specifically
                on the side of engineering, software engineering. And so while a lot
                of companies are racing to just take the new alien level capabilities
                of writing code and adding it to the existing value network, the existing
                way of developing software, such as in Loverbill, right? So Loverbill
                are basically... addressing the non-consumers, making them consumers,
                but also tapping into the more curious engineers and so forth and
                accelerating them. And this is great and they''re printing money,
                so I''m happy for them. But what we''re thinking of a bit forward
                is actually how does it change the way we make software? And so our
                thesis is that actually this new... capability changes how we should
                think about software and the way of moving away from apps to something
                which is more ephemeral, right? Because if everyone has the ability
                to create an app, right, it doesn''t really make sense that everyone
                creates apps every two days, yeah? And what we imagine is more a world
                where it''s more fluid, less defined, but really it''s empowered by
                the capabilities of the machine to create. And so we''re calling it
                software that you can summon. And so we believe that there will be
                a growing chunk of software that will no longer justify entire teams
                and entire companies. You will just have this ephemeral platform where
                you will be able to create something or ask for something and it will
                be materialized for you. And you can use it for as long as you want.
                It will adapt to your needs. Or you can tell it to go away if you
                don''t want it anymore and so forth. Quite a few people are talking
                about it today, like with disposable software, ambient software, manual
                software and so forth. So we started this company because we really
                like this vision, we like this idea, and we want to be a part of making
                that happen. Because like I said, AI capabilities are somewhere here
                and so like the tip of the iceberg, still very early. But all the
                rest of the ecosystem of creating software is somewhere on this level.
                So there''s sort of like an ecosystem like a mismatch, if you will.
                And so to enable this kind of fluid software, things need to change.
                Things need to change in our tools, in our infrastructure, and the
                way we approach how software is being built. And so this can''t happen
                on the existing ecosystem. So far, so good.

                [00:10:02] Alexander Sainty: I think so. Can you give me a real-life
                use case?

                [00:10:07] Iris ten Teije: Yeah, so I think the perfect example for
                this is really all the small app building that people are doing today
                for their own use. So a big chunk of, let''s say, Loverbill users
                are people who need some form of software in their life. They don''t
                have the capabilities to build it properly as a hobby like an engineer.
                They don''t have the money to hire an engineer. and they don''t want
                to wait around for a company and pay them like $20 a month in order
                to consume that software. So they create their own personal thing.
                And we have heard a lot of interesting stories, right? Some of them
                are like gardening things, which are a bit more banal, but some of
                them is like co-parenting apps and things like that. And so I think
                this is like the canary use case, right? Where it''s almost software
                that it''s sort of like day-to-day, almost routine, right? but it''s
                commoditized. And we''ve been through those types of software so many
                times that we literally have patterns for just minus a few tweaks.
                And so this would be the starting point. But I think as history has
                shown, you have this growing layer of abstraction. And so more and
                more software like that will become prevalent beyond just my own personal
                use, but things which are today commonplace apps that you install
                on your phone. I hope it clarifies it.

                [00:11:28] Alexander Sainty: Yeah. So you''re a multi-modal platform
                builder, prompt-based engineering startup,

                [00:11:38] Iris ten Teije: basically? No. So that''s the vision. And
                now our first avenue to attack this is not to say, here''s another
                coding agent or here''s another building platform, because there''s
                enough of those, right? And as I said, in our vision, the thinking
                is, the problem is fundamental. The problem is that we don''t have
                the tools or the infer to even support this idea right now, because
                everything is app and everything is still based on like principles
                of CI CD from 15 years ago. Right. And so how we''re looking to attack
                it is actually from the bottom up. Right. So to change how people
                build software today that can also enable this. And so So there''s
                kind of like a two-pronged thing. One is to say there is... a new
                type of person, right? Today, it''s a vibe coders. We call them software
                creators, right? And essentially, those people right now are being
                underserved. Why underserved? Because except for the coding agent
                and except for the platform like Lovable, everything else in the ecosystem
                is designed for


                [00:12:42] Iris ten Teije: engineers, engineering teams, Fortune 500
                companies, and so forth. And so you see people struggle with, you
                know, I hate Superbase. I don''t know how to secure my thing. I''m
                afraid to take it to deployment, and so forth. right? This is, you
                know, this is the tool is being unsuitable for the needs of the person.
                And so if you take the, if you take this assumption where, you know,
                you need something which is not, let''s say, Git plus AI or Versa
                plus AI, but you need something different, then you can say, okay,
                how can I serve this type of person better, right? With these new
                ideas with more relevant tools, more convenient, easier to use, easier
                to understand. on a higher abstraction. And the second part of this
                is, can we create those tools for those new people, which we assume
                will also change how people work in the future? Like, you imagine
                a person right now in high school who''s learning how to program,
                you''re not going to program like I did, right? You''re going to program
                a lot differently. And so can we create these new tools while changing
                the status quo of how software is being built to materialize the vision
                of the fluid software?

                [00:13:55] Alexander Sainty: Okay, so you''re actually building the
                new coding interface that will enable this paradigm shift.

                [00:14:03] Iris ten Teije: Yeah, so we''re talking about this, right?
                And there''s a lot of things involved here because the infrastructure
                and the way we create all this is huge. It''s an immense task, right?
                And so where do you start? So our starting assumption was trying to
                find the pain points that people have today, not in a reactive way
                by saying like, What do they need right now, which is about a business
                proposition, but I think it''s not really fitting our strategy. But
                more, what do we take for granted, which could be better, right? And
                could be different and serve other niches. And so our starting point
                was trying to ask something like Git and GitHub, right? Getting GitHub
                pretty big, like I said, serving developers. Still not the... easiest
                user-friendly kind of interface, very optimized for engineers. What
                if GitHub could feel like... Google Docs plus iCloud in terms of ease
                of use and convenience, right? Or what if this type of system could
                bundle in more things for convenience? We hear a lot of users complain,
                you know, I can''t, you know, my project has become so big and now
                I want to prompt for a change. But there''s so many details I have
                to include into the prompt so it doesn''t fuck anything up that I''m
                not really sure like what to do, right? Because, you know, maybe I
                get like unintended side effects or maybe it won''t understand me
                properly. But you can imagine a smarter system, right, where you have
                the code, you know what it looks like. Yeah. And analyze it better,
                you know everything about it, so you can provide more intelligence
                over it. So you could sort of ask yourself, like, what if GitHub right
                now took all the code it had, but analyzed it as though it was an
                ID, right? And what intelligence can you give to it? What convenience
                can you give being that?

                [00:15:54] Alexander Sainty: Interesting.

                [00:15:56] Iris ten Teije: Yeah. add and summarize. So, we want to
                build infrastructure for this new generation of software creators.
                And from what angle we''re coming from or what''s the exact starting
                point, that''s still a little bit open. We''ve been talking to people
                like, okay, what are the pain points this persona faces? Aside from
                code generation, like let''s leave code generation aside. So there''s
                a couple of things, right? So collaboration, security. understanding
                what''s going on, understanding their code base, understanding how
                do all of the different components of their app backend, how does
                everything work together. So we''re looking to tackle those different
                areas. And the question is, where do we start? But ultimately, it
                can all be part of one product.

                [00:16:44] Alexander Sainty: So your client is a software creator,

                [00:16:46] Iris ten Teije: ultimately.

                [00:16:48] Alexander Sainty: And that client is somewhere between
                completely tourist. and not quite a professional software engineer.
                So that''s the spread. Yeah. And let''s just say for the case of argument,
                or the sake of argument, that they are a sole trader or either they''re
                educating themselves or an upskilling or they''re someone who has
                a need. Let''s just say that that need is... probably commercial so
                they''re a sole trader although you might have like co-parenting apps
                and you know um community get-together things and all this kind of
                stuff which are all sort of more more altruistic um uh then so your
                your your sort of icp is 17 to 50 um and could look like anyone from
                any geography um which is tricky, and then narrowing it back it''s
                at what point of their journey are they finding things difficult or
                running into walls or facing... So for me, I mean, it''s interesting,
                I am a lovable user and... And for me, it''s always come back to data
                orchestration. That''s the bit that''s always difficult.

                [00:18:29] Iris ten Teije: Can you go into more details about that?
                I think I know what you mean, but I just want to make sure.

                [00:18:33] Alexander Sainty: I have a system of record, in my case,
                Atio. And it''s about... If I''m creating a front end, which effectively
                every single app is, I need to sort out the back end. So, you know,
                Superbase or GitHub or whatever. it is. But actually that''s not my
                problem. My problem is the data and how I''m efficiently piping data
                both ways. So it''s sort of the hair on fire problem because, you
                know, I spend, if you look like the next generation of sort of, you
                know, systems of record, they''re all trying to solve this problem,
                you know, but they''re all gated communities. So, you know, Pipedrive
                doesn''t integrate with

                [00:19:27] Iris ten Teije: Apollo. Stack One, they launched an


                [00:19:29] Iris ten Teije: interesting product yesterday, Disco.dev.
                It''s specifically for AI agents to connect to data. I''ll send it
                to you later. It''s actually, and also they have it at Atio as well.
                But yeah, I get, yeah. And also for, to just go back to the original
                question around ICP. So from our conversation so far, it''s mostly
                people like the solopreneurs who are serious about, you know, they
                want to actually get this. product that they''re building into the
                world. Even the example of the co-parenting, the guy actually said,
                oh, I think this is like a hundred million dollar market size. And
                also what we''re seeing with the, yeah, the conversations that we''re
                having. It''s actually most of these people. They are ex or current
                product managers and designers. And that''s why they''re like a little
                bit more serious and like more on the forefront of these new trends
                and they know how to use tools. So yeah, I do think we are able to
                sort of narrow down that target audience. And quite often what they
                do as well is they jump around between tools. So they use Lovable.
                This is a very common scenario. They use Lovable to start their...
                there. start their project, create a nice UI, set up the basics, and
                then at some point they might export the code, use cursor or cloud
                to make changes or do more complex stuff. Yeah, and so like our baseline
                ICP, we were saying it''s not an engineer, so it needs help. Sorry,
                they need help. They are professionals, which means they have a means
                of payment. 16 year olds, sorry, let''s talk in three years, right?
                And they''ve graduated away from somewhere like LogoBurrow, somewhere
                like Replit into something more robust like Cursor or Podcode. The
                reason for that is that there''s a lot of handholding in the walled
                gardens, right? And so the need isn''t that big in our case. And this
                past few weeks we''ve been interviewing a lot of people are trying
                to find cracks in this, right? So one crack we have found is we don''t
                necessarily need to get them when they''re already on the cursor,
                but rather than they are prepared to make the leap, for example, or
                they want to make the leap but they''re worried about X number of
                things, right? Because we see a huge variance, right? Like I said,
                there''s a commonality, right? Where like what was their profession
                to begin with? But there''s also a huge variance in and how comfortable
                they feel, right? they feel once they learn something, the ownership
                that they feel after they learn it. Some people say, yeah, I''ve learned
                Git, but I''d happily give it up. I don''t care. And some people say,
                I''ve learned Git and I don''t need anything else. I''m fine with
                it. It''s great now. And so this is like the, right now we''re like
                mid hyper experimentation with the the minutiae of the ICP really.

                [00:22:23] Alexander Sainty: Yeah. It''s such a tricky space because
                it''s moving so fast. I mean, if you take Loverbill as an example,
                their view is build platform, don''t make it perfect, make it a delightful
                experience, lean into hyperbole. to drive adoption and then retrospectively
                make it the best possible user experience. So you would have seen
                that they''ve just hired a CISO, for example. So now the next thing
                is solve security. Make it so that you don''t even have to think about
                it. And then it will be, and you''ve already seen that they''ve now
                actually created effectively Superbase internally. So that they''re
                removing dependency on other tools. I see a future where you basically
                have your, as I said, system of record, and you basically say connect
                to my system of record and you tell it what you say, I am a gardener
                and here is my list of clients, fill me up. And it''ll just, you know,
                and it''ll then say, have you thought about building this, this and
                this? Or have you, you know, would this help you? in your day-to-day.
                But that perfect synchronicity across your system of record and the
                application there is the thing that I think is driving most people
                to distraction. Because for me, I have to use one, two, three, three,
                three. So I have to do stack sync, Atio Superbase to get a front end
                to work. which could be solved with a post-SQL database or something,
                but I don''t have the technical ability to do that. I think you''re
                right. I think if you can hit the next generation of wherever it is
                that developers live, there''s a great opportunity. but you''re growing
                a dart at a moving target, which is super hard. And yeah, I''m also
                kind of trying to think about like when you actually start making
                money. I know that''s not the most important thing. So I mean, the
                reason that I invested in Lovable was because Anton had distribution
                from day dot. He owned a repository called GitHub engineer. Sorry,
                And so when I spoke to him, he had 50,000 developers who were following
                him. That''s why I invested. Plus, his story was incredibly consistent.
                He said, this will be the last software you ever buy. That was the
                first meeting and the first piece of paper I got given by him, which
                literally was a piece of paper, said the last software you''ll ever
                buy. So he has been closely consistent in his vision, but he had that
                network and I think for me it''s the thing that you guys need to articulate
                other than you know that you''re both extremely bright and come from
                respectively entrepreneurial backgrounds where you''ve seen you know
                how difficult it is to build a business but you''ve also seen scale
                and you know you are both in kind of a modicum representative of your
                customer base. but ultimately the three questions are why you why
                this why now


                [00:26:29] Alexander Sainty: um that''s that''s it if you can if you
                can articulate that then everything else becomes easy um might say
                easy but then the other thing is is right to win so like you know
                where where anton has been because he''s he''s not you know he''s
                not the messiah he he''s he gets things wrong a lot um but where he''s
                been absolutely brilliant more brilliant than probably any founder
                I''ve ever seen is in two regards. One is his ability to make bold
                claims, which then become fact. So his marketing genius. And then
                the other thing is his ability to attract and retain talent. And I
                think one of the things that other companies struggle with is that.
                how do you how do you beat someone who is getting you know for every
                single job post 10 000 applicants from literally the highest quality
                people you''ve ever seen i mean the the standard of excellence is
                bonkers and it''s very difficult to win against a company that is
                attracting the most talented people globally so so i think the conversation
                is less now what are you building because software has become so fluid
                i mean i passed on the first round of stack one because i didn''t
                see the point of yet another sat integration company couldn''t have
                been more wrong right um because they''ve evolved and pivoted and
                iterated into um this new thing that you''ve just described iris uh
                the thing that''s constant is that they were brilliant and i should
                have just been like you''re brilliant um And so it''s how do you communicate
                that, that you guys are exactly the right people to solve this problem.
                And you''re creating this ecosystem and and pull to attract the talent
                that will mean that you will be able to deliver on a promise of whatever
                this is, because it''s so abstract.

                [00:28:43] Iris ten Teije: It will get less abstract.

                [00:28:46] Alexander Sainty: I have no doubt. I mean, even even if
                you came out. of the gates and said, hey, look, we''re building GitHub
                Mark 2. You know, that would be probably enough to put yourself on
                a path.

                [00:28:59] Iris ten Teije: This is like the initial claim. Sorry to
                interrupt you. The problem we have with this right now, or I personally
                have with this right now, is that, you know, rarely positioning yourself
                directly against like an incumbent works, right? And so you need to
                find like a bit more creative positioning for it to be more effective.
                So it''s not a direct comparison, but, you know. how do you lean into
                the niches and the weaknesses which is like a focus of ours right
                now, right?

                [00:29:27] Alexander Sainty: To an extent, I agree and I disagree.
                I think actually now is a moment in history where you can position
                yourself against the incumbents because you know you can say things
                like, so like you know if you take like Xero in Finland who you know
                reinventing CRM, they were very confident in saying like Salesforce
                fucking sucks and they are. you know, on the decline, not the up,
                and we are going to take their business. That is totally legitimate,
                because we now exist in this paradigm where you suddenly, where technology
                is no longer a barrier. Now you can just build like-for-like functionality,
                you know, in a very short period of time, actually saying, hey, we''re
                going to build, you know, GitHub 2.0. It''s more about the articulation,
                you know, again, I don''t want to fixate on Anton, but, you know,
                he is the closest proxy I have for what you guys are trying to do.
                And, you know, it was that, the last software you ever buy thing that
                was just constant. And, you know, he just said it. And I was like,
                oh, I get it. And so that finding that that hook, whatever it is,
                so that you can give at least someone a life raft, because I, it took
                me three, four goes before I was like, ah, I get what you guys are
                doing. And that storytelling arc is, as you all know, Iris, having
                done so many of these startups, it''s the most important thing. Because
                it''s the thing that attracts your customer. So yeah, what are you?
                I think it''s the thing that you''re trying to distill. But I like
                that you''re building for the future, not the current status quo.
                That''s cool. So what''s useful? Sorry, I''m... whether or not any
                of this is being useful. Just a guy rambling on the other end.

                [00:31:23] Iris ten Teije: You''re very useful and I think you have
                some very good insight on... what''s happening you know currently
                and like the different forces of play so this is great um i think
                like first and foremost what comes to mind for me is like you know
                a bunch of interesting people right if you know anyone who you think
                this concept would interest not not in a way like to come work with
                us necessarily or to invest but in you know people who would enjoy
                talking about this we love an intro right the more you talk about
                it you know the easier it becomes to sort of crystallize. That is
                one thing, come and find anything. Yeah, and if there''s anyone in
                your network that is very into vibe coding, it doesn''t really matter
                what their job is. Yeah, I''d love to chat.

                [00:32:10] Alexander Sainty: Okay. So other founders, investors, yeah.
                I think it would actually be useful for you. There''s a guy called
                Arlan who''s, I don''t know if you''ve read about him, he just turned
                18 and moved to London from public town and raised from local globe
                in like a week. He''s an interesting guy because he''s right at the
                sort of blurred line of what is the next thing. And then another founder
                called Eno, who''s building the security infrastructure for vibe coding.
                He might be quite interesting.

                [00:33:08] Iris ten Teije: Yeah, for sure. Because it could be someone


                [00:33:09] Iris ten Teije: we could partner with when we''ve got a
                product.

                [00:33:13] Alexander Sainty: Yeah, okay.

                [00:33:14] Iris ten Teije: So, it''ll be super interesting intros.
                We''d really appreciate it. And also, with your email on our... We
                don''t have a mailing list, but we have a list of people who are like...

                [00:33:24] Alexander Sainty: very interested which we can keep up
                to date then yeah there''s a there''s a couple of um there''s a couple
                of of funds who would be worth talking with um uh i they''ve just
                rebranded so i can''t remember that name but they''re a turkish fund
                who almost entirely do dev tools they''re very successful very successful
                um and uh they''ll like this because this is exactly what they''re
                kind of looking for um but they''re a global investor. I just can''t
                remember the name of the fund. And then, yeah, when you actually have
                something that you think you''re confident about and is a direction
                of travel, because I think for me, I don''t care what ultimately the
                product is, as long as there''s a direction of travel, because every
                business I''ve ever invested in bears no resemblance to the business
                I invested in, apart from Lovable. I was literally the only one. Although
                even then, it''s starting to change into something entirely new. So
                yeah, happy to stay in comms. If you send me just a short paragraph
                on both of you, I''m happy to send it out to founders. The problem
                is with founders is, as you know all too well, busy and can''t guarantee
                that they''re going to turn around and be like, yeah, I''d love to
                chat. Absolutely. So if you can make that message a little bit compelling,
                that would be very cool.

                [00:34:58] Iris ten Teije: Yeah, absolutely.

                [00:35:00] Alexander Sainty: Well, brilliant. Well done, guys. Into
                the unknown. Awesome. And I''m going to check out Stack One''s new
                thing as well as I try and figure out my own problems.

                [00:35:11] Iris ten Teije: All right. Thanks so much for your time,
                Alexander Sainty. And stay in touch.

                [00:35:15] Alexander Sainty: Have a lovely weekend. Bye.

                '
              columnConfiguration:
                - name: Speaker Name
                  description: Extract the full name of the speaker. Look for sections
                    in the document that specifically introduce or mention the speaker,
                    typically found in an opening paragraph, title, or header.
                - name: Fund Information
                  description: Extract detailed information about the fund. This includes
                    the fund name, fund type, and any relevant financial details. Search
                    in sections that discuss financial allocations, budgets, or funding
                    sources, often found in financial reports or summaries.
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
  /noCo/api/v2/workspaces/{workspaceId}/extraction:
    post:
      summary: Create Extraction
      parameters:
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: c2cccdf27ebaaefeffeedee0ca4cceb9333b4f31e676e4531cc208b9725bc330
      responses:
        '200':
          description: Create Extraction
      tags:
        - AI Extraction
      description: "## 1\uFE0F\u20E3 Overview\n\n**Purpose:**  \nCreates an extraction\
        \ configuration inside a workspace.\n\nSupports both **STANDARD** and **ADVANCED**\
        \ extraction modes.\n\n---\n\n## 2\uFE0F\u20E3 Endpoint\n\n``` bash\nPOST\
        \ /noCo/api/v2/workspaces/{workspaceId}/extraction\n\n ```\n\n---\n\n## 3\uFE0F\
        \u20E3 Path Parameters\n\n| Parameter | Type | Required | Description |\n\
        | --- | --- | --- | --- |\n| workspaceId | UUID | \u2705 Yes | Workspace identifier\
        \ |\n\n---\n\n## 4\uFE0F\u20E3 Authentication\n\nRequires authentication using:\n\
        \n``` bash\nx-auth-token: <token>\n\n ```\n\n---\n\n## 5\uFE0F\u20E3 Request\
        \ Headers\n\n| Header | Required |\n| --- | --- |\n| x-auth-token | \u2705\
        \ Yes |\n| Content-Type: application/json | \u2705 Yes |\n\n---\n\n## 6\uFE0F\
        \u20E3 Request Body Schema\n\n``` json\n{\n  \"title\": \"string\",\n  \"\
        extractionMode\": \"string\",\n  \"elementType\": \"string\",\n  \"elementId\"\
        : \"string\",\n  \"inputTableId\": \"string\",\n  \"outputConfiguration\"\
        : {},\n  \"columnConfiguration\": [],\n  \"primaryKeyColumnId\": [],\n  \"\
        storeExtractedData\": true,\n  \"scheduleType\": \"string\",\n  \"schedule\"\
        : {},\n  \"advancedSchema\": {}\n}\n\n ```\n\n---\n\n## 7\uFE0F\u20E3 Field\
        \ Descriptions\n\n### Extraction Configuration Fields\n\n| Field | Type |\
        \ Required | Description |\n| --- | --- | --- | --- |\n| title | string |\
        \ \u2705 Yes | Extraction configuration title |\n| extractionMode | string\
        \ | \u2705 Yes | STANDARD or ADVANCED |\n| elementType | string | \u2705 Yes\
        \ | FILE, FOLDER, or COLUMN |\n| elementId | string | Required for COLUMN\
        \ | ID of the column/file/folder |\n| inputTableId | string | Required for\
        \ COLUMN | ID of the Workbook |\n| outputConfiguration | object | \u2705 Yes\
        \ | Output details (title, tableId) |\n| columnConfiguration | array | \u274C\
        \ No | Column definitions |\n| primaryKeyColumnId | array | Required for COLUMN\
        \ | Primary key column IDs |\n| storeExtractedData | boolean | \u274C No |\
        \ Store extracted data flag |\n| scheduleType | string | \u274C No | MANUAL\
        \ |\n| schedule | object | \u274C No | Schedule object with cronExpression\
        \ |\n| advancedSchema | object | Required for ADVANCED | JSON schema for advanced\
        \ extraction |\n\n---\n\n## 8\uFE0F\u20E3 Example Request\n\n``` bash\ncurl\
        \ --location 'https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/extraction'\
        \ \\\n--header &#x27;x-auth-token: <token>&#x27; \\\n--header 'Content-Type:\
        \ application/json' \\\n--data '{\n  \"title\": \"config test\",\n  \"extractionMode\"\
        : \"ADVANCED\",\n  \"elementType\": \"COLUMN\",\n  \"elementId\": \"40743480-286a-4531-b3f3-7d0b68018c9d\"\
        ,\n  \"storeExtractedData\": true,\n  \"scheduleType\": \"MANUAL\",\n  \"\
        schedule\": {\n    \"cronExpression\": \"\"\n  },\n  \"outputConfiguration\"\
        : {\n    \"createNewWorkbook\": true,\n    \"title\": \"sample transcripts\
        \ output\"\n  },\n  \"inputTableId\": \"7963e2b4-dddc-4dd4-8c44-8c70c47da692\"\
        ,\n  \"primaryKeyColumnId\": [\n    \"ee42ef18-0d8a-461e-bae1-4370a8c13fec\"\
        \n  ]\n}'\n\n ```\n\n---\n\n## 9\uFE0F\u20E3 Behavior Summary\n\nCreates an\
        \ extraction configuration within a workspace.\n\nSupports:\n\n- STANDARD\
        \ and ADVANCED extraction modes\n    \n- File, folder, or column-based extraction\n\
        \    \n- Optional scheduling\n    \n- Output workbook configuration\n    \n\
        - Schema-based extraction processing"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                extractionMode:
                  type: string
                elementType:
                  type: string
                elementId:
                  type: string
                storeExtractedData:
                  type: boolean
                scheduleType:
                  type: string
                schedule:
                  type: object
                  properties:
                    cronExpression:
                      type: string
                outputConfiguration:
                  type: object
                  properties:
                    createNewWorkbook:
                      type: boolean
                    title:
                      type: string
                inputTableId:
                  type: string
                primaryKeyColumnId:
                  type: array
                  items:
                    type: string
                columnConfiguration:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      description:
                        type: string
                      uiMetadata:
                        type: object
                        properties:
                          title:
                            type: string
                      uiDataType:
                        type: string
                advancedSchema:
                  type: object
                  properties:
                    type:
                      type: string
                    additionalProperties:
                      type: boolean
                    properties:
                      type: object
                      properties:
                        title:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        duration_seconds:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        language_code:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        speaker_count:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        segments:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                properties:
                                  type: object
                                  properties:
                                    speaker:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    start_time:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    end_time:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    text:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    confidence:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    words:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                        items:
                                          type: object
                                          properties:
                                            type:
                                              type: string
                                            properties:
                                              type: object
                                              properties:
                                                word:
                                                  type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                    description:
                                                      type: string
                                                start_time:
                                                  type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                    description:
                                                      type: string
                                                end_time:
                                                  type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                    description:
                                                      type: string
                                                confidence:
                                                  type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                    description:
                                                      type: string
                                            required:
                                              type: array
                                              items:
                                                type: string
                                required:
                                  type: array
                                  items:
                                    type: string
                    required:
                      type: array
                      items:
                        type: string
            example:
              title: config test
              extractionMode: ADVANCED
              elementType: COLUMN
              elementId: 40743480-286a-4531-b3f3-7d0b68018c9d
              storeExtractedData: true
              scheduleType: MANUAL
              schedule:
                cronExpression: ''
              outputConfiguration:
                createNewWorkbook: true
                title: sample transcripts output
              inputTableId: 7963e2b4-dddc-4dd4-8c44-8c70c47da692
              primaryKeyColumnId:
                - ee42ef18-0d8a-461e-bae1-4370a8c13fec
              columnConfiguration:
                - name: title
                  description: Optional title or identifier for the transcript (e.g.,
                    meeting name, interview subject).
                  uiMetadata:
                    title: Title
                  uiDataType: SINGLE_LINE_TEXT
                - name: duration_seconds
                  description: Total duration of the transcribed audio/video in seconds.
                  uiMetadata:
                    title: Duration Seconds
                  uiDataType: NUMBER
                - name: language_code
                  description: BCP-47 language code of the transcript (e.g., 'en-US',
                    'es-ES').
                  uiMetadata:
                    title: Language Code
                  uiDataType: SINGLE_LINE_TEXT
                - name: speaker_count
                  description: The total number of unique speakers identified in the
                    transcript.
                  uiMetadata:
                    title: Speaker Count
                  uiDataType: NUMBER
                - name: segments
                  description: An array of spoken segments or utterances, each representing
                    a continuous speech turn by a single speaker.
                  uiMetadata:
                    title: Segments
                  uiDataType: JSON
              advancedSchema:
                type: object
                additionalProperties: false
                properties:
                  title:
[...]
