openapi: 3.0.0
info:
  title: DataGOL APIs
  version: 1.0.0
  description: ''
servers:
  - url: https://be.datagol.ai
    description: DataGOL API server
paths:
  /idp/api/v1/user/login:
    post:
      summary: Login to DataGOL
      parameters:
        - name: accept-language
          in: header
          required: false
          deprecated: false
          schema: {}
          example: en-US,en;q=0.9
        - name: origin
          in: header
          required: false
          deprecated: false
          schema: {}
          example: https://app.datagol.ai
        - name: priority
          in: header
          required: false
          deprecated: false
          schema: {}
          example: u=1, i
        - name: referer
          in: header
          required: false
          deprecated: false
          schema: {}
          example: https://app.datagol.ai/
        - name: sec-ch-ua
          in: header
          required: false
          deprecated: false
          schema: {}
          example: '"Google Chrome";v="143", "Chromium";v="143", "Not A(Brand";v="24"'
        - name: sec-ch-ua-mobile
          in: header
          required: false
          deprecated: false
          schema: {}
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          required: false
          deprecated: false
          schema: {}
          example: '"macOS"'
        - name: sec-fetch-dest
          in: header
          required: false
          deprecated: false
          schema: {}
          example: empty
        - name: sec-fetch-mode
          in: header
          required: false
          deprecated: false
          schema: {}
          example: cors
        - name: sec-fetch-site
          in: header
          required: false
          deprecated: false
          schema: {}
          example: same-site
        - name: user-agent
          in: header
          required: false
          deprecated: false
          schema: {}
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36
      responses:
        '200':
          description: Login to DataGOL
          headers:
            Date:
              schema:
                type: string
              example: Fri, 06 Feb 2026 17:21:33 GMT
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            Server-Timing:
              schema:
                type: string
              example: >-
                traceparent;desc="00-001fd4c5ab5a901b1f08f415d31c8952-339be12989db27c3-01"
            Access-Control-Expose-Headers:
              schema:
                type: string
              example: Authorization
            Vary:
              schema:
                type: string
              example: >-
                origin,access-control-request-method,access-control-request-headers,accept-encoding
            Access-Control-Allow-Origin:
              schema:
                type: string
              example: https://app.datagol.ai
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
              example: 'true'
            TRACE_ID:
              schema:
                type: string
              example: 95180b5b1e86173d
            SPARK_JOB_GROUP_ID:
              schema:
                type: string
              example: 6a48702b-ca48-4d2f-a0f8-f87df5ae52a2
            Authorization:
              schema:
                type: string
              example: >-
                Bearer
                eyJhbGciOiJIUzUxMiJ9.eyJtZmFfc3RhdHVzIjoiTk9UX1JFUVVJUkVEIiwic3ViIjoic2FpKzEwMDBAaW5uY3JldGVjaC5jb20iLCJwZXJtaXNzaW9ucyI6WyJWSUVXX0RBVEFTT1VSQ0UiLCJERUxFVEVfVVNFUlMiLCJWSUVXX1VTRVJTIiwiVklFV19KT0JTIiwiQ1JFQVRFX0NPTk5FQ1RPUlMiLCJDUkVBVEVfVVNFUlMiLCJWSUVXX0NPUElMT1QiLCJFRElUX0RBVEFTT1VSQ0UiLCJERUxFVEVfREFUQVNPVVJDRSIsIkVESVRfTEFLRUhPVVNFIiwiVklFV19DT05ORUNUT1JTIiwiQ1JFQVRFX1BJUEVMSU5FIiwiVklFV19MQUtFSE9VU0UiLCJDUkVBVEVfREFUQVNPVVJDRSIsIkNSRUFURV9MQUtFSE9VU0UiLCJFRElUX1VTRVJTIiwiREVMRVRFX0xBS0VIT1VTRSIsIkVESVRfUElQRUxJTkUiLCJWSUVXX0FMRVJUUyIsIkVESVRfQ09OTkVDVE9SUyIsIkRFTEVURV9QSVBFTElORSIsIkRFTEVURV9DT05ORUNUT1JTIiwiQVNTSUdOX1JPTEVTIiwiVklFV19QSVBFTElORSJdLCJyb2xlcyI6WyJBQ0NPVU5UX0FETUlOIiwiQ09QSUxPVEhVQl9NRU1CRVIiLCJMQUtFSE9VU0VfQURNSU4iLCJDT05ORUNUT1JfQURNSU4iXSwiZXhwIjoxNzcwNzU4NDkzLCJpYXQiOjE3NzAzOTg0OTN9.EgU3TIa1V5Cm9ihXVXbA5jRoc_dDCe5M-7vM-3I0UTVa4bkzAK-Xld72lyw0TJ0A9Yum3xABF_dl71qWqbHG-A
            X-Content-Type-Options:
              schema:
                type: string
              example: nosniff
            X-XSS-Protection:
              schema:
                type: string
              example: 1; mode=block
            Cache-Control:
              schema:
                type: string
              example: no-cache, no-store, max-age=0, must-revalidate
            Pragma:
              schema:
                type: string
              example: no-cache
            Expires:
              schema:
                type: integer
              example: '0'
            Strict-Transport-Security:
              schema:
                type: string
              example: max-age=31536000 ; includeSubDomains
            X-Frame-Options:
              schema:
                type: string
              example: DENY
            Content-Encoding:
              schema:
                type: string
              example: gzip
      tags:
        - Getting Started
      description: >-
        Authenticates a user into the **DataGOL Platform**. On success, it
        returns the user's profile, including their administrative roles and
        assigned permissions within the workspace.


        ### 🌐 Request Info


        **Endpoint:**


        [https://be.datagol.ai/idp/api/v1/user/login](https://be.datagol.ai)


        **Method:** `POST`


        **Auth Required:** No (Initial authentication)


        ### 📥 Request Body (JSON)


        | Field | Type | Description |

        | --- | --- | --- |

        | **email** | `string` | The registered email address (e.g.,
        `user@inncretech.com`). |

        | **password** | `string` | The user's account password. |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
            example:
              email: sai+1000@inncretech.com
              password: Demo12#$
  /idp/api/v1/company/serviceAccount:
    post:
      summary: Create Service Account
      parameters:
        - name: accept-language
          in: header
          required: false
          deprecated: false
          schema: {}
          example: en-US,en;q=0.9
        - name: authorization
          in: header
          required: true
          description: Bearer token from login
          schema:
            type: string
          example: Bearer <token>
        - name: origin
          in: header
          required: false
          deprecated: false
          schema: {}
          example: https://app.datagol.ai
        - name: priority
          in: header
          required: false
          deprecated: false
          schema: {}
          example: u=1, i
        - name: referer
          in: header
          required: false
          deprecated: false
          schema: {}
          example: https://app.datagol.ai/
        - name: sec-ch-ua
          in: header
          required: false
          deprecated: false
          schema: {}
          example: '"Google Chrome";v="143", "Chromium";v="143", "Not A(Brand";v="24"'
        - name: sec-ch-ua-mobile
          in: header
          required: false
          deprecated: false
          schema: {}
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          required: false
          deprecated: false
          schema: {}
          example: '"macOS"'
        - name: sec-fetch-dest
          in: header
          required: false
          deprecated: false
          schema: {}
          example: empty
        - name: sec-fetch-mode
          in: header
          required: false
          deprecated: false
          schema: {}
          example: cors
        - name: sec-fetch-site
          in: header
          required: false
          deprecated: false
          schema: {}
          example: same-site
        - name: user-agent
          in: header
          required: false
          deprecated: false
          schema: {}
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36
      responses:
        '200':
          description: Create Service Account
          headers:
            Date:
              schema:
                type: string
              example: Fri, 06 Feb 2026 17:50:43 GMT
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            Server-Timing:
              schema:
                type: string
              example: >-
                traceparent;desc="00-b79d48bea15a5c981f580142e3710bcd-60706b9b0b5285e0-01"
            Access-Control-Expose-Headers:
              schema:
                type: string
              example: Authorization
            Vary:
              schema:
                type: string
              example: >-
                origin,access-control-request-method,access-control-request-headers,accept-encoding
            Access-Control-Allow-Origin:
              schema:
                type: string
              example: https://app.datagol.ai
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
              example: 'true'
            TRACE_ID:
              schema:
                type: string
              example: e25090d00071f7ea
            SPARK_JOB_GROUP_ID:
              schema:
                type: string
              example: 308ac0be-b49b-4a2c-912f-b89d68a684f1
            X-Content-Type-Options:
              schema:
                type: string
              example: nosniff
            X-XSS-Protection:
              schema:
                type: string
              example: 1; mode=block
            Cache-Control:
              schema:
                type: string
              example: no-cache, no-store, max-age=0, must-revalidate
            Pragma:
              schema:
                type: string
              example: no-cache
            Expires:
              schema:
                type: integer
              example: '0'
            Strict-Transport-Security:
              schema:
                type: string
              example: max-age=31536000 ; includeSubDomains
            X-Frame-Options:
              schema:
                type: string
              example: DENY
            Content-Encoding:
              schema:
                type: string
              example: gzip
      tags:
        - Getting Started
      description: >-
        ## 🤖 Create Service Account


        This endpoint creates a new service account within a specific company. A
        unique system-generated email (e.g.,
        `@inncretech.iam.serviceaccount.com`) is assigned to the account upon
        creation.


        ### 🌐 Request Info


        **Endpoint:**
        [https://be.datagol.ai/idp/api/v1/company/serviceAccount](https://be.datagol.ai)


        **Method:** `POST`


        **Auth Required:** Yes (Bearer token — `Authorization: Bearer <token>`)


        ### 📥 Request Body (JSON)


        | Field | Type | Required | Description |

        | --- | --- | --- | --- |

        | `name` | string | Yes | The unique identifier or display name for the
        service account with no spaces or special characters. |

        | `description` | string | No | A brief explanation of the account's
        purpose (can be an empty string). |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
            example:
              name: sample_service_token
              description: ''
  /idp/api/v1/company/serviceAccount/{servicetokenId}/token/reset:
    get:
      summary: Get Service Token
      parameters:
        - name: neverExpires
          in: query
          required: false
          deprecated: false
          schema: {}
          example: 'true'
        - name: accept-language
          in: header
          required: false
          deprecated: false
          schema: {}
          example: en-US,en;q=0.9
        - name: authorization
          in: header
          required: true
          description: Bearer token from login
          schema:
            type: string
          example: Bearer <token>
        - name: origin
          in: header
          required: false
          deprecated: false
          schema: {}
          example: https://app.datagol.ai
        - name: priority
          in: header
          required: false
          deprecated: false
          schema: {}
          example: u=1, i
        - name: referer
          in: header
          required: false
          deprecated: false
          schema: {}
          example: https://app.datagol.ai/
        - name: sec-ch-ua
          in: header
          required: false
          deprecated: false
          schema: {}
          example: '"Google Chrome";v="143", "Chromium";v="143", "Not A(Brand";v="24"'
        - name: sec-ch-ua-mobile
          in: header
          required: false
          deprecated: false
          schema: {}
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          required: false
          deprecated: false
          schema: {}
          example: '"macOS"'
        - name: sec-fetch-dest
          in: header
          required: false
          deprecated: false
          schema: {}
          example: empty
        - name: sec-fetch-mode
          in: header
          required: false
          deprecated: false
          schema: {}
          example: cors
        - name: sec-fetch-site
          in: header
          required: false
          deprecated: false
          schema: {}
          example: same-site
        - name: user-agent
          in: header
          required: false
          deprecated: false
          schema: {}
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36
      responses:
        '200':
          description: get service token
          headers:
            Date:
              schema:
                type: string
              example: Fri, 06 Feb 2026 18:04:42 GMT
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            Server-Timing:
              schema:
                type: string
              example: >-
                traceparent;desc="00-a5a3ff4cd08ffd9b9864ec9045e835f3-3658b6c7337bff48-01"
            Access-Control-Expose-Headers:
              schema:
                type: string
              example: Authorization
            Vary:
              schema:
                type: string
              example: >-
                origin,access-control-request-method,access-control-request-headers,accept-encoding
            Access-Control-Allow-Origin:
              schema:
                type: string
              example: https://app.datagol.ai
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
              example: 'true'
            TRACE_ID:
              schema:
                type: string
              example: 48af3a4ffc6aa02c
            SPARK_JOB_GROUP_ID:
              schema:
                type: string
              example: ff180897-f3b5-442f-855e-55a0b37f8d63
            X-Content-Type-Options:
              schema:
                type: string
              example: nosniff
            X-XSS-Protection:
              schema:
                type: string
              example: 1; mode=block
            Cache-Control:
              schema:
                type: string
              example: no-cache, no-store, max-age=0, must-revalidate
            Pragma:
              schema:
                type: string
              example: no-cache
            Expires:
              schema:
                type: integer
              example: '0'
            Strict-Transport-Security:
              schema:
                type: string
              example: max-age=31536000 ; includeSubDomains
            X-Frame-Options:
              schema:
                type: string
              example: DENY
            Content-Encoding:
              schema:
                type: string
              example: gzip
      tags:
        - Getting Started
      description: >-
        ## 🤖 Reset Service Account Token


        This endpoint resets and regenerates the access token for an existing
        service account. The newly generated token can optionally be configured
        to never expire.


        ### 🌐 Request Info


        **Endpoint:**
        [https://be.datagol.ai/idp/api/v1/company/serviceAccount/{serviceAccountId}/token/reset?neverExpires=true](https://be.datagol.ai)  

        **Method:** POST  

        **Auth Required:** Yes (Bearer token — `Authorization: Bearer <token>`)
    parameters:
      - name: servicetokenId
        in: path
        required: true
        schema:
          type: string
        example: '{{servicetokenId}}'
  /noCo/api/v2/workspaces/{workspaceId}/bulkUsers:
    post:
      summary: Add Service Email to Workspace
      parameters:
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-US,en;q=0.9
        - name: origin
          in: header
          schema:
            type: string
          example: https://app.datagol.ai
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://app.datagol.ai/
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Google Chrome";v="143", "Chromium";v="143", "Not A(Brand";v="24"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"macOS"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-site
        - name: user-agent
          in: header
          schema:
            type: string
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: cb1848f820cf4e5cb81b0cee75f5eab53c39e38d541b990da8aa3f32d116b32b
      responses:
        '200':
          description: Add Service Email to Workspace
          headers:
            Date:
              schema:
                type: string
              example: Mon, 09 Feb 2026 15:59:13 GMT
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            Server-Timing:
              schema:
                type: string
              example: >-
                traceparent;desc="00-71509cab70b1cb79910f3d67c7f3363a-be63288d61bf5ed1-01"
            Access-Control-Expose-Headers:
              schema:
                type: string
              example: Server-Timing
            Vary:
              schema:
                type: string
              example: >-
                origin,access-control-request-method,access-control-request-headers,accept-encoding
            TRACE_ID:
              schema:
                type: string
              example: 99a547c4b9c37380
            SPARK_JOB_GROUP_ID:
              schema:
                type: string
              example: 7253808d-58d3-4d4a-b448-dd96d55fd6d9
            X-Content-Type-Options:
              schema:
                type: string
              example: nosniff
            X-XSS-Protection:
              schema:
                type: string
              example: 1; mode=block
            Cache-Control:
              schema:
                type: string
              example: no-cache, no-store, max-age=0, must-revalidate
            Pragma:
              schema:
                type: string
              example: no-cache
            Expires:
              schema:
                type: integer
              example: '0'
            Strict-Transport-Security:
              schema:
                type: string
              example: max-age=31536000 ; includeSubDomains
            X-Frame-Options:
              schema:
                type: string
              example: DENY
            Content-Encoding:
              schema:
                type: string
              example: gzip
      tags:
        - Workspaces
      description: >-
        ## 👥 Add Users to Workspace (Bulk)


        This endpoint allows you to add multiple users to a specific workspace
        in a single request. Each user is assigned a role within the workspace.


        ---


        ## 🌐 Request Info


        **Endpoint:**
        https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/bulkUsers


        **Method:** POST


        **Auth Required**


        Yes (`x-auth-token`)


        ### 📥 Request Body (JSON)


        | Parameter | Type | Required | Description |

        | --- | --- | --- | --- |

        | `workSpaceUsers` | array | Yes | List of users to be added to the
        workspace |

        | `workSpaceUsers.email` | string | Yes | Email ID of the user |

        | `workSpaceUsers.role` | string | Yes | Role assigned to the user in
        the workspace (CREATOR, EDITOR, VIEWER) |

        | `message` | string | No | Optional message sent along with the invite
        |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                workSpaceUsers:
                  type: array
                  items:
                    type: object
                    properties:
                      email:
                        type: string
                        format: email
                      role:
                        type: string
                message:
                  type: string
            example:
              workSpaceUsers:
                - email: datagol-bd4ffdd8@inncretech.iam.serviceaccount.com
                  role: CREATOR
              message: ''
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
  /noCo/api/v2/workspaces:
    post:
      summary: Create Workspace
      parameters:
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-US,en;q=0.9
        - name: origin
          in: header
          schema:
            type: string
          example: https://app.datagol.ai
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://app.datagol.ai/
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Google Chrome";v="143", "Chromium";v="143", "Not A(Brand";v="24"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"macOS"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-site
        - name: user-agent
          in: header
          schema:
            type: string
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: c2cccdf27ebaaefeffeedee0ca4cceb9333b4f31e676e4531cc208b9725bc330
      responses:
        '200':
          description: create Workspace
          headers:
            Date:
              schema:
                type: string
              example: Fri, 06 Feb 2026 18:12:45 GMT
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            Server-Timing:
              schema:
                type: string
              example: >-
                traceparent;desc="00-4653e666ca3093411e45aa8d0ccb37cb-ba83c49edc86a619-01"
            Access-Control-Expose-Headers:
              schema:
                type: string
              example: Authorization
            Vary:
              schema:
                type: string
              example: >-
                origin,access-control-request-method,access-control-request-headers,accept-encoding
            Access-Control-Allow-Origin:
              schema:
                type: string
              example: https://app.datagol.ai
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
              example: 'true'
            TRACE_ID:
              schema:
                type: string
              example: 6755cec9eb9de55e
            SPARK_JOB_GROUP_ID:
              schema:
                type: string
              example: 779f1d94-40b8-4cb0-9120-0ae0cf6e9e95
            X-Content-Type-Options:
              schema:
                type: string
              example: nosniff
            X-XSS-Protection:
              schema:
                type: string
              example: 1; mode=block
            Cache-Control:
              schema:
                type: string
              example: no-cache, no-store, max-age=0, must-revalidate
            Pragma:
              schema:
                type: string
              example: no-cache
            Expires:
              schema:
                type: integer
              example: '0'
            Strict-Transport-Security:
              schema:
                type: string
              example: max-age=31536000 ; includeSubDomains
            X-Frame-Options:
              schema:
                type: string
              example: DENY
            Content-Encoding:
              schema:
                type: string
              example: gzip
      tags:
        - Workspaces
      description: >-
        ## 🧩 Create Workspace


        This endpoint creates a new workspace in the DataGOL Platform.
        Workspaces help organize users, resources, and configurations within the
        platform.


        ### 🌐 Request Info


        **Endpoint:**
        [https://be.datagol.ai/noCo/api/v2/workspaces](https://be.datagol.ai/noCo/api/v2/workspaces)  

        **Method:** POST  

        **Auth Required:** Yes (`x-auth-token`)


        ### 📥 Request Body (JSON)


        | Field | Type | Required | Description |

        | --- | --- | --- | --- |

        | name | string | Yes | The display name of the workspace. |

        | description | string | No | A brief description of the workspace (can
        be an empty string). |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
            example:
              name: sample demo workspace
              description: ''
  /noCo/api/v2/workspaces/{workspaceId}/extraction/schema/generate:
    post:
      summary: Generate Schema for Advanced Extraction
      parameters:
        - name: sec-ch-ua-platform
          in: header
          required: false
          deprecated: false
          schema: {}
          example: '"macOS"'
        - name: Referer
          in: header
          required: false
          deprecated: false
          schema: {}
          example: https://testing.datagol.ai/
        - name: User-Agent
          in: header
          required: false
          deprecated: false
          schema: {}
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36
        - name: sec-ch-ua
          in: header
          required: false
          deprecated: false
          schema: {}
          example: '"Google Chrome";v="143", "Chromium";v="143", "Not A(Brand";v="24"'
        - name: sec-ch-ua-mobile
          in: header
          required: false
          deprecated: false
          schema: {}
          example: '?0'
        - name: x-auth-token
          in: header
          required: false
          deprecated: false
          schema: {}
          example: c2cccdf27ebaaefeffeedee0ca4cceb9333b4f31e676e4531cc208b9725bc330
      responses:
        '200':
          description: Generate Schema for Advanced Extraction
          headers:
            Date:
              schema:
                type: string
              example: Thu, 19 Feb 2026 22:16:21 GMT
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            Server-Timing:
              schema:
                type: string
              example: >-
                traceparent;desc="00-d5b65710e775f2a8789f0c9d257604f1-2757d42eefd19673-01"
            Access-Control-Expose-Headers:
              schema:
                type: string
              example: Server-Timing
            Vary:
              schema:
                type: string
              example: >-
                origin,access-control-request-method,access-control-request-headers,accept-encoding
            TRACE_ID:
              schema:
                type: string
              example: f469e596bd682f9e
            SPARK_JOB_GROUP_ID:
              schema:
                type: string
              example: bdfdb406-08c2-4087-94fd-e96f4c5973ac
            X-Content-Type-Options:
              schema:
                type: string
              example: nosniff
            X-XSS-Protection:
              schema:
                type: string
              example: 1; mode=block
            Cache-Control:
              schema:
                type: string
              example: no-cache, no-store, max-age=0, must-revalidate
            Pragma:
              schema:
                type: string
              example: no-cache
            Expires:
              schema:
                type: integer
              example: '0'
            Strict-Transport-Security:
              schema:
                type: string
              example: max-age=31536000 ; includeSubDomains
            X-Frame-Options:
              schema:
                type: string
              example: DENY
            Content-Encoding:
              schema:
                type: string
              example: gzip
      x-hidden: true
      tags:
        - AI Extraction
      description: >-
        ## Generate Schema


        Generate a schema from file content or file ID.


        **Endpoint:**


        https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/extraction/schema/generate


        **Method:** POST  

        **Auth Required:** Yes (`x-auth-token`)


        ### **📥 Request Body (JSON)**


        | Field | Type | Required | Description |

        | --- | --- | --- | --- |

        | prompt | string | Yes | Instruction for schema generation |

        | content | string | Optional | File content (if not using `fileId`) |

        | fileId | string | Optional | File ID (if not using `content`) |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                content:
                  type: string
                  format: style
            example:
              prompt: extract detailed transcript
              content: >-
                [00:00:02] Sarah Miller: Yeah, great to connect.[00:00:04] Mark
                Thompson: Likewise. So just for context — Alex and I started
                working together recently. We’re very early, mostly speaking
                with potential users and understanding their pain
                points.[00:00:18] Sarah Miller: Quick intro from my side — I’ve
                spent the last 10 years in startups. Started in fintech, then
                built a SaaS company focused on workflow tools. Exited last year
                and now exploring the next venture.[00:00:32] Alex Rivera: I’m
                Alex, engineering background. Around 15 years building developer
                tools and infrastructure products. This is my second
                startup.[00:00:44] John Doe: Nice to meet you both. I run a
                small fund investing in early-stage AI and infrastructure
                companies. Also previously built and bootstrapped a company for
                nearly a decade, so I understand the founder journey
                well.[00:01:00] Sarah Miller: Amazing. So our thesis is simple —
                AI isn’t just speeding up software development, it’s changing
                how software should be built entirely. Instead of static apps,
                we’re exploring the idea of “software you can summon” —
                lightweight, adaptive tools that exist only when needed.
                [00:01:20] John Doe: Interesting. Who’s the target
                user?[00:01:23] Alex Rivera: Product managers, designers, and
                technical founders who are building tools themselves but feel
                underserved by existing infrastructure. We want to rethink the
                layer beneath the coding agents.[00:01:38] John Doe: Makes
                sense. The key will be articulating why you, why now, and what
                gives you the right to win.[00:01:46] Sarah Miller: Exactly.
                That’s what we’re refining — and conversations like this really
                help.
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
  /noCo/api/v2/workspaces/{workspaceId}/extraction/advanced/test:
    post:
      summary: Test API for Advanced Extraction
      parameters:
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"macOS"'
        - name: Referer
          in: header
          schema:
            type: string
          example: https://app.datagol.ai/
        - name: User-Agent
          in: header
          schema:
            type: string
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Not(A:Brand";v="8", "Chromium";v="144", "Google Chrome";v="144"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: c2cccdf27ebaaefeffeedee0ca4cceb9333b4f31e676e4531cc208b9725bc330
      responses:
        '200':
          description: Test API for Advanced Extraction
          headers:
            Date:
              schema:
                type: string
              example: Thu, 19 Feb 2026 22:20:18 GMT
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            Server-Timing:
              schema:
                type: string
              example: >-
                traceparent;desc="00-85e461e9bc30f29875e32a6218a2ea5b-306ac83d096e6d17-01"
            Access-Control-Expose-Headers:
              schema:
                type: string
              example: Server-Timing
            Vary:
              schema:
                type: string
              example: >-
                origin,access-control-request-method,access-control-request-headers,accept-encoding
            TRACE_ID:
              schema:
                type: string
              example: 11ef8dca2c45702e
            SPARK_JOB_GROUP_ID:
              schema:
                type: string
              example: e4c36615-6ed4-4f5b-bc0b-7ecc8b90ea2d
            X-Content-Type-Options:
              schema:
                type: string
              example: nosniff
            X-XSS-Protection:
              schema:
                type: string
              example: 1; mode=block
            Cache-Control:
              schema:
                type: string
              example: no-cache, no-store, max-age=0, must-revalidate
            Pragma:
              schema:
                type: string
              example: no-cache
            Expires:
              schema:
                type: integer
              example: '0'
            Strict-Transport-Security:
              schema:
                type: string
              example: max-age=31536000 ; includeSubDomains
            X-Frame-Options:
              schema:
                type: string
              example: DENY
            Content-Encoding:
              schema:
                type: string
              example: gzip
      x-hidden: true
      tags:
        - AI Extraction
      description: >-
        ## Test Extraction (Advanced)


        Run an advanced test extraction.


        **Endpoint:**


        https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/extraction/advanced/test  

        **Auth Required:** Yes (`x-auth-token`)


        ### **📥 Request Body (JSON)**


        | Field | Type | Required | Description |

        | --- | --- | --- | --- |

        | content | string | Yes | Inline content to test extraction |

        | advancedSchema | object | Yes | JSON schema for advanced extraction |

        | elementId | string | No | File ID for testing instead of content |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                advancedSchema:
                  type: object
                  properties:
                    type:
                      type: string
                    additionalProperties:
                      type: boolean
                    properties:
                      type: object
                      properties:
                        title:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        duration_seconds:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        language_code:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        speaker_count:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        segments:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                properties:
                                  type: object
                                  properties:
                                    speaker:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    start_time:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    end_time:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    text:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    confidence:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    words:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                        items:
                                          type: object
                                          properties:
                                            type:
                                              type: string
                                            properties:
                                              type: object
                                              properties:
                                                word:
                                                  type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                    description:
                                                      type: string
                                                start_time:
                                                  type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                    description:
                                                      type: string
                                                end_time:
                                                  type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                    description:
                                                      type: string
                                                confidence:
                                                  type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                    description:
                                                      type: string
                                            required:
                                              type: array
                                              items:
                                                type: string
                                required:
                                  type: array
                                  items:
                                    type: string
                    required:
                      type: array
                      items:
                        type: string
            example:
              content: >-
                [00:00:02] Sarah Miller: Yeah, great to connect.


                [00:00:04] Mark Thompson: Likewise. So just for context — Alex
                and I started working together recently. We’re very early,
                mostly speaking with potential users and understanding their
                pain points.


                [00:00:18] Sarah Miller: Quick intro from my side — I’ve spent
                the last 10 years in startups. Started in fintech, then built a
                SaaS company focused on workflow tools. Exited last year and now
                exploring the next venture.


                [00:00:32] Alex Rivera: I’m Alex, engineering background. Around
                15 years building developer tools and infrastructure products.
                This is my second startup.


                [00:00:44] John Doe: Nice to meet you both. I run a small fund
                investing in early-stage AI and infrastructure companies. Also
                previously built and bootstrapped a company for nearly a decade,
                so I understand the founder journey well.


                [00:01:00] Sarah Miller: Amazing. So our thesis is simple — AI
                isn’t just speeding up software development, it’s changing how
                software should be built entirely. Instead of static apps, we’re
                exploring the idea of “software you can summon” — lightweight,
                adaptive tools that exist only when needed.


                [00:01:20] John Doe: Interesting. Who’s the target user?


                [00:01:23] Alex Rivera: Product managers, designers, and
                technical founders who are building tools themselves but feel
                underserved by existing infrastructure. We want to rethink the
                layer beneath the coding agents.


                [00:01:38] John Doe: Makes sense. The key will be articulating
                why you, why now, and what gives you the right to win.


                [00:01:46] Sarah Miller: Exactly. That’s what we’re refining —
                and conversations like this really help.
              advancedSchema:
                type: object
                additionalProperties: false
                properties:
                  title:
                    type: string
                    description: >-
                      Optional title or identifier for the transcript (e.g.,
                      meeting name, interview subject).
                  duration_seconds:
                    type: number
                    description: Total duration of the transcribed audio/video in seconds.
                  language_code:
                    type: string
                    description: >-
                      BCP-47 language code of the transcript (e.g., 'en-US',
                      'es-ES').
                  speaker_count:
                    type: number
                    description: >-
                      The total number of unique speakers identified in the
                      transcript.
                  segments:
                    type: array
                    description: >-
                      An array of spoken segments or utterances, each
                      representing a continuous speech turn by a single speaker.
                    items:
                      type: object
                      properties:
                        speaker:
                          type: string
                          description: >-
                            Identifier for the speaker of this segment (e.g.,
                            'Speaker 1', 'John Doe').
                        start_time:
                          type: number
                          description: >-
                            The start time of the segment in seconds from the
                            beginning of the audio/video.
                        end_time:
                          type: number
                          description: >-
                            The end time of the segment in seconds from the
                            beginning of the audio/video.
                        text:
                          type: string
                          description: The full transcribed text of this segment.
                        confidence:
                          type: number
                          description: >-
                            Confidence score for the accuracy of this segment's
                            transcription (0.0 to 1.0).
                        words:
                          type: array
                          description: >-
                            An array of individual words within this segment,
                            with their specific timings and confidence scores.
                          items:
                            type: object
                            properties:
                              word:
                                type: string
                                description: The transcribed word.
                              start_time:
                                type: number
                                description: >-
                                  The start time of the word in seconds relative
                                  to the beginning of the audio/video.
                              end_time:
                                type: number
                                description: >-
                                  The end time of the word in seconds relative
                                  to the beginning of the audio/video.
                              confidence:
                                type: number
                                description: >-
                                  Confidence score for the accuracy of this
                                  word's transcription (0.0 to 1.0).
                            required:
                              - word
                              - start_time
                              - end_time
                      required:
                        - speaker
                        - start_time
                        - end_time
                        - text
                required:
                  - segments
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
  /noCo/api/v2/workspaces/{workspaceId}/extraction:
    post:
      summary: Create Extraction
      parameters:
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: c2cccdf27ebaaefeffeedee0ca4cceb9333b4f31e676e4531cc208b9725bc330
      responses:
        '200':
          description: Create Extraction
          headers:
            Date:
              schema:
                type: string
              example: Thu, 19 Feb 2026 22:24:02 GMT
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            Server-Timing:
              schema:
                type: string
              example: >-
                traceparent;desc="00-ecf3a25ed48a9d45d0cf655c5cb12935-a22575fcc8fa4628-01"
            Access-Control-Expose-Headers:
              schema:
                type: string
              example: Server-Timing
            Vary:
              schema:
                type: string
              example: >-
                origin,access-control-request-method,access-control-request-headers,accept-encoding
            TRACE_ID:
              schema:
                type: string
              example: f9f95e41ccb56bf2
            SPARK_JOB_GROUP_ID:
              schema:
                type: string
              example: a4349e62-01e6-4c94-a2fe-712143e48186
            X-Content-Type-Options:
              schema:
                type: string
              example: nosniff
            X-XSS-Protection:
              schema:
                type: string
              example: 1; mode=block
            Cache-Control:
              schema:
                type: string
              example: no-cache, no-store, max-age=0, must-revalidate
            Pragma:
              schema:
                type: string
              example: no-cache
            Expires:
              schema:
                type: integer
              example: '0'
            Strict-Transport-Security:
              schema:
                type: string
              example: max-age=31536000 ; includeSubDomains
            X-Frame-Options:
              schema:
                type: string
              example: DENY
            Content-Encoding:
              schema:
                type: string
              example: gzip
      x-hidden: true
      tags:
        - AI Extraction
      description: >-
        ## Create Extraction


        Create an extraction configuration (standard or advanced).


        **Endpoint:**


        https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/extraction


        **Method :** POST  

        **Auth Required:** Yes (`x-auth-token`)


        ### **📥 Request Body (JSON)**


        | Field | Type | Required | Description |

        | --- | --- | --- | --- |

        | title | string | Yes | Extraction configuration title |

        | extractionMode | string | Yes | `STANDARD` or `ADVANCED` |

        | elementType | string | Yes | `FILE`, `FOLDER`, or `COLUMN` |

        | elementId | string | Required for COLUMN | ID of the
        column/file/folder |

        | inputTableId | string | Required for COLUMN | Input table ID |

        | outputConfiguration | object | Yes | Output details (`title`,
        `tableId`) |

        | columnConfiguration | array | No | Column definitions |

        | primaryKeyColumnId | array | Required for COLUMN | Primary key column
        IDs |

        | storeExtractedData | boolean | No | Store extracted data flag |

        | scheduleType | string | No | `MANUAL` |

        | schedule | object | No | Schedule object with cronExpression |

        | advancedSchema | object | Required for ADVANCED | JSON schema for
        advanced extraction |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                extractionMode:
                  type: string
                elementType:
                  type: string
                elementId:
                  type: string
                storeExtractedData:
                  type: boolean
                scheduleType:
                  type: string
                schedule:
                  type: object
                  properties:
                    cronExpression:
                      type: string
                outputConfiguration:
                  type: object
                  properties:
                    createNewWorkbook:
                      type: boolean
                    title:
                      type: string
                inputTableId:
                  type: string
                primaryKeyColumnId:
                  type: array
                  items:
                    type: string
                columnConfiguration:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      description:
                        type: string
                      uiMetadata:
                        type: object
                        properties:
                          title:
                            type: string
                      uiDataType:
                        type: string
                advancedSchema:
                  type: object
                  properties:
                    type:
                      type: string
                    additionalProperties:
                      type: boolean
                    properties:
                      type: object
                      properties:
                        title:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        duration_seconds:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        language_code:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        speaker_count:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        segments:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                properties:
                                  type: object
                                  properties:
                                    speaker:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    start_time:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    end_time:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    text:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    confidence:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    words:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                        items:
                                          type: object
                                          properties:
                                            type:
                                              type: string
                                            properties:
                                              type: object
                                              properties:
                                                word:
                                                  type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                    description:
                                                      type: string
                                                start_time:
                                                  type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                    description:
                                                      type: string
                                                end_time:
                                                  type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                    description:
                                                      type: string
                                                confidence:
                                                  type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                    description:
                                                      type: string
                                            required:
                                              type: array
                                              items:
                                                type: string
                                required:
                                  type: array
                                  items:
                                    type: string
                    required:
                      type: array
                      items:
                        type: string
            example:
              title: config test
              extractionMode: ADVANCED
              elementType: COLUMN
              elementId: 40743480-286a-4531-b3f3-7d0b68018c9d
              storeExtractedData: true
              scheduleType: MANUAL
              schedule:
                cronExpression: ''
              outputConfiguration:
                createNewWorkbook: true
                title: sample transcripts output
              inputTableId: 7963e2b4-dddc-4dd4-8c44-8c70c47da692
              primaryKeyColumnId:
                - ee42ef18-0d8a-461e-bae1-4370a8c13fec
              columnConfiguration:
                - name: title
                  description: >-
                    Optional title or identifier for the transcript (e.g.,
                    meeting name, interview subject).
                  uiMetadata:
                    title: Title
                  uiDataType: SINGLE_LINE_TEXT
                - name: duration_seconds
                  description: Total duration of the transcribed audio/video in seconds.
                  uiMetadata:
                    title: Duration Seconds
                  uiDataType: NUMBER
                - name: language_code
                  description: >-
                    BCP-47 language code of the transcript (e.g., 'en-US',
                    'es-ES').
                  uiMetadata:
                    title: Language Code
                  uiDataType: SINGLE_LINE_TEXT
                - name: speaker_count
                  description: >-
                    The total number of unique speakers identified in the
                    transcript.
                  uiMetadata:
                    title: Speaker Count
                  uiDataType: NUMBER
                - name: segments
                  description: >-
                    An array of spoken segments or utterances, each representing
                    a continuous speech turn by a single speaker.
                  uiMetadata:
                    title: Segments
                  uiDataType: JSON
              advancedSchema:
                type: object
                additionalProperties: false
                properties:
                  title:
                    type: string
                    description: >-
                      Optional title or identifier for the transcript (e.g.,
                      meeting name, interview subject).
                  duration_seconds:
                    type: number
                    description: Total duration of the transcribed audio/video in seconds.
                  language_code:
                    type: string
                    description: >-
                      BCP-47 language code of the transcript (e.g., 'en-US',
                      'es-ES').
                  speaker_count:
                    type: number
                    description: >-
                      The total number of unique speakers identified in the
                      transcript.
                  segments:
                    type: array
                    description: >-
                      An array of spoken segments or utterances, each
                      representing a continuous speech turn by a single speaker.
                    items:
                      type: object
                      properties:
                        speaker:
                          type: string
                          description: >-
                            Identifier for the speaker of this segment (e.g.,
                            'Speaker 1', 'John Doe').
                        start_time:
                          type: number
                          description: >-
                            The start time of the segment in seconds from the
                            beginning of the audio/video.
                        end_time:
                          type: number
                          description: >-
                            The end time of the segment in seconds from the
                            beginning of the audio/video.
                        text:
                          type: string
                          description: The full transcribed text of this segment.
                        confidence:
                          type: number
                          description: >-
                            Confidence score for the accuracy of this segment's
                            transcription (0.0 to 1.0).
                        words:
                          type: array
                          description: >-
                            An array of individual words within this segment,
                            with their specific timings and confidence scores.
                          items:
                            type: object
                            properties:
                              word:
                                type: string
                                description: The transcribed word.
                              start_time:
                                type: number
                                description: >-
                                  The start time of the word in seconds relative
                                  to the beginning of the audio/video.
                              end_time:
                                type: number
                                description: >-
                                  The end time of the word in seconds relative
                                  to the beginning of the audio/video.
                              confidence:
                                type: number
                                description: >-
                                  Confidence score for the accuracy of this
                                  word's transcription (0.0 to 1.0).
                            required:
                              - word
                              - start_time
                              - end_time
                      required:
                        - speaker
                        - start_time
                        - end_time
                        - text
                required:
                  - segments
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
  /noCo/api/v2/workspaces/{workspaceId}/extraction/{extraction_id}:
    put:
      summary: Update Extraction
      parameters:
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-US,en;q=0.9
        - name: origin
          in: header
          schema:
            type: string
          example: https://testing.datagol.ai
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://testing.datagol.ai/
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Google Chrome";v="143", "Chromium";v="143", "Not A(Brand";v="24"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"macOS"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-site
        - name: user-agent
          in: header
          schema:
            type: string
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: c2cccdf27ebaaefeffeedee0ca4cceb9333b4f31e676e4531cc208b9725bc330
      responses:
        '200':
          description: Update Extraction
          headers:
            Date:
              schema:
                type: string
              example: Fri, 06 Feb 2026 18:55:18 GMT
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            Server:
              schema:
                type: string
              example: nginx/1.24.0 (Ubuntu)
            Vary:
              schema:
                type: string
              example: >-
                origin,access-control-request-method,access-control-request-headers,accept-encoding
            Access-Control-Allow-Origin:
              schema:
                type: string
              example: https://testing.datagol.ai
            Access-Control-Expose-Headers:
              schema:
                type: string
              example: Authorization
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
              example: 'true'
            TRACE_ID:
              schema:
                type: string
              example: adf4479aa4046bde
            SPARK_JOB_GROUP_ID:
              schema:
                type: string
              example: 607243bc-67c3-44bd-98b3-78c2ce8d49a8
            X-Content-Type-Options:
              schema:
                type: string
              example: nosniff
            X-XSS-Protection:
              schema:
                type: string
              example: 1; mode=block
            Cache-Control:
              schema:
                type: string
              example: no-cache, no-store, max-age=0, must-revalidate
            Pragma:
              schema:
                type: string
              example: no-cache
            Expires:
              schema:
                type: integer
              example: '0'
            X-Frame-Options:
              schema:
                type: string
              example: DENY
            Content-Encoding:
              schema:
                type: string
              example: gzip
      x-hidden: true
      tags:
        - AI Extraction
      description: >-
        ## Update Extraction


        Update an existing extraction configuration.


        **Endpoint:**


        https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/extraction/{extraction_id}


        **Method :** PUT  

        **Auth Required:** Yes (`x-auth-token`)


        ### **Path Params**


        | Param | Type | Required | Description |

        | --- | --- | --- | --- |

        | id | Long | Yes | Extraction ID |


        ### 📥 Request Body (JSON)


        | Field | Type | Required | Description |

        | --- | --- | --- | --- |

        | title | string | Yes | Extraction configuration title |

        | extractionMode | string | Yes | `STANDARD` or `ADVANCED` |

        | elementType | string | Yes | `FILE`, `FOLDER`, or `COLUMN` |

        | elementId | string | Required for COLUMN | ID of the
        column/file/folder |

        | inputTableId | string | Required for COLUMN | Input table ID |

        | outputConfiguration | object | Yes | Output details (`title`,
        `tableId`) |

        | columnConfiguration | array | No | Column definitions |

        | primaryKeyColumnId | array | Required for COLUMN | Primary key column
        IDs |

        | storeExtractedData | boolean | No | Store extracted data flag |

        | scheduleType | string | No | `MANUAL` |

        | schedule | object | No | Schedule object with cronExpression |

        | advancedSchema | object | Required for ADVANCED | JSON schema for
        advanced extraction |
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                title:
                  type: string
                extractionMode:
                  type: string
                elementType:
                  type: string
                elementId:
                  type: string
                storeExtractedData:
                  type: boolean
                scheduleType:
                  type: string
                schedule:
                  type: object
                  properties:
                    cronExpression:
                      type: string
                outputConfiguration:
                  type: object
                  properties:
                    createNewWorkbook:
                      type: boolean
                    title:
                      type: string
                    tableId:
                      type: string
                inputTableId:
                  type: string
                primaryKeyColumnId:
                  type: array
                  items:
                    type: string
                columnConfiguration:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      description:
                        type: string
                      uiMetadata:
                        type: object
                        properties:
                          title:
                            type: string
                      id:
                        type: string
                      uiDataType:
                        type: string
                advancedSchema:
                  type: object
                  properties:
                    type:
                      type: string
                    additionalProperties:
                      type: boolean
                    properties:
                      type: object
                      properties:
                        title:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        segments:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                properties:
                                  type: object
                                  properties:
                                    segmentssegmentssegmentstext:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    segmentssegmentssegmentsspeaker:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    segmentssegmentssegmentsconfidence:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    segmentssegmentssegmentssegment_id:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    segmentssegmentssegmentsend_time_seconds:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                    segmentssegmentssegmentsstart_time_seconds:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        description:
                                          type: string
                                required:
                                  type: array
                                  items:
                                    type: string
                        source_url:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        transcript_id:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                        duration_seconds:
                          type: object
                          properties:
                            type:
                              type: string
                            description:
                              type: string
                    required:
                      type: array
                      items:
                        type: string
            example:
              id: 6422272
              title: extracted transcripts config
              extractionMode: ADVANCED
              elementType: COLUMN
              elementId: 767e6bc2-b4db-4c35-9733-ff4a638772b1
              storeExtractedData: true
              scheduleType: MANUAL
              schedule:
                cronExpression: ''
              outputConfiguration:
                createNewWorkbook: false
                title: extracted transcripts
                tableId: 5722991e-c826-460b-902f-ccf241f4bc80
              inputTableId: 5a408388-4c83-4007-8921-f5b7c72509f2
              primaryKeyColumnId:
                - acd7f6ee-3c93-4f13-a854-d476aa8f8cbd
              columnConfiguration:
                - name: title
                  description: >-
                    A descriptive title for the transcript (e.g., 'Meeting with
                    John Doe', 'Interview on AI').
                  uiMetadata:
                    title: Title
                  id: d86ed28b-8642-430e-8070-3512419aee3e
                  uiDataType: SINGLE_LINE_TEXT
                - name: segments
                  description: >-
                    An ordered list of speech segments, each typically from a
                    single speaker.
                  uiMetadata:
                    title: Segments
                  id: d6882086-f833-4519-a6b4-0f1c7c620ff9
                  uiDataType: JSON
                - name: source_url
                  description: Optional URL to the original audio or video source file.
                  uiMetadata:
                    title: Source Url
                  id: 84ebd7e8-ba2f-4d2d-8a1f-9e07fe4b143b
                  uiDataType: SINGLE_LINE_TEXT
                - name: transcript_id
                  description: A unique identifier for this specific transcript.
                  uiMetadata:
                    title: Transcript Id
                  id: 48402e60-2bfa-4c55-b021-beff3040863f
                  uiDataType: SINGLE_LINE_TEXT
                - name: duration_seconds
                  description: >-
                    The total duration of the transcribed audio/video in
                    seconds.
                  uiMetadata:
                    title: Duration Seconds
                  id: 5524d94b-33a3-443b-839c-93e3c0f0fd57
                  uiDataType: NUMBER
              advancedSchema:
                type: object
                additionalProperties: false
                properties:
                  title:
                    type: string
                    description: >-
                      A descriptive title for the transcript (e.g., 'Meeting
                      with John Doe', 'Interview on AI').
                  segments:
                    type: array
                    description: >-
                      An ordered list of speech segments, each typically from a
                      single speaker.
                    items:
                      type: object
                      properties:
                        segmentssegmentssegmentstext:
                          type: string
                          description: The full transcribed text for this speech segment.
                        segmentssegmentssegmentsspeaker:
                          type: string
                          description: >-
                            Identifier or name of the speaker for this segment
                            (e.g., 'Speaker 1', 'John Doe').
                        segmentssegmentssegmentsconfidence:
                          type: number
                          description: >-
                            Overall confidence score for the accuracy of this
                            segment's transcription (0.0 to 1.0).
                        segmentssegmentssegmentssegment_id:
                          type: string
                          description: >-
                            A unique identifier for this specific speech segment
                            within the transcript.
                        segmentssegmentssegmentsend_time_seconds:
                          type: number
                          description: >-
                            The end time of the segment in seconds from the
                            beginning of the audio/video.
                        segmentssegmentssegmentsstart_time_seconds:
                          type: number
                          description: >-
                            The start time of the segment in seconds from the
                            beginning of the audio/video.
                      required:
                        - segmentssegmentssegmentstext
                        - segmentssegmentssegmentsspeaker
                        - segmentssegmentssegmentsconfidence
                        - segmentssegmentssegmentssegment_id
                        - segmentssegmentssegmentsend_time_seconds
                        - segmentssegmentssegmentsstart_time_seconds
                  source_url:
                    type: string
                    description: Optional URL to the original audio or video source file.
                  transcript_id:
                    type: string
                    description: A unique identifier for this specific transcript.
                  duration_seconds:
                    type: number
                    description: >-
                      The total duration of the transcribed audio/video in
                      seconds.
                required:
                  - title
                  - segments
                  - source_url
                  - transcript_id
                  - duration_seconds
    parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
        example: '{{workspaceId}}'
      - name: extraction_id
        in: path
        required: true
        schema:
          type: string
        example: '{{extractionId}}'
    delete:
      summary: Delete Extraction
      parameters:
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-US,en;q=0.9
        - name: origin
          in: header
          schema:
            type: string
          example: https://testing.datagol.ai
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://testing.datagol.ai/
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Google Chrome";v="143", "Chromium";v="143", "Not A(Brand";v="24"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"macOS"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-site
        - name: user-agent
          in: header
          schema:
            type: string
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: c2cccdf27ebaaefeffeedee0ca4cceb9333b4f31e676e4531cc208b9725bc330
      responses:
        '200':
          description: Success
        '204':
          description: No content
      x-hidden: true
      tags:
        - AI Extraction
      description: >-
        ## Delete Extraction


        Soft-delete an extraction configuration (sets `active=false`).


        **Endpoint:**


        https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/extraction/{extractionId}


        **Method:** DELETE  

        **Auth Required:** Yes (`x-auth-token`)


        ### **Path Params**


        | Param | Type | Required | Description |

        | --- | --- | --- | --- |

        | id | Long | Yes | Extraction ID |
  /noCo/api/v2/workspaces/{workspace_id}/extraction/{element_type}/{element_id}:
    get:
      summary: Get Extractions
      parameters:
        - name: accept-language
          in: header
          schema:
            type: string
          example: en-US,en;q=0.9
        - name: origin
          in: header
          schema:
            type: string
          example: https://testing.datagol.ai
        - name: priority
          in: header
          schema:
            type: string
          example: u=1, i
        - name: referer
          in: header
          schema:
            type: string
          example: https://testing.datagol.ai/
        - name: sec-ch-ua
          in: header
          schema:
            type: string
          example: '"Google Chrome";v="143", "Chromium";v="143", "Not A(Brand";v="24"'
        - name: sec-ch-ua-mobile
          in: header
          schema:
            type: string
          example: '?0'
        - name: sec-ch-ua-platform
          in: header
          schema:
            type: string
          example: '"macOS"'
        - name: sec-fetch-dest
          in: header
          schema:
            type: string
          example: empty
        - name: sec-fetch-mode
          in: header
          schema:
            type: string
          example: cors
        - name: sec-fetch-site
          in: header
          schema:
            type: string
          example: same-site
        - name: user-agent
          in: header
          schema:
            type: string
          example: >-
            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36
        - name: x-auth-token
          in: header
          schema:
            type: string
          example: c2cccdf27ebaaefeffeedee0ca4cceb9333b4f31e676e4531cc208b9725bc330
      responses:
        '200':
          description: Get Extractions by Element
          headers:
            Date:
              schema:
                type: string
              example: Fri, 06 Feb 2026 18:59:47 GMT
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            Server:
              schema:
                type: string
              example: nginx/1.24.0 (Ubuntu)
            Vary:
              schema:
                type: string
              example: >-
                origin,access-control-request-method,access-control-request-headers,accept-encoding
            Access-Control-Allow-Origin:
              schema:
                type: string
              example: https://testing.datagol.ai
            Access-Control-Expose-Headers:
              schema:
                type: string
              example: Authorization
            Access-Control-Allow-Credentials:
              schema:
                type: boolean
              example: 'true'
            TRACE_ID:
              schema:
                type: string
              example: a3a97af963855294
            SPARK_JOB_GROUP_ID:
              schema:
                type: string
              example: af604860-8643-45f9-8cba-da97e36c81dd
            X-Content-Type-Options:
              schema:
                type: string
              example: nosniff
            X-XSS-Protection:
              schema:
                type: string
              example: 1; mode=block
            Cache-Control:
              schema:
                type: string
              example: no-cache, no-store, max-age=0, must-revalidate
            Pragma:
              schema:
                type: string
              example: no-cache
            Expires:
              schema:
                type: integer
              example: '0'
            X-Frame-Options:
              schema:
                type: string
              example: DENY
            Content-Encoding:
              schema:
                type: string
              example: gzip
      x-hidden: true
      tags:
        - AI Extraction
      description: >-
        ## Get Extractions by Element


        List all active extractions for a specific element (file, folder, or
        column).


        **Endpoint:**


        https://be.datagol.ai/noCo/api/v2/workspaces/{workspaceId}/extraction/{element_type}/{element_id}


        **Method:** GET  

        **Auth Required:** Yes (`x-auth-token`)


        ### **Path Params**


        | Param | Type | Required | Description |

        | --- | --- | --- | --- |

        | elementType | string | Yes | `COLUMN /FILE / FOLDER` |

        | elementId | string | Yes | File/folder/column ID |
    parameters:
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
        example: '{{workspace_id}}'
      - name: element_type
        in: path
        required: true
        schema:
          type: string
        example: '{{element_type}}'
      - name: element_id
        in: path
        required: true
        schema:
          type: string
        example: '{{element_id}}'
  /noCo/api/v2/workspaces/{workspace_id}/extraction/{extraction_id}/{element_type}/{element_id}/run:
    post:
      summary: Trigger Extraction
      parameters:
        - name: extractOnlyNew
          in: query
          required: false
          deprecated: false
          schema: {}
          example: 'true'
        - name: accept-language
          in: header
          required: false
          deprecated: false
          schema: {}
          example: en-US,en;q=0.9
        - name: origin
          in: header
          required: false
          deprecated: false
          schema: {}
          example: https://testing.datagol.ai
        - name: priority
          in: header
          required: false
          deprecated: false
          schema: {}
          example: u=1, i
        - name: referer
          in: header
          required: false
          deprecated: false
          schema: {}
          example: https://testing.datagol.ai/
        - name: sec-ch-ua
          in: header
          required: false
          deprecated: false
          schema: {}
          example: '"Google Chrome";v="143", "Chromium";v="143", "Not A(Brand";v="24"'
        - name: sec-ch-ua-mobile
          in: header
          required: false
          deprecated: false
          schema: {}
[...]
